@import "utilities/mixins";

%toggle-menu-tree {
  ul.menu {
    li {
      font-weight: bold;
      margin: 7px 0;
      padding: 0;

      &.expanded, &.collapsed {
        list-style: none;

        & > .menu-inner > a:before {
          // Use the same icon for .expanded and .collapsed since the menus
          // are configured to expand all children.
          @include icon($fa-var-caret-down);
          margin-right: .5em;
        }
      }
    }

    a, .nolink {
      color: #333;
      &:hover {
        color: $blue;
      }
    }

    .menu-depth-2 >.menu-inner {
      background-color: #333;
      color: #fff;
      display: block;
      padding: 5px;

      a, .nolink {
        color: #fff;
      }
    }

    //jquery toggle
    .menu-toggle {
      display: block;
      cursor: pointer;

      &:focus {
        outline: 1px dotted #fff;
      }

      &.is-expanded:before {
        @include icon($fa-var-minus-square);
        margin-right: .5em;
      }

      &.is-collapsed:before {
        @include icon($fa-var-plus-square);
        margin-right: .5em;
      }
    }
  }
}

%views-summary {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    position: relative;
    @include hr;
    padding-right: 35px;
  }

  .summary-count {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    text-align: center;
    line-height: normal;
    color: #333;
    @include font-size(1.1);
    font-weight: 800;
    border: 1px solid $border;
    padding: 0 3px;
    min-width: 20px;
  }

  .has-filter {
    .label {
      display: none;
    }

    .active {
      &:before {
        @include icon($fa-var-times-circle);
        margin-right: .4em;
      }
    }
  }
}

%rounded-image {
  @include blue-border;
  @include border-radius(50%);
}

%underlined-field-label {
  @include font-size(1.8);
  display: block;
  border-bottom: 1px solid $yellow;
  margin-bottom: 10px;
  padding-bottom: 5px;
}