@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
/*
$vert-spacing-unit: 40px;
$horz-spacing-unit: 1em;
$page-max-width: 1250px;

$bp-responsive-nav: 40em;
$bp-mobile: 500px;
$bp-tablet: 750px;
$bp-desktop: 1000px;
$bp-desktop-large: $page-max-width;


$bp-mobile-only: max-width ($bp-mobile - 1px); // 0 - 499
$bp-tablet-portrait-only: $bp-mobile ($bp-tablet - 1px); // 500 - 699
$bp-tablet-landscape-only: $bp-tablet ($bp-desktop - 1px); // 700 - 949
$bp-tablet-only: $bp-mobile ($bp-desktop - 1px); // 500 -949
$bp-desktop-only: $bp-desktop ($bp-desktop-large - 1px); // 950 - 1249
*/
/* line 5, ../sass/utilities/_classes.scss */
.region-sidebar-first .block-menu-block ul.menu li {
  font-weight: bold;
  margin: 7px 0;
  padding: 0;
}
/* line 10, ../sass/utilities/_classes.scss */
.region-sidebar-first .block-menu-block ul.menu li.expanded, .region-sidebar-first .block-menu-block ul.menu li.collapsed {
  list-style: none;
}
/* line 13, ../sass/utilities/_classes.scss */
.region-sidebar-first .block-menu-block ul.menu li.expanded > .menu-inner > a:before, .region-sidebar-first .block-menu-block ul.menu li.collapsed > .menu-inner > a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0d7";
  margin-right: .5em;
}
/* line 22, ../sass/utilities/_classes.scss */
.region-sidebar-first .block-menu-block ul.menu a, .region-sidebar-first .block-menu-block ul.menu .nolink {
  color: #333;
}
/* line 26, ../sass/utilities/_classes.scss */
.region-sidebar-first .block-menu-block ul.menu .menu-depth-2 > .menu-inner {
  background-color: #333;
  color: #fff;
  display: block;
  padding: 5px;
}
/* line 32, ../sass/utilities/_classes.scss */
.region-sidebar-first .block-menu-block ul.menu .menu-depth-2 > .menu-inner a, .region-sidebar-first .block-menu-block ul.menu .menu-depth-2 > .menu-inner .nolink {
  color: #fff;
}
/* line 38, ../sass/utilities/_classes.scss */
.region-sidebar-first .block-menu-block ul.menu .menu-toggle {
  display: block;
  cursor: pointer;
}
/* line 42, ../sass/utilities/_classes.scss */
.region-sidebar-first .block-menu-block ul.menu .menu-toggle:focus {
  outline: 1px dotted #fff;
}
/* line 46, ../sass/utilities/_classes.scss */
.region-sidebar-first .block-menu-block ul.menu .menu-toggle.is-expanded:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f146";
  margin-right: .5em;
}
/* line 51, ../sass/utilities/_classes.scss */
.region-sidebar-first .block-menu-block ul.menu .menu-toggle.is-collapsed:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0fe";
  margin-right: .5em;
}

/* line 59, ../sass/utilities/_classes.scss */
.block .views-summary {
  margin: 0;
  padding: 0;
}
/* line 63, ../sass/utilities/_classes.scss */
.block .views-summary li {
  list-style: none;
  position: relative;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding-right: 35px;
}
/* line 70, ../sass/utilities/_classes.scss */
.block .views-summary .summary-count {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  text-align: center;
  line-height: normal;
  color: #333;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: 800;
  border: 1px solid #cccccc;
  padding: 0 3px;
  min-width: 20px;
}
/* line 86, ../sass/utilities/_classes.scss */
.block .views-summary .has-filter .label {
  display: none;
}
/* line 91, ../sass/utilities/_classes.scss */
.block .views-summary .has-filter .active:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f057";
  margin-right: .4em;
}

/* line 1, ../sass/base/_block.scss */
.block {
  padding: 10px;
}

/* line 1, ../sass/base/_fields.scss */
.field-label {
  font-size: 18px;
  font-size: 1.8rem;
}

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
/* line 7, ../sass/base/_forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #cc0000;
}
/* line 11, ../sass/base/_forms.scss */
.form-item label {
  font-weight: 700;
}

/*
 * Highlight marks and form required mark
 */
/* line 20, ../sass/base/_forms.scss */
.marker,
.form-required {
  color: #cc0000;
}

/* line 26, ../sass/base/_forms.scss */
.container-inline div,
.container-inline label {
  display: inline;
}

/* line 31, ../sass/base/_forms.scss */
.formtext {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* line 3, ../sass/base/_layout.scss */
.stella-footer-inner .block {
  float: left;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  /* line 12, ../sass/base/_layout.scss */
  .stella-footer-inner .block:first-of-type:nth-last-child(1),
  .stella-footer-inner .block:first-of-type:nth-last-child(1) ~ .block {
    width: 100%;
  }
  /* line 12, ../sass/base/_layout.scss */
  .stella-footer-inner .block:first-of-type:nth-last-child(2),
  .stella-footer-inner .block:first-of-type:nth-last-child(2) ~ .block {
    width: 50%;
  }
  /* line 12, ../sass/base/_layout.scss */
  .stella-footer-inner .block:first-of-type:nth-last-child(3),
  .stella-footer-inner .block:first-of-type:nth-last-child(3) ~ .block {
    width: 33.33333%;
  }
}

@media only screen and (min-width: 900px) {
  /* line 20, ../sass/base/_layout.scss */
  #footer-upper-wrapper .region-footer-first {
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 27, ../sass/base/_layout.scss */
  #footer-upper-wrapper .region-footer-second, #footer-upper-wrapper .region-footer-third {
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 900px) {
  /* line 27, ../sass/base/_layout.scss */
  #footer-upper-wrapper .region-footer-second, #footer-upper-wrapper .region-footer-third {
    width: 25%;
  }
}

/* line 1, ../sass/base/_panel_panes.scss */
.pane-node-created {
  font-weight: bold;
}

/* line 5, ../sass/base/_panel_panes.scss */
.panel-display {
  margin: -10px;
}

/* line 1, ../sass/base/_typography.scss */
html {
  background: white;
  font-size: 62.5%;
}

/* line 6, ../sass/base/_typography.scss */
body {
  color: #333333;
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 13, ../sass/base/_typography.scss */
p {
  margin: 0 0 10px 0;
}

/* line 17, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: normal;
}

/* line 23, ../sass/base/_typography.scss */
h1 {
  font-size: 30px;
  font-size: 3rem;
}

/* line 28, ../sass/base/_typography.scss */
h2 {
  font-size: 20px;
  font-size: 2rem;
}

/* line 33, ../sass/base/_typography.scss */
h3 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 38, ../sass/base/_typography.scss */
h4 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 43, ../sass/base/_typography.scss */
a {
  color: #4e5b6e;
  font-weight: bold;
  text-decoration: none;
}
/* line 49, ../sass/base/_typography.scss */
a:hover, a:focus {
  color: black;
}

/* line 55, ../sass/base/_typography.scss */
img {
  height: auto;
  max-width: 100%;
}
/* line 59, ../sass/base/_typography.scss */
.lt-ie9 img {
  max-width: auto;
}

/* line 1, ../sass/base/_views.scss */
.views-field-created {
  font-weight: bold;
}

/* line 2, ../sass/components/_announcements.scss */
.pane-announcements-announcements-archive .views-row {
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
/* line 6, ../sass/components/_announcements.scss */
.pane-announcements-announcements-archive .views-row-last {
  border-bottom: 0px;
}

/* line 13, ../sass/components/_announcements.scss */
.view-display-id-announcements_front_content_pane .views-field {
  margin-left: 80px;
}
/* line 17, ../sass/components/_announcements.scss */
.view-display-id-announcements_front_content_pane .views-field-field-announcement-image {
  display: block;
  float: left;
  margin-left: 0;
}
/* line 22, ../sass/components/_announcements.scss */
.view-display-id-announcements_front_content_pane .views-field-field-announcement-image img {
  margin-bottom: 10px;
  width: 70px;
  border: 3px solid #4e5b6e;
}
/* line 29, ../sass/components/_announcements.scss */
.view-display-id-announcements_front_content_pane .views-row {
  clear: left;
  margin-bottom: 10px;
}
/* line 33, ../sass/components/_announcements.scss */
.view-display-id-announcements_front_content_pane .view-footer {
  clear: both;
}

/* line 3, ../sass/components/_audience_featured.scss */
#content .pane-featured-featured-entity-reference {
  padding-bottom: 0;
}
/* line 7, ../sass/components/_audience_featured.scss */
#content .pane-featured-featured-entity-reference .featured-logo img {
  max-width: 80px;
  max-height: 80px;
}
/* line 13, ../sass/components/_audience_featured.scss */
#content .pane-featured-featured-entity-reference .block-content {
  padding: 0px;
}

/* line 4, ../sass/components/_buttons.scss */
.region-sidebar-first .views-field-field-side-button-link .button {
  width: 100%;
}

/* line 11, ../sass/components/_buttons.scss */
.button-yellow {
  display: inline-block;
  position: relative;
  font-family: "Fjalla One", sans-serif;
  background-color: #ffd451;
  color: #333;
  padding: 6px 0px 6px 6px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 30, ../sass/components/_buttons.scss */
.button-yellow:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
/* line 34, ../sass/components/_buttons.scss */
.button-yellow:hover:after {
  width: 0;
  height: 0;
  content: "";
  right: -16px;
  bottom: 0px;
  position: absolute;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid black;
}
/* line 46, ../sass/components/_buttons.scss */
.button-yellow:after {
  width: 0;
  height: 0;
  content: "";
  right: -16px;
  bottom: 0px;
  position: absolute;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #ffd451;
}

/* line 60, ../sass/components/_buttons.scss */
.page .button, .page input[type="button"], .page input[type="reset"], .page input[type="submit"] {
  display: inline-block;
  font-family: "Fjalla One", sans-serif;
  background-color: #4e5b6e;
  color: white;
  padding: 6px 12px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 78, ../sass/components/_buttons.scss */
.page .button:hover, .page .button:focus, .page input[type="button"]:hover, .page input[type="button"]:focus, .page input[type="reset"]:hover, .page input[type="reset"]:focus, .page input[type="submit"]:hover, .page input[type="submit"]:focus {
  background-color: black;
  color: white;
  text-decoration: none;
}

/* line 3, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul {
  list-style: none;
}
/* line 5, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul li {
  display: block;
  float: left;
  margin: 0.25em;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}
/* line 14, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo {
  line-height: 200px;
  width: 200px;
  text-align: center;
}
/* line 19, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo img {
  vertical-align: middle;
}

/* line 27, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane {
  overflow: hidden;
  width: 100%;
  position: relative;
}
/* line 31, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane .flexslider {
  border: 0px;
  max-width: auto;
  width: 150px;
  margin: 0 auto;
  position: static;
}
/* line 37, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane .flexslider .flex-direction-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}
/* line 44, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane .flex-viewport {
  overflow: visible !important;
}
/* line 48, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content {
  position: relative;
  height: 150px;
}
/* line 51, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 150px;
  max-height: 150px;
  height: auto;
  width: auto;
}
/* line 63, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane .flex-control-paging {
  display: none;
}

/* line 4, ../sass/components/_events.scss */
.view-display-id-events_list .views-field-field-mcf-date,
.view-display-id-events_teaser_list .views-field-field-mcf-date {
  margin-bottom: 5px;
}
/* line 8, ../sass/components/_events.scss */
.view-display-id-events_list .views-field-field-mcf-date .field-content:before,
.view-display-id-events_teaser_list .views-field-field-mcf-date .field-content:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f017";
  font-size: 1.2em;
  color: #333333;
  margin-right: 0.5em;
}
/* line 15, ../sass/components/_events.scss */
.view-display-id-events_list .views-field-field-mcf-location,
.view-display-id-events_teaser_list .views-field-field-mcf-location {
  margin-bottom: 5px;
}
/* line 19, ../sass/components/_events.scss */
.view-display-id-events_list .views-field-field-mcf-location .field-content:before,
.view-display-id-events_teaser_list .views-field-field-mcf-location .field-content:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f041";
  font-size: 1.2em;
  color: #333333;
  margin-right: 0.5em;
  padding: 0 3px;
}
/* line 27, ../sass/components/_events.scss */
.view-display-id-events_list .views-row,
.view-display-id-events_teaser_list .views-row {
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
/* line 31, ../sass/components/_events.scss */
.view-display-id-events_list .views-row-last,
.view-display-id-events_teaser_list .views-row-last {
  border-bottom: 0px;
}

/* line 37, ../sass/components/_events.scss */
.pane-views-exp-events-events-list .views-submit-button, .pane-views-exp-events-events-list .views-reset-button {
  width: auto;
}
/* line 40, ../sass/components/_events.scss */
.pane-views-exp-events-events-list input[type="text"], .pane-views-exp-events-events-list .views-widget-filter-field_event_category_tid, .pane-views-exp-events-events-list .form-select {
  width: 99%;
}

/* line 45, ../sass/components/_events.scss */
.field-name-field-mcf-date {
  margin-bottom: 5px;
}
/* line 49, ../sass/components/_events.scss */
.field-name-field-mcf-date .field-items:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f017";
  font-size: 1.2em;
  color: #333333;
  margin-right: 0.5em;
  float: left;
}

/* line 57, ../sass/components/_events.scss */
.field-name-field-mcf-location {
  margin-bottom: 5px;
}
/* line 61, ../sass/components/_events.scss */
.field-name-field-mcf-location .field-items:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f041";
  font-size: 1.2em;
  color: #333333;
  margin-right: 0.5em;
  padding: 0 3px;
  float: left;
}

/* line 1, ../sass/components/_flexslider.scss */
.flexslider {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  -webkit-box-shadow: white 0px 0px 0px;
  -moz-box-shadow: white 0px 0px 0px;
  box-shadow: white 0px 0px 0px;
}
/* line 2, ../sass/components/_flexslider.scss */
.flexslider ul {
  padding: 0px;
}
/* line 10, ../sass/components/_flexslider.scss */
.flexslider a {
  color: white;
}
/* line 12, ../sass/components/_flexslider.scss */
.flexslider a:hover {
  color: #9c8345;
  text-decoration: none;
}
/* line 18, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text, .flexslider .views-field-field-front-featured-text {
  display: block;
  overflow: hidden;
  margin-bottom: 0px;
  width: 100%;
  padding: 5px 10px 10px 10px;
  color: white;
}
/* line 25, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text a, .flexslider .views-field-field-front-featured-text a {
  color: white;
}
/* line 27, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text a:hover, .flexslider .views-field-field-front-featured-text a:hover {
  text-decoration: underline;
}
/* line 31, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text .featured-logo, .flexslider .views-field-field-front-featured-text .featured-logo {
  float: left;
  width: auto;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px dotted white;
}
/* line 38, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text h3, .flexslider .views-field-field-front-featured-text h3 {
  margin-bottom: 0px;
}
/* line 42, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-front-featured-text {
  position: absolute;
  bottom: 0px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 48, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text {
  background-color: black;
}
@media only screen and (min-width: 899px) {
  /* line 48, ../sass/components/_flexslider.scss */
  .flexslider .views-field-field-featured-text {
    position: absolute;
    bottom: 0px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* line 60, ../sass/components/_flexslider.scss */
.flexslider .flex-control-nav {
  width: auto;
  position: absolute;
  bottom: -2px;
  right: 10px;
}
/* line 66, ../sass/components/_flexslider.scss */
.flexslider .flex-control-nav li {
  margin: 0;
  padding: 0;
}
/* line 74, ../sass/components/_flexslider.scss */
.flexslider .flex-control-paging li a {
  background-color: whitesmoke;
  border-width: 0px;
  margin-left: 1px;
}
/* line 79, ../sass/components/_flexslider.scss */
.flexslider .flex-control-paging li a.flex-active {
  background-color: #ffd451;
}

/* line 2, ../sass/components/_footer.scss */
#footer-upper-wrapper h2 {
  border-bottom: 1px solid #ffd451;
  padding-bottom: 2px;
}
/* line 7, ../sass/components/_footer.scss */
#footer-upper-wrapper a.button {
  background-color: #ffd451;
  color: #000;
}
/* line 11, ../sass/components/_footer.scss */
#footer-upper-wrapper a.button:hover, #footer-upper-wrapper a.button:focus {
  background-color: #fff;
  text-decoration: none;
}

/* line 19, ../sass/components/_footer.scss */
.region-footer .block h2.block-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
  background-color: #ffd451;
  color: #000;
}
/* line 25, ../sass/components/_footer.scss */
.region-footer .block .block-content {
  text-align: center;
}
/* line 28, ../sass/components/_footer.scss */
.region-footer .block .block-content p:last-of-type {
  margin-bottom: 0;
}

/* line 1, ../sass/components/_front.scss */
.front #page-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 3, ../sass/components/_hireahawk.scss */
.pane-block-1 img, #block-block-1 img {
  width: 50%;
}
/* line 6, ../sass/components/_hireahawk.scss */
.pane-block-1 h2, #block-block-1 h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 29px;
  font-size: 2.9rem;
  text-align: center;
}

/* line 12, ../sass/components/_hireahawk.scss */
.pane-block-1 .block-content {
  background-color: #ffd451;
  padding: 10px;
}

/* line 4, ../sass/components/_in_the_news.scss */
.view-display-id-inthenews .views-row {
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
/* line 8, ../sass/components/_in_the_news.scss */
.view-display-id-inthenews .views-row-last {
  border-bottom: 0px;
}

/* line 1, ../sass/components/_messages.scss */
#messages {
  margin: 0px;
  padding: 10px;
}

/* line 1, ../sass/components/_page.scss */
body {
  background-color: #ddd;
  margin: 0;
}

/* line 6, ../sass/components/_page.scss */
#header-wrapper {
  background-color: #333;
  background: url("images/bg_tile.gif") repeat;
}

/* line 11, ../sass/components/_page.scss */
#header {
  background-color: #eee;
  background: url("images/header.png") no-repeat;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
@media only screen and (min-width: 40em) {
  /* line 11, ../sass/components/_page.scss */
  #header {
    min-height: 230px;
  }
}

/* line 23, ../sass/components/_page.scss */
#branding {
  margin-bottom: 20px;
}

/* line 27, ../sass/components/_page.scss */
#logo {
  padding: 10px 0;
}
@media only screen and (min-width: 40em) {
  /* line 27, ../sass/components/_page.scss */
  #logo {
    padding: 50px 10px 0 20px;
  }
}
/* line 33, ../sass/components/_page.scss */
#logo img {
  vertical-align: bottom;
}

/* line 38, ../sass/components/_page.scss */
#site-name {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 42, ../sass/components/_page.scss */
#site-slogan {
  font-size: 18px;
  font-size: 1.8rem;
  color: white;
  margin: -15px 0 0;
  padding: 0 10px;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 2px 2px 0, rgba(0, 0, 0, 0.2) 3px 3px 0;
}
@media only screen and (min-width: 40em) {
  /* line 42, ../sass/components/_page.scss */
  #site-slogan {
    padding-left: 80px;
  }
}

/* line 53, ../sass/components/_page.scss */
.site-logo {
  width: 320px;
}

/* line 57, ../sass/components/_page.scss */
#page-title {
  margin: 0;
  padding-left: 10px;
}

/* line 62, ../sass/components/_page.scss */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
/* line 71, ../sass/components/_page.scss */
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 82, ../sass/components/_page.scss */
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 94, ../sass/components/_page.scss */
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* line 106, ../sass/components/_page.scss */
#main-content,
#main-content-header,
#breadcrumb,
#messages,
.region-tertiary-content,
#columns {
  background: white;
}

/* line 110, ../sass/components/_page.scss */
#footer-upper-wrapper {
  background-color: #333;
  background: url("images/bg_tile.gif") repeat;
  color: #fafafa;
}
/* line 115, ../sass/components/_page.scss */
#footer-upper-wrapper a {
  color: #fafafa;
}

/* line 120, ../sass/components/_page.scss */
#footer-wrapper {
  background-color: #ffd451;
  color: #000;
}

/* line 4, ../sass/components/_people.scss */
#content .pane-node-field-people-picture .block-content, #content .pane-node-title .block-content, #content .pane-node-field-people-position .block-content, #content .pane-node-field-people-email .block-content {
  padding: 0px 10px;
}

@media only screen and (min-width: 40em) {
  /* line 12, ../sass/components/_people.scss */
  .node-type-people #page-title {
    position: absolute;
    top: -99999em;
    width: 1px;
    height: 1px;
    overflow: hidden;
    outline: 0;
  }
}
/* line 16, ../sass/components/_people.scss */
.node-type-people .pane-node-field-people-picture {
  padding-top: 0px;
}
/* line 18, ../sass/components/_people.scss */
.node-type-people .pane-node-field-people-picture img {
  border: 3px solid #4e5b6e;
}
@media only screen and (min-width: 40em) {
  /* line 16, ../sass/components/_people.scss */
  .node-type-people .pane-node-field-people-picture {
    float: right;
    width: 50%;
  }
}
/* line 27, ../sass/components/_people.scss */
.node-type-people .pane-node-title .pane-title {
  display: none;
}
/* line 30, ../sass/components/_people.scss */
.node-type-people .pane-node-title .block-content {
  display: none;
}
@media only screen and (min-width: 40em) {
  /* line 30, ../sass/components/_people.scss */
  .node-type-people .pane-node-title .block-content {
    display: block;
  }
}
@media only screen and (min-width: 899px) {
  /* line 38, ../sass/components/_people.scss */
  .node-type-people .pane-node-title, .node-type-people .pane-node-field-people-position, .node-type-people .pane-node-field-people-email {
    text-align: right;
  }
  /* line 41, ../sass/components/_people.scss */
  .node-type-people .pane-node-title {
    padding-top: 180px;
  }
  /* line 44, ../sass/components/_people.scss */
  .node-type-people .pane-node-field-people-email {
    margin-bottom: 14px;
  }
}
/* line 49, ../sass/components/_people.scss */
.node-type-people .pane-node-title, .node-type-people .pane-node-field-people-position,
.node-type-people .pane-node-field-people-email {
  overflow: hidden;
  width: 50%;
}
/* line 55, ../sass/components/_people.scss */
.node-type-people .pane-node-field-people-biography,
.node-type-people .pane-node-field-people-responsibilities, .node-type-people .pane-node-field-people-group,
.node-type-people .pane-node-links {
  overflow: inherit;
  min-width: 200px;
}

/* line 64, ../sass/components/_people.scss */
.view-display-id-people_panel_pane .views-row, .view-display-id-people_panel_pane_professional .views-row {
  min-height: 150px;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
/* line 68, ../sass/components/_people.scss */
.view-display-id-people_panel_pane .views-field-field-people-picture, .view-display-id-people_panel_pane_professional .views-field-field-people-picture {
  display: block;
  float: left;
}
/* line 72, ../sass/components/_people.scss */
.view-display-id-people_panel_pane .views-field-title, .view-display-id-people_panel_pane .views-field-field-people-position .field-content, .view-display-id-people_panel_pane .views-field-field-people-type .field-content, .view-display-id-people_panel_pane .views-field-field-people-responsibilities, .view-display-id-people_panel_pane_professional .views-field-title, .view-display-id-people_panel_pane_professional .views-field-field-people-position .field-content, .view-display-id-people_panel_pane_professional .views-field-field-people-type .field-content, .view-display-id-people_panel_pane_professional .views-field-field-people-responsibilities {
  margin-left: 110px;
}

/* line 2, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs {
  border-bottom: 1px solid #D0D0D0;
  border-collapse: collapse;
  font: inherit;
  padding: 0 10px;
}
/* line 8, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs li {
  margin: 0px;
  padding: 0 5px;
}
/* line 12, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs li a {
  background-color: #fff;
  border: 1px solid #D0D0D0;
  padding: 5px 10px 0px;
}
/* line 17, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs li a.active {
  color: #4e5b6e;
}
/* line 21, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs li a:hover, ul.quicktabs-tabs li a:focus {
  color: black;
}
/* line 27, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs li.active a {
  border-color: #D0D0D0 #D0D0D0 #FFFFFF;
  border-style: solid;
  border-width: 1px;
  color: #333;
  text-decoration: none;
}

/* line 40, ../sass/components/_quicktabs.scss */
.front .pane-quicktabs-announcements-events ul.quicktabs-tabs li a {
  font-size: 20px;
  font-size: 2rem;
}
/* line 44, ../sass/components/_quicktabs.scss */
.front .pane-quicktabs-announcements-events .block-inner {
  border-bottom: 2px solid #4e5b6e;
}
/* line 48, ../sass/components/_quicktabs.scss */
.front .pane-quicktabs-announcements-events .pane-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
/* line 51, ../sass/components/_quicktabs.scss */
.front .pane-quicktabs-announcements-events .views-field-title {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 58, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events .pane-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
/* line 62, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-tabs {
  padding: 0 5px;
}
/* line 65, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-tabs li {
  padding: 0 3px;
}
/* line 68, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-tabs li a {
  padding: 2px 5px 0;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 75, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events h3 {
  font-size: 15px;
  font-size: 1.5rem;
}

/* line 3, ../sass/components/_related_links.scss */
#content .pane-taxonomy-term-field-audience-links, #content .pane-taxonomy-term-field-program-links {
  padding-top: 0px;
}

/* line 8, ../sass/components/_related_links.scss */
.field-name-field-audience-links, .field-name-field-program-links {
  width: 100%;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 12, ../sass/components/_related_links.scss */
.field-name-field-audience-links .field-items, .field-name-field-program-links .field-items {
  width: 100%;
  text-align: center;
  background-color: #4e5b6e;
  color: white;
}
/* line 18, ../sass/components/_related_links.scss */
.field-name-field-audience-links .field-items .field-item, .field-name-field-program-links .field-items .field-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  /* line 18, ../sass/components/_related_links.scss */
  .field-name-field-audience-links .field-items .field-item, .field-name-field-program-links .field-items .field-item {
    height: 65px;
  }
}
/* line 25, ../sass/components/_related_links.scss */
.field-name-field-audience-links .field-items .field-item a, .field-name-field-program-links .field-items .field-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  font-family: "Fjalla One", sans-serif;
  color: white;
  font-weight: normal;
}
/* line 34, ../sass/components/_related_links.scss */
.field-name-field-audience-links .field-items .field-item a:hover, .field-name-field-program-links .field-items .field-item a:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
@media only screen and (min-width: 1025px) {
  /* line 45, ../sass/components/_related_links.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(1),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(1) ~ .field-item, .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(1),
  .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(1) ~ .field-item {
    width: 100%;
  }
  /* line 45, ../sass/components/_related_links.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(2),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(2) ~ .field-item, .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(2),
  .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(2) ~ .field-item {
    width: 50%;
  }
  /* line 45, ../sass/components/_related_links.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(3),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(3) ~ .field-item, .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(3),
  .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(3) ~ .field-item {
    width: 33.33333%;
  }
  /* line 45, ../sass/components/_related_links.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(4),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(4) ~ .field-item, .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(4),
  .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(4) ~ .field-item {
    width: 25%;
  }
}

/* line 3, ../sass/components/_rss.scss */
.rss-feed a:before {
  margin-right: 0.5em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f143";
  font-size: 1em;
  color: #e68b39;
}
/* line 7, ../sass/components/_rss.scss */
.rss-feed a:hover {
  text-decoration: none;
}

/* line 3, ../sass/components/_spotlight.scss */
.view-display-id-spotlight_teaser_pane .views-field-field-spotlight-image {
  display: block;
  text-align: center;
  margin: 3px;
  float: right;
}
/* line 8, ../sass/components/_spotlight.scss */
.view-display-id-spotlight_teaser_pane .views-field-field-spotlight-image img {
  border: 3px solid #4e5b6e;
}

/* line 16, ../sass/components/_spotlight.scss */
.view-display-id-spotlights_panel_pane .views-row {
  min-height: 105px;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
/* line 20, ../sass/components/_spotlight.scss */
.view-display-id-spotlights_panel_pane .views-field {
  margin: 0px;
}
/* line 23, ../sass/components/_spotlight.scss */
.view-display-id-spotlights_panel_pane .views-field-field-spotlight-image {
  float: left;
  margin-right: 10px;
}
/* line 26, ../sass/components/_spotlight.scss */
.view-display-id-spotlights_panel_pane .views-field-field-spotlight-image img {
  border: 3px solid #4e5b6e;
}

/* line 35, ../sass/components/_spotlight.scss */
.node-type-spotlight #content .block-content {
  padding: 0px 10px;
}

/* line 2, ../sass/components/_success_stories.scss */
.view-display-id-success_stories_teaser_content_pane {
  margin: 10px;
}
/* line 4, ../sass/components/_success_stories.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image {
  float: right;
}
/* line 6, ../sass/components/_success_stories.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image img {
  padding: 10px;
}
/* line 10, ../sass/components/_success_stories.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-title-1 {
  text-align: right;
}

/* line 2, ../sass/components/_videos.scss */
.media-youtube-video {
  text-align: center;
}
/* line 5, ../sass/components/_videos.scss */
.media-youtube-video .media-youtube-player {
  width: 100%;
  max-width: 640px;
}
/* line 9, ../sass/components/_videos.scss */
.media-youtube-video #player {
  height: auto;
  width: auto;
}

/* line 15, ../sass/components/_videos.scss */
.field-name-field-video-screenshot {
  text-align: center;
}

/* line 21, ../sass/components/_videos.scss */
.view-display-id-video_panel_pane .views-row {
  min-height: 105px;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
/* line 25, ../sass/components/_videos.scss */
.view-display-id-video_panel_pane .views-field-field-video-file, .view-display-id-video_panel_pane .views-field-field-video-screenshot {
  display: block;
  float: left;
}
/* line 29, ../sass/components/_videos.scss */
.view-display-id-video_panel_pane .views-field-title, .view-display-id-video_panel_pane .views-field-field-video-description {
  margin-left: 110px;
}

/* line 3, ../sass/components/navigation/_audience_menu.scss */
.region-header .block-responsive-navigation {
  padding: 0;
}
@media only screen and (min-width: 40em) {
  /* line 3, ../sass/components/navigation/_audience_menu.scss */
  .region-header .block-responsive-navigation {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}
/* line 12, ../sass/components/navigation/_audience_menu.scss */
.region-header .block-responsive-navigation .block-title {
  background-color: #000;
  color: #fff;
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
@media only screen and (min-width: 40em) {
  /* line 12, ../sass/components/navigation/_audience_menu.scss */
  .region-header .block-responsive-navigation .block-title {
    float: left;
    margin-bottom: 0;
    padding: 10px;
    font-size: 14px;
    font-size: 1.4rem;
    position: relative;
    top: auto;
    width: auto;
    height: auto;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 12, ../sass/components/navigation/_audience_menu.scss */
  .region-header .block-responsive-navigation .block-title {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 40em) {
  /* line 30, ../sass/components/navigation/_audience_menu.scss */
  .region-header .block-responsive-navigation .block-content {
    float: left;
  }
}
/* line 35, ../sass/components/navigation/_audience_menu.scss */
.region-header .block-responsive-navigation .block-content a#nav-toggle {
  background-color: #000;
  color: #fff;
  display: block;
  padding: 10px;
  text-align: center;
}
/* line 42, ../sass/components/navigation/_audience_menu.scss */
.region-header .block-responsive-navigation .block-content a#nav-toggle:before {
  margin-right: 0.5em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  font-size: 1.2em;
}
/* line 47, ../sass/components/navigation/_audience_menu.scss */
.region-header .block-responsive-navigation .block-content a#nav-toggle:hover, .region-header .block-responsive-navigation .block-content a#nav-toggle:focus {
  color: #ffd451;
  text-decoration: none;
}
@media only screen and (min-width: 40em) {
  /* line 35, ../sass/components/navigation/_audience_menu.scss */
  .region-header .block-responsive-navigation .block-content a#nav-toggle {
    display: none;
  }
}
@media only screen and (min-width: 40em) {
  /* line 57, ../sass/components/navigation/_audience_menu.scss */
  .region-header .block-responsive-navigation .block-content ul:before {
    border-bottom: 17px solid #ffd451;
    border-left: 19px solid #000;
    border-top: 19px solid #ffd451;
    content: "";
    display: block;
    height: 0;
    width: 0;
    float: left;
    -webkit-transform: rotate(360deg);
  }
}
@media only screen and (min-width: 1025px) {
  /* line 57, ../sass/components/navigation/_audience_menu.scss */
  .region-header .block-responsive-navigation .block-content ul:before {
    border-bottom: 20px solid #ffd451;
    border-left: 21px solid #000;
    border-top: 21px solid #ffd451;
  }
}
@media only screen and (min-width: 40em) {
  /* line 78, ../sass/components/navigation/_audience_menu.scss */
  .region-header .block-responsive-navigation .block-content #nav li {
    float: left;
    width: auto;
  }
}
/* line 85, ../sass/components/navigation/_audience_menu.scss */
.region-header .block-responsive-navigation .block-content a {
  background-color: #ffd451;
  color: #000;
  display: block;
  padding: 10px;
  text-align: center;
}
/* line 92, ../sass/components/navigation/_audience_menu.scss */
.region-header .block-responsive-navigation .block-content a:hover, .region-header .block-responsive-navigation .block-content a:focus {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}
@media only screen and (min-width: 40em) {
  /* line 85, ../sass/components/navigation/_audience_menu.scss */
  .region-header .block-responsive-navigation .block-content a {
    float: left;
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 85, ../sass/components/navigation/_audience_menu.scss */
  .region-header .block-responsive-navigation .block-content a {
    padding: 10px 26px;
    font-size: 18px;
    font-size: 1.8rem;
  }
}

/* line 1, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb {
  margin: 0;
  padding: 10px;
  /* If the label is set to show in theme settings the label class is added */
}
/* line 6, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb .breadcrumb-label {
  font-size: 10px;
  font-size: 1rem;
  display: inline;
  padding-right: 10px;
}
/* line 11, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
/* line 16, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 21, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
/* line 25, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb li {
  list-style: none;
  display: inline;
}

/* line 167, ../sass/utilities/_mixins.scss */
#footer-upper-wrapper li.leaf:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f105";
  font-size: 1em;
  color: #ffd451;
  display: inline-block;
  width: 10px;
  padding-right: 2px;
}
@media only screen and (min-width: 600px) {
  /* line 6, ../sass/components/navigation/_footer_menus.scss */
  #footer-upper-wrapper .menu-name-menu-quick-links ul.menu {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}
/* line 13, ../sass/components/navigation/_footer_menus.scss */
#footer-upper-wrapper a:hover, #footer-upper-wrapper a:focus {
  text-decoration: underline;
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
/* line 4, ../sass/components/navigation/_main.scss */
ul.menu {
  margin: 0;
  padding-left: 0;
}
/* line 8, ../sass/components/navigation/_main.scss */
ul.menu ul {
  padding-left: 15px;
}
/* line 12, ../sass/components/navigation/_main.scss */
ul.menu li.leaf {
  list-style: none;
  margin: 0;
}

/* line 1, ../sass/components/navigation/_social_media.scss */
a[href*="facebook.com"]:before {
  margin-right: 0.3em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f09a";
  font-size: 25px;
}

/* line 6, ../sass/components/navigation/_social_media.scss */
a[href*="twitter.com"]:before {
  margin-right: 0.3em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f099";
  font-size: 25px;
}

/* line 11, ../sass/components/navigation/_social_media.scss */
a[href*="linkedin.com"]:before {
  margin-right: 0.3em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0e1";
  font-size: 25px;
}

/* line 16, ../sass/components/navigation/_social_media.scss */
a[href*="pinterest.com"]:before {
  margin-right: 0.3em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0d2";
  font-size: 25px;
}

/* line 21, ../sass/components/navigation/_social_media.scss */
a[href*="youtube.com"]:before {
  margin-right: 0.3em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f167";
  font-size: 25px;
}

/* line 26, ../sass/components/navigation/_social_media.scss */
a[href*="instagram.com"]:before {
  margin-right: 0.3em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f16d";
  font-size: 25px;
}

/* line 32, ../sass/components/navigation/_social_media.scss */
a.social-media:before, #footer .block-menu-social-media .block-content a:before {
  height: 30px;
  padding: 2px 3px;
  margin-right: 0.3em;
  text-align: center;
  width: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 42, ../sass/components/navigation/_social_media.scss */
a.social-media:hover:before, #footer .block-menu-social-media .block-content a:hover:before, a.social-media:focus:before, #footer .block-menu-social-media .block-content a:focus:before {
  text-decoration: none;
}

/* line 49, ../sass/components/navigation/_social_media.scss */
#footer .block-menu-social-media ul.menu {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}
/* line 53, ../sass/components/navigation/_social_media.scss */
#footer .block-menu-social-media li.leaf {
  padding-bottom: 5px;
}
/* line 55, ../sass/components/navigation/_social_media.scss */
#footer .block-menu-social-media li.leaf:before {
  content: none;
}
/* line 60, ../sass/components/navigation/_social_media.scss */
#footer .block-menu-social-media .block-content a {
  line-height: 2em;
}
/* line 63, ../sass/components/navigation/_social_media.scss */
#footer .block-menu-social-media .block-content a:before {
  background-color: #fff;
  color: #000;
}
