@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
/*
$vert-spacing-unit: 40px;
$horz-spacing-unit: 1em;
$page-max-width: 1250px;

$bp-responsive-nav: 40em;
$bp-mobile: 500px;
$bp-tablet: 750px;
$bp-desktop: 1000px;
$bp-desktop-large: $page-max-width;


$bp-mobile-only: max-width ($bp-mobile - 1px); // 0 - 499
$bp-tablet-portrait-only: $bp-mobile ($bp-tablet - 1px); // 500 - 699
$bp-tablet-landscape-only: $bp-tablet ($bp-desktop - 1px); // 700 - 949
$bp-tablet-only: $bp-mobile ($bp-desktop - 1px); // 500 -949
$bp-desktop-only: $bp-desktop ($bp-desktop-large - 1px); // 950 - 1249
*/
/* line 4, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu, #block-menu-block-3 ul.menu, #block-menu-block-6 ul.menu {
  margin: 0;
  padding: 0;
}
/* line 8, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu li, #block-menu-block-3 ul.menu li, #block-menu-block-6 ul.menu li {
  margin: .5em 0 .5em 1em;
  position: relative;
}
/* line 15, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu li.menu-depth-2, #block-menu-block-3 ul.menu li.menu-depth-2, #block-menu-block-6 ul.menu li.menu-depth-2 {
  margin: .5em 0em;
}
/* line 20, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu a, #block-menu-block-3 ul.menu a, #block-menu-block-6 ul.menu a,
#block-menu-block-4 ul.menu .nolink,
#block-menu-block-3 ul.menu .nolink,
#block-menu-block-6 ul.menu .nolink {
  color: #000;
}
/* line 24, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu .menu-depth-2 > .menu-inner, #block-menu-block-3 ul.menu .menu-depth-2 > .menu-inner, #block-menu-block-6 ul.menu .menu-depth-2 > .menu-inner {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  display: block;
}
/* line 32, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu .menu-depth-2 > .menu-inner a, #block-menu-block-3 ul.menu .menu-depth-2 > .menu-inner a, #block-menu-block-6 ul.menu .menu-depth-2 > .menu-inner a,
#block-menu-block-4 ul.menu .menu-depth-2 > .menu-inner .nolink,
#block-menu-block-3 ul.menu .menu-depth-2 > .menu-inner .nolink,
#block-menu-block-6 ul.menu .menu-depth-2 > .menu-inner .nolink {
  color: #fff;
}
/* line 39, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu li.leaf, #block-menu-block-3 ul.menu li.leaf, #block-menu-block-6 ul.menu li.leaf,
#block-menu-block-4 ul.menu li.expanded,
#block-menu-block-3 ul.menu li.expanded,
#block-menu-block-6 ul.menu li.expanded,
#block-menu-block-4 ul.menu li.collapsed,
#block-menu-block-3 ul.menu li.collapsed,
#block-menu-block-6 ul.menu li.collapsed {
  list-style-image: none;
  list-style-type: none;
  font-weight: bold;
}
/* line 47, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu li.expanded a:before, #block-menu-block-3 ul.menu li.expanded a:before, #block-menu-block-6 ul.menu li.expanded a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0d7";
  margin-right: .5em;
}
/* line 55, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu li.collapsed a:before, #block-menu-block-3 ul.menu li.collapsed a:before, #block-menu-block-6 ul.menu li.collapsed a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0da";
  margin-right: .5em;
}
/* line 62, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu li.leaf a:before, #block-menu-block-3 ul.menu li.leaf a:before, #block-menu-block-6 ul.menu li.leaf a:before {
  content: "";
  margin-right: 0;
}
/* line 68, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu ul, #block-menu-block-3 ul.menu ul, #block-menu-block-6 ul.menu ul {
  display: none;
}
/* line 72, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu li.active-trail > ul, #block-menu-block-3 ul.menu li.active-trail > ul, #block-menu-block-6 ul.menu li.active-trail > ul {
  display: block;
}
/* line 77, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle, #block-menu-block-3 ul.menu .menu-toggle, #block-menu-block-6 ul.menu .menu-toggle {
  display: block;
  cursor: pointer;
}
/* line 82, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-expanded:focus, #block-menu-block-3 ul.menu .menu-toggle.is-expanded:focus, #block-menu-block-6 ul.menu .menu-toggle.is-expanded:focus {
  outline: 1px dotted white;
}
/* line 85, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-expanded:before, #block-menu-block-3 ul.menu .menu-toggle.is-expanded:before, #block-menu-block-6 ul.menu .menu-toggle.is-expanded:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f146";
  margin-right: .5em;
}
/* line 91, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-collapsed:focus, #block-menu-block-3 ul.menu .menu-toggle.is-collapsed:focus, #block-menu-block-6 ul.menu .menu-toggle.is-collapsed:focus {
  outline: 1px dotted white;
}
/* line 94, ../sass/utilities/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-collapsed:before, #block-menu-block-3 ul.menu .menu-toggle.is-collapsed:before, #block-menu-block-6 ul.menu .menu-toggle.is-collapsed:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0fe";
  margin-right: .5em;
}

/* line 1, ../sass/base/_block.scss */
.block {
  padding: 5px;
}

/* line 5, ../sass/base/_block.scss */
.block-title {
  background-color: transparent;
  color: #333;
  padding: 10px;
  border-bottom: 0px;
  margin: 0px;
}

/* line 13, ../sass/base/_block.scss */
#content .block-content {
  padding: 10px;
}

/* line 1, ../sass/base/_fields.scss */
.field-label {
  font-size: 18px;
  font-size: 1.8rem;
}

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
/* line 7, ../sass/base/_forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #cc0000;
}
/* line 11, ../sass/base/_forms.scss */
.form-item label {
  font-weight: 700;
}

/*
 * Highlight marks and form required mark
 */
/* line 20, ../sass/base/_forms.scss */
.marker,
.form-required {
  color: #cc0000;
}

/* line 26, ../sass/base/_forms.scss */
.container-inline div,
.container-inline label {
  display: inline;
}

/* line 31, ../sass/base/_forms.scss */
.formtext {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* line 3, ../sass/base/_layout.scss */
.stella-footer-inner .block {
  float: left;
}
@media only screen and (min-width: 1025px) {
  /* line 10, ../sass/base/_layout.scss */
  .stella-footer-inner .block:first-of-type:nth-last-child(1),
  .stella-footer-inner .block:first-of-type:nth-last-child(1) ~ .block {
    width: 100%;
  }
  /* line 10, ../sass/base/_layout.scss */
  .stella-footer-inner .block:first-of-type:nth-last-child(2),
  .stella-footer-inner .block:first-of-type:nth-last-child(2) ~ .block {
    width: 50%;
  }
  /* line 10, ../sass/base/_layout.scss */
  .stella-footer-inner .block:first-of-type:nth-last-child(3),
  .stella-footer-inner .block:first-of-type:nth-last-child(3) ~ .block {
    width: 33.33333%;
  }
}

/* line 1, ../sass/base/_panel_panes.scss */
.pane-title {
  background-color: transparent;
  color: #333;
  padding: 10px;
  border-bottom: 0px;
  margin: 0px;
}

/* line 9, ../sass/base/_panel_panes.scss */
.panel-display {
  margin: -5px;
}

/* line 16, ../sass/base/_panel_panes.scss */
#content .pane-node .block-content {
  padding: 5px;
}

/* line 1, ../sass/base/_typography.scss */
html {
  background: white;
  font-size: 62.5%;
}

/* line 6, ../sass/base/_typography.scss */
body {
  color: #333;
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}

/* line 13, ../sass/base/_typography.scss */
p {
  margin: 0 0 10px 0;
}

/* line 17, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: normal;
}

/* line 23, ../sass/base/_typography.scss */
h1 {
  font-size: 30px;
  font-size: 3rem;
}

/* line 28, ../sass/base/_typography.scss */
h2 {
  font-size: 25px;
  font-size: 2.5rem;
}

/* line 33, ../sass/base/_typography.scss */
h3 {
  font-size: 20px;
  font-size: 2rem;
}

/* line 38, ../sass/base/_typography.scss */
h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 42, ../sass/base/_typography.scss */
a {
  color: #687893;
  font-weight: bold;
  text-decoration: none;
}
/* line 48, ../sass/base/_typography.scss */
a:hover, a:focus {
  color: black;
  text-decoration: underline;
}

/* line 54, ../sass/base/_typography.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 3, ../sass/components/_audience_featured.scss */
#content .pane-featured-featured-entity-reference {
  margin-top: 12px;
  padding: 0px;
}
/* line 6, ../sass/components/_audience_featured.scss */
#content .pane-featured-featured-entity-reference .block-content {
  padding: 0px;
}

/* line 4, ../sass/components/_buttons.scss */
.region-sidebar-first .views-field-field-side-button-link .button {
  width: 100%;
}

/* line 11, ../sass/components/_buttons.scss */
.button-yellow {
  display: inline-block;
  position: relative;
  font-family: "Fjalla One", sans-serif;
  background-color: #ffd451;
  color: #333;
  padding: 6px 0px 6px 6px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 30, ../sass/components/_buttons.scss */
.button-yellow:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
/* line 34, ../sass/components/_buttons.scss */
.button-yellow:hover:after {
  width: 0;
  height: 0;
  content: "";
  right: -16px;
  bottom: 0px;
  position: absolute;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid black;
}
/* line 46, ../sass/components/_buttons.scss */
.button-yellow:after {
  width: 0;
  height: 0;
  content: "";
  right: -16px;
  bottom: 0px;
  position: absolute;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #ffd451;
}

/* line 60, ../sass/components/_buttons.scss */
.page .button, .page input[type="button"], .page input[type="reset"], .page input[type="submit"] {
  display: inline-block;
  font-family: "Fjalla One", sans-serif;
  background-color: #687893;
  border-color: #687893;
  color: white;
  padding: 6px 12px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 79, ../sass/components/_buttons.scss */
.page .button:hover, .page input[type="button"]:hover, .page input[type="reset"]:hover, .page input[type="submit"]:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

/* line 3, ../sass/components/_contact_info.scss */
.region-footer #block-block-2 {
  padding: 0 0 0 15px;
  margin-top: 10px;
}
@media only screen and (min-width: 40em) {
  /* line 3, ../sass/components/_contact_info.scss */
  .region-footer #block-block-2 {
    width: 25%;
    text-align: right;
    padding: 0 15px 0 0;
  }
}

/* line 3, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul {
  list-style: none;
}
/* line 5, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul li {
  display: block;
  float: left;
  margin: 0.25em;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* line 14, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo {
  line-height: 200px;
  width: 200px;
  text-align: center;
}
/* line 19, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo img {
  vertical-align: middle;
}

/* line 27, ../sass/components/_employer_showcase.scss */
.pane-employer-showcase-employer-showcase-slider-panel-pane .block-inner {
  border-bottom: 2px solid #687893;
}

/* line 33, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane .flexslider {
  border: 0px;
  margin: 0 0 5px;
}
/* line 37, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane {
  padding: 0px;
}
/* line 39, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content {
  position: relative;
  height: 200px;
}
/* line 42, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 200px;
  height: auto;
  width: auto;
}
/* line 52, ../sass/components/_employer_showcase.scss */
.view-display-id-employer_showcase_slider_panel_pane .flex-control-paging {
  display: none;
}

/* line 5, ../sass/components/_events.scss */
.view-display-id-events_list .views-field-field-mcf-date:before,
.view-display-id-events_teaser_list .views-field-field-mcf-date:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f017";
  font-size: 1.2em;
  color: #333333;
  display: block;
  float: left;
  padding-right: 5px;
}
/* line 13, ../sass/components/_events.scss */
.view-display-id-events_list .views-field-field-mcf-location:before,
.view-display-id-events_teaser_list .views-field-field-mcf-location:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f041";
  font-size: 1.2em;
  color: #333333;
  display: block;
  float: left;
  padding-right: 5px;
  position: absolute;
  margin-left: 2px;
}
/* line 22, ../sass/components/_events.scss */
.view-display-id-events_list .fa,
.view-display-id-events_teaser_list .fa {
  color: black;
}
/* line 25, ../sass/components/_events.scss */
.view-display-id-events_list .fa-map-marker,
.view-display-id-events_teaser_list .fa-map-marker {
  padding: 0px 2px;
}
/* line 28, ../sass/components/_events.scss */
.view-display-id-events_list .views-row,
.view-display-id-events_teaser_list .views-row {
  padding: 5px;
}
/* line 31, ../sass/components/_events.scss */
.view-display-id-events_list .views-row-odd,
.view-display-id-events_teaser_list .views-row-odd {
  background-color: whitesmoke;
}

/* line 37, ../sass/components/_events.scss */
.pane-events-events-categories,
.pane-views-exp-events-events-list {
  background-color: whitesmoke;
}

/* line 42, ../sass/components/_events.scss */
.pane-views-exp-events-events-list .views-submit-button, .pane-views-exp-events-events-list .views-reset-button {
  width: auto;
}
/* line 45, ../sass/components/_events.scss */
.pane-views-exp-events-events-list input[type="text"], .pane-views-exp-events-events-list .views-widget-filter-field_event_category_tid, .pane-views-exp-events-events-list .form-select {
  width: 99%;
}

/* line 1, ../sass/components/_flexslider.scss */
.flexslider {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  -webkit-box-shadow: white 0px 0px 0px;
  -moz-box-shadow: white 0px 0px 0px;
  box-shadow: white 0px 0px 0px;
}
/* line 2, ../sass/components/_flexslider.scss */
.flexslider ul {
  padding: 0px;
}
/* line 10, ../sass/components/_flexslider.scss */
.flexslider a {
  color: white;
}
/* line 12, ../sass/components/_flexslider.scss */
.flexslider a:hover {
  color: #9c8345;
  text-decoration: none;
}
/* line 18, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text, .flexslider .views-field-field-front-featured-text {
  display: block;
  overflow: hidden;
  margin-bottom: 0px;
  width: 100%;
  padding: 5px 10px 10px 10px;
  color: white;
}
/* line 25, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text a, .flexslider .views-field-field-front-featured-text a {
  color: white;
}
/* line 27, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text a:hover, .flexslider .views-field-field-front-featured-text a:hover {
  text-decoration: underline;
}
/* line 31, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text .featured-logo, .flexslider .views-field-field-front-featured-text .featured-logo {
  float: left;
  width: auto;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px dotted white;
}
/* line 38, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text h3, .flexslider .views-field-field-front-featured-text h3 {
  margin-bottom: 0px;
}
/* line 42, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-front-featured-text {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 47, ../sass/components/_flexslider.scss */
.flexslider .views-field-field-featured-text {
  background-color: black;
}
@media only screen and (min-width: 899px) {
  /* line 47, ../sass/components/_flexslider.scss */
  .flexslider .views-field-field-featured-text {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* line 58, ../sass/components/_flexslider.scss */
.flexslider .flex-control-nav {
  width: auto;
  position: absolute;
  bottom: -5px;
  right: 10px;
}
/* line 64, ../sass/components/_flexslider.scss */
.flexslider .flex-control-nav li {
  margin: 0;
  padding: 0;
}
/* line 72, ../sass/components/_flexslider.scss */
.flexslider .flex-control-paging li a {
  background-color: whitesmoke;
  border-width: 0px;
  margin-left: 1px;
}
/* line 77, ../sass/components/_flexslider.scss */
.flexslider .flex-control-paging li a.flex-active {
  background-color: #ffd451;
}

/* line 1, ../sass/components/_front.scss */
.front #page-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 7, ../sass/components/_front.scss */
#content .pane-featured-panel-pane-featured {
  padding: 5px 0px;
}
/* line 9, ../sass/components/_front.scss */
#content .pane-featured-panel-pane-featured .block-content {
  padding: 10px 0px;
}

/* line 3, ../sass/components/_hireahawk.scss */
.pane-block-1 img, #block-block-1 img {
  width: 50%;
}
/* line 6, ../sass/components/_hireahawk.scss */
.pane-block-1 h2, #block-block-1 h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.9rem;
  text-align: center;
}

/* line 12, ../sass/components/_hireahawk.scss */
.pane-block-1 {
  background-color: #ffd451;
}
/* line 15, ../sass/components/_hireahawk.scss */
.pane-block-1 a {
  color: #4e5b6e;
}

/* line 2, ../sass/components/_in_the_news.scss */
.pane-inthenews-inthenews-month-links {
  background-color: whitesmoke;
}

/* line 7, ../sass/components/_in_the_news.scss */
.view-display-id-inthenews .views-row {
  padding: 5px;
}
/* line 10, ../sass/components/_in_the_news.scss */
.view-display-id-inthenews .views-row-odd {
  background-color: whitesmoke;
}

/* line 1, ../sass/components/_messages.scss */
#messages {
  margin: 0px;
  padding: 10px;
}

/* line 1, ../sass/components/_page.scss */
body {
  margin: 0;
}

/* line 5, ../sass/components/_page.scss */
#header-wrapper {
  background-color: #333;
  background: url("images/bg_tile.gif") repeat;
}

/* line 10, ../sass/components/_page.scss */
#header {
  background-color: #eee;
  background: url("images/header.png") no-repeat;
  position: relative;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 20, ../sass/components/_page.scss */
#branding {
  position: absolute;
  bottom: 55px;
}
@media only screen and (min-width: 40em) {
  /* line 20, ../sass/components/_page.scss */
  #branding {
    bottom: 45px;
  }
}

/* line 28, ../sass/components/_page.scss */
#logo {
  padding: 10px 0;
}
@media only screen and (min-width: 40em) {
  /* line 28, ../sass/components/_page.scss */
  #logo {
    padding-left: 20px;
  }
}
/* line 34, ../sass/components/_page.scss */
#logo img {
  vertical-align: bottom;
}

/* line 39, ../sass/components/_page.scss */
#site-name {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 43, ../sass/components/_page.scss */
#site-slogan {
  font-size: 18px;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  margin: 0;
  position: relative;
  bottom: 25px;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 2px 2px 0, rgba(0, 0, 0, 0.2) 3px 3px 0;
}
@media only screen and (min-width: 40em) {
  /* line 43, ../sass/components/_page.scss */
  #site-slogan {
    padding-left: 80px;
  }
}

/* line 56, ../sass/components/_page.scss */
.site-logo {
  width: 320px;
}

/* line 60, ../sass/components/_page.scss */
#page-title {
  margin: 0;
  padding-left: 10px;
}

/* line 65, ../sass/components/_page.scss */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
/* line 74, ../sass/components/_page.scss */
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 85, ../sass/components/_page.scss */
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 97, ../sass/components/_page.scss */
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* line 110, ../sass/components/_page.scss */
#content-wrapper,
#header-wrapper,
#breadcrumb-wrapper,
#content-header-wrapper,
#messages-help-wrapper,
#tertiary-content-wrapper,
#footer-wrapper {
  background-color: #ddd;
}

/* line 120, ../sass/components/_page.scss */
#main-content,
#main-content-header,
#breadcrumb,
#messages,
.region-tertiary-content,
#columns {
  background: white;
}

@media only screen and (min-width: 40em) {
  /* line 127, ../sass/components/_page.scss */
  #footer-wrapper .block {
    float: left;
  }
}

/* line 132, ../sass/components/_page.scss */
.region-footer {
  position: relative;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #eae3d2;
}
/* line 136, ../sass/components/_page.scss */
.region-footer a {
  color: black;
}
/* line 138, ../sass/components/_page.scss */
.region-footer a:hover {
  color: black;
}
/* line 141, ../sass/components/_page.scss */
.region-footer a:active {
  color: black;
}
/* line 145, ../sass/components/_page.scss */
.region-footer ul {
  margin-top: 0px;
}
/* line 147, ../sass/components/_page.scss */
.region-footer ul li {
  list-style-image: none;
  list-style-type: none;
  padding-right: 5px;
}
/* line 153, ../sass/components/_page.scss */
.region-footer h2 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 4, ../sass/components/_people.scss */
#content .pane-node-field-people-picture .block-content, #content .pane-node-title .block-content, #content .pane-node-field-people-position .block-content, #content .pane-node-field-people-email .block-content {
  padding: 0px 10px;
}

@media only screen and (min-width: 40em) {
  /* line 12, ../sass/components/_people.scss */
  .node-type-people #page-title {
    position: absolute;
    top: -99999em;
    width: 1px;
    height: 1px;
    overflow: hidden;
    outline: 0;
  }
}
/* line 16, ../sass/components/_people.scss */
.node-type-people .pane-node-field-people-picture {
  padding-top: 0px;
}
/* line 18, ../sass/components/_people.scss */
.node-type-people .pane-node-field-people-picture img {
  border: 5px solid #687893;
}
@media only screen and (min-width: 40em) {
  /* line 16, ../sass/components/_people.scss */
  .node-type-people .pane-node-field-people-picture {
    float: right;
    width: 50%;
  }
}
/* line 27, ../sass/components/_people.scss */
.node-type-people .pane-node-title .pane-title {
  display: none;
}
/* line 30, ../sass/components/_people.scss */
.node-type-people .pane-node-title .block-content {
  display: none;
}
@media only screen and (min-width: 40em) {
  /* line 30, ../sass/components/_people.scss */
  .node-type-people .pane-node-title .block-content {
    display: block;
  }
}
@media only screen and (min-width: 899px) {
  /* line 38, ../sass/components/_people.scss */
  .node-type-people .pane-node-title, .node-type-people .pane-node-field-people-position, .node-type-people .pane-node-field-people-email {
    text-align: right;
  }
  /* line 41, ../sass/components/_people.scss */
  .node-type-people .pane-node-title {
    padding-top: 180px;
  }
  /* line 44, ../sass/components/_people.scss */
  .node-type-people .pane-node-field-people-email {
    margin-bottom: 14px;
  }
}
/* line 49, ../sass/components/_people.scss */
.node-type-people .pane-node-title, .node-type-people .pane-node-field-people-position,
.node-type-people .pane-node-field-people-email {
  overflow: hidden;
  width: 50%;
}
/* line 55, ../sass/components/_people.scss */
.node-type-people .pane-node-field-people-biography,
.node-type-people .pane-node-field-people-responsibilities, .node-type-people .pane-node-field-people-group,
.node-type-people .pane-node-links {
  overflow: inherit;
  min-width: 200px;
}

/* line 64, ../sass/components/_people.scss */
.view-display-id-people_panel_pane .views-field-field-people-picture {
  display: block;
  float: left;
}
/* line 68, ../sass/components/_people.scss */
.view-display-id-people_panel_pane .views-field-title, .view-display-id-people_panel_pane .views-field-field-people-position .field-content, .view-display-id-people_panel_pane .views-field-field-people-responsibilities {
  margin-left: 110px;
}

/* line 2, ../sass/components/_quicktabs.scss */
.pane-quicktabs-announcements-events .block-inner {
  border-bottom: 2px solid #687893;
}

/* line 7, ../sass/components/_quicktabs.scss */
.view-display-id-announcements_front_content_pane .views-field-field-announcement-image {
  display: block;
  float: left;
  position: relative;
  width: 80px;
  height: 80px;
  border: 5px solid #687893;
}
/* line 15, ../sass/components/_quicktabs.scss */
.view-display-id-announcements_front_content_pane .views-field-field-announcement-image img {
  position: relative;
  width: 70px;
  z-index: 2;
}
/* line 24, ../sass/components/_quicktabs.scss */
.view-display-id-announcements_front_content_pane .views-field-title,
.view-display-id-announcements_front_content_pane .views-field-body,
.view-display-id-announcements_front_content_pane .views-field-field-announcement-attachments,
.view-display-id-announcements_front_content_pane .views-field-field-announcement-link {
  margin-left: 95px;
}

/* line 29, ../sass/components/_quicktabs.scss */
.view-display-id-attachment_announcements_bottom .views-field-title {
  margin-left: 0px;
}
/* line 32, ../sass/components/_quicktabs.scss */
.view-display-id-attachment_announcements_bottom .views-row {
  margin-left: 0px;
  float: left;
  width: auto;
  display: block;
  width: 230px;
  padding-right: 10px;
  margin-left: 0px;
}
/* line 40, ../sass/components/_quicktabs.scss */
.view-display-id-attachment_announcements_bottom .views-row:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #333333;
  display: block;
  float: left;
  padding-right: 5px;
}
/* line 48, ../sass/components/_quicktabs.scss */
.view-display-id-attachment_announcements_bottom .views-row-1:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #e68b39;
}
/* line 53, ../sass/components/_quicktabs.scss */
.view-display-id-attachment_announcements_bottom .views-row-2:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #57b4a5;
}
/* line 58, ../sass/components/_quicktabs.scss */
.view-display-id-attachment_announcements_bottom .views-row-3:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #8f394f;
}
/* line 63, ../sass/components/_quicktabs.scss */
.view-display-id-attachment_announcements_bottom .views-row-4:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #d1d55a;
}

/* line 69, ../sass/components/_quicktabs.scss */
.pane-quicktabs-announcements-events .pane-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 74, ../sass/components/_quicktabs.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle {
  font: inherit;
  padding-left: 0px;
}
/* line 78, ../sass/components/_quicktabs.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li {
  margin: 0px;
  background-color: whitesmoke;
  font-size: 2.4rem;
  padding: 5px 10px;
}
@media only screen and (min-width: 899px) {
  /* line 78, ../sass/components/_quicktabs.scss */
  #quicktabs-announcements_events ul.quicktabs-style-nostyle li {
    font-size: 2.5rem;
  }
}
/* line 86, ../sass/components/_quicktabs.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li a {
  color: #687893;
}
/* line 88, ../sass/components/_quicktabs.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li a:hover {
  color: white;
  text-decoration: none;
}
/* line 93, ../sass/components/_quicktabs.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li:hover {
  background-color: black;
}
/* line 95, ../sass/components/_quicktabs.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li:hover a {
  color: white;
}
/* line 100, ../sass/components/_quicktabs.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li.active {
  background-color: #687893;
}
/* line 102, ../sass/components/_quicktabs.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li.active a {
  color: white;
}

/* line 111, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events {
  margin-top: 3px;
  width: 100%;
}
/* line 114, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events .pane-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
/* line 117, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events h3 {
  font-size: 1.5rem;
}
/* line 120, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle {
  font: inherit;
  padding-left: 0px;
  text-align: center;
}
/* line 124, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li {
  margin: 0px;
  background-color: whitesmoke;
  font-size: 1.8rem;
  padding: 5px 10px;
}
/* line 129, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li a {
  color: #687893;
}
/* line 131, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li a:hover {
  color: white;
  text-decoration: none;
}
/* line 136, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li:hover {
  background-color: black;
}
/* line 138, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li:hover a {
  color: white;
}
/* line 143, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li.active {
  background-color: #687893;
}
/* line 145, ../sass/components/_quicktabs.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li.active a {
  color: white;
}

/* line 3, ../sass/components/_related_links.scss */
#content .pane-taxonomy-term-field-audience-links, #content .pane-taxonomy-term-field-program-links {
  padding: 0px;
}
/* line 5, ../sass/components/_related_links.scss */
#content .pane-taxonomy-term-field-audience-links .block-content, #content .pane-taxonomy-term-field-program-links .block-content {
  padding: 0px;
}

/* line 10, ../sass/components/_related_links.scss */
.field-name-field-audience-links, .field-name-field-program-links {
  width: 100%;
  font-size: 1.8rem;
}
/* line 13, ../sass/components/_related_links.scss */
.field-name-field-audience-links .field-items, .field-name-field-program-links .field-items {
  width: 100%;
  text-align: center;
  background-color: #687893;
  color: white;
}
/* line 18, ../sass/components/_related_links.scss */
.field-name-field-audience-links .field-items .field-item, .field-name-field-program-links .field-items .field-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  /* line 18, ../sass/components/_related_links.scss */
  .field-name-field-audience-links .field-items .field-item, .field-name-field-program-links .field-items .field-item {
    height: 65px;
  }
}
/* line 24, ../sass/components/_related_links.scss */
.field-name-field-audience-links .field-items .field-item a, .field-name-field-program-links .field-items .field-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-family: "Fjalla One", sans-serif;
  color: white;
  font-weight: normal;
}
/* line 32, ../sass/components/_related_links.scss */
.field-name-field-audience-links .field-items .field-item a:hover, .field-name-field-program-links .field-items .field-item a:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
@media only screen and (min-width: 1025px) {
  /* line 43, ../sass/components/_related_links.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(1),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(1) ~ .field-item, .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(1),
  .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(1) ~ .field-item {
    width: 100%;
  }
  /* line 43, ../sass/components/_related_links.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(2),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(2) ~ .field-item, .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(2),
  .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(2) ~ .field-item {
    width: 50%;
  }
  /* line 43, ../sass/components/_related_links.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(3),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(3) ~ .field-item, .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(3),
  .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(3) ~ .field-item {
    width: 33.33333%;
  }
  /* line 43, ../sass/components/_related_links.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(4),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(4) ~ .field-item, .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(4),
  .field-name-field-program-links .field-items .field-item:first-of-type:nth-last-child(4) ~ .field-item {
    width: 25%;
  }
}

/* line 3, ../sass/components/_rss.scss */
.rss-feed a:before {
  margin-right: 0.5em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f143";
  font-size: 1em;
  color: #e68b39;
}
/* line 7, ../sass/components/_rss.scss */
.rss-feed a:hover {
  text-decoration: none;
}

/* line 3, ../sass/components/_spotlight.scss */
.view-display-id-spotlight_teaser_pane .views-field-field-spotlight-image {
  display: block;
  text-align: center;
  margin: 3px;
  float: right;
}
/* line 8, ../sass/components/_spotlight.scss */
.view-display-id-spotlight_teaser_pane .views-field-field-spotlight-image img {
  border: 5px solid #687893;
}

@media only screen and (min-width: 899px) {
  /* line 16, ../sass/components/_spotlight.scss */
  .view-display-id-spotlights_panel_pane .view-content {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}
/* line 21, ../sass/components/_spotlight.scss */
.view-display-id-spotlights_panel_pane .views-row {
  margin: 20px 0px;
}
/* line 24, ../sass/components/_spotlight.scss */
.view-display-id-spotlights_panel_pane .views-field {
  margin: 0px;
}
/* line 28, ../sass/components/_spotlight.scss */
.view-display-id-spotlights_panel_pane .views-field-field-spotlight-image img {
  border: 5px solid #687893;
}

/* line 2, ../sass/components/_success_stories.scss */
.view-display-id-success_stories_teaser_content_pane {
  margin: 10px;
}
/* line 4, ../sass/components/_success_stories.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image {
  float: right;
}
/* line 6, ../sass/components/_success_stories.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image img {
  padding: 10px;
}
/* line 10, ../sass/components/_success_stories.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-title-1 {
  text-align: right;
}

/* line 2, ../sass/components/_videos.scss */
.media-youtube-video {
  text-align: center;
}
/* line 5, ../sass/components/_videos.scss */
.media-youtube-video .media-youtube-player {
  width: 100%;
  max-width: 640px;
}
/* line 9, ../sass/components/_videos.scss */
.media-youtube-video #player {
  height: auto;
  width: auto;
}

/* line 15, ../sass/components/_videos.scss */
.field-name-field-video-screenshot {
  text-align: center;
}

/* line 21, ../sass/components/_videos.scss */
.view-display-id-video_panel_pane .views-field-field-video-file, .view-display-id-video_panel_pane .views-field-field-video-screenshot {
  display: block;
  float: left;
}
/* line 25, ../sass/components/_videos.scss */
.view-display-id-video_panel_pane .views-field-title, .view-display-id-video_panel_pane .views-field-field-video-description {
  margin-left: 110px;
}

/* line 2, ../sass/components/navigation/_audience_menu.scss */
.block-menu-audience-menu {
  position: absolute;
  bottom: 0;
  padding: 0px;
  background: black;
  width: 100%;
  min-width: 320px;
  height: 35px;
  font-size: 18px;
  font-size: 1.8rem;
}
@media only screen and (min-width: 899px) {
  /* line 2, ../sass/components/navigation/_audience_menu.scss */
  .block-menu-audience-menu {
    height: 50px;
  }
}
@media only screen and (min-width: 899px) {
  /* line 2, ../sass/components/navigation/_audience_menu.scss */
  .block-menu-audience-menu {
    width: auto;
    right: 0;
    padding-left: 100px;
  }
  /* line 18, ../sass/components/navigation/_audience_menu.scss */
  .block-menu-audience-menu:before {
    content: "Start Here";
    position: absolute;
    right: 660px;
    top: 19%;
    color: white;
    font-weight: bold;
  }
}
@media only screen and (max-width: 480px) {
  /* line 2, ../sass/components/navigation/_audience_menu.scss */
  .block-menu-audience-menu {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
/* line 30, ../sass/components/navigation/_audience_menu.scss */
.block-menu-audience-menu ul.menu {
  background-color: #ffd451;
  float: right;
  height: 35px;
  margin: 0px;
  min-width: 320px;
  padding: 0;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 899px) {
  /* line 30, ../sass/components/navigation/_audience_menu.scss */
  .block-menu-audience-menu ul.menu {
    height: 50px;
  }
}
@media only screen and (min-width: 899px) {
  /* line 30, ../sass/components/navigation/_audience_menu.scss */
  .block-menu-audience-menu ul.menu {
    width: auto;
    padding-left: 25px;
  }
  /* line 47, ../sass/components/navigation/_audience_menu.scss */
  .block-menu-audience-menu ul.menu:before {
    content: "";
    left: 100px;
    position: absolute;
    font-size: 0px;
    background-color: #ffd451;
    line-height: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 20px solid black;
    -webkit-transform: rotate(360deg);
  }
}
/* line 62, ../sass/components/navigation/_audience_menu.scss */
.block-menu-audience-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  height: 100%;
  background-color: transparent;
  padding: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 74, ../sass/components/navigation/_audience_menu.scss */
.block-menu-audience-menu ul.menu li ul {
  display: none;
}
/* line 77, ../sass/components/navigation/_audience_menu.scss */
.block-menu-audience-menu ul.menu li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 3px;
  display: block;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 899px) {
  /* line 77, ../sass/components/navigation/_audience_menu.scss */
  .block-menu-audience-menu ul.menu li a {
    padding: 10px 26px;
  }
}
/* line 88, ../sass/components/navigation/_audience_menu.scss */
.block-menu-audience-menu ul.menu li a:hover, .block-menu-audience-menu ul.menu li a .active-trail {
  text-decoration: none;
  color: white;
}
/* line 93, ../sass/components/navigation/_audience_menu.scss */
.block-menu-audience-menu ul.menu li:hover, .block-menu-audience-menu ul.menu li .active-trail {
  background-color: black;
  color: white;
}
/* line 96, ../sass/components/navigation/_audience_menu.scss */
.block-menu-audience-menu ul.menu li:hover a, .block-menu-audience-menu ul.menu li .active-trail a {
  color: white;
}

/* line 1, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb {
  margin: 0;
  padding: 10px;
  /* If the label is set to show in theme settings the label class is added */
}
/* line 6, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}
/* line 11, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
/* line 16, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 21, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
/* line 25, ../sass/components/navigation/_breadcrumb.scss */
#breadcrumb li {
  list-style: none;
  display: inline;
}

/* line 1, ../sass/components/navigation/_main.scss */
.nav {
  clear: both;
  margin: 10px 0;
}
/* line 6, ../sass/components/navigation/_main.scss */
.nav ul,
.nav ul.menu {
  margin: 0;
  padding: 0;
}
/* line 12, ../sass/components/navigation/_main.scss */
.nav li,
.nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 21, ../sass/components/navigation/_main.scss */
.nav li a,
.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
/* line 32, ../sass/components/navigation/_main.scss */
.nav .block {
  margin-bottom: 0;
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
/* line 42, ../sass/components/navigation/_main.scss */
ul.menu {
  padding-left: 15px;
}
/* line 45, ../sass/components/navigation/_main.scss */
ul.menu ul {
  padding-left: 15px;
}
/* line 49, ../sass/components/navigation/_main.scss */
ul.menu li {
  margin: 0;
}
/* line 54, ../sass/components/navigation/_main.scss */
ul.menu li a:active, ul.menu li a.active {
  color: #9c8345;
}

/* If li.content exists it's a problem, so reset the padding */
/* line 61, ../sass/components/navigation/_main.scss */
.block .menu li.content {
  padding: 0;
}

/* line 3, ../sass/components/navigation/_quick_links.scss */
.front .pane-menu-menu-quick-links ul.menu {
  margin-top: 0px;
}
/* line 5, ../sass/components/navigation/_quick_links.scss */
.front .pane-menu-menu-quick-links ul.menu li {
  font-size: 1.8rem;
  list-style: none;
}
/* line 171, ../sass/utilities/_mixins.scss */
.front .pane-menu-menu-quick-links ul.menu li:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f105";
  font-size: 1em;
  color: #9c8345;
  display: inline-block;
  width: 10px;
  padding-right: 2px;
}

@media only screen and (min-width: 40em) {
  /* line 14, ../sass/components/navigation/_quick_links.scss */
  .region-footer #block-menu-block-1 {
    width: 75%;
  }
  /* line 17, ../sass/components/navigation/_quick_links.scss */
  .region-footer #block-menu-block-1 ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
  }
}

/* line 2, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 {
  padding: 0px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 3;
  font-size: 18px;
  font-size: 1.8rem;
}
@media only screen and (min-width: 40em) {
  /* line 2, ../sass/components/navigation/_site_links_menu.scss */
  #block-responsive-navigation-1 {
    background-color: transparent;
    font-size: 1.4rem;
  }
}
/* line 13, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav-toggle {
  margin-left: 5px;
  color: white;
}
/* line 16, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav-toggle:hover {
  color: #ffd451;
  text-decoration: none;
}
/* line 19, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav-toggle:hover:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  font-size: 1.2em;
  color: #ffd451;
}
/* line 23, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav-toggle:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  font-size: 1.2em;
  color: white;
  padding-right: 5px;
  vertical-align: middle;
}
/* line 29, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav {
  float: right;
  width: 100%;
}
@media only screen and (min-width: 40em) {
  /* line 29, ../sass/components/navigation/_site_links_menu.scss */
  #block-responsive-navigation-1 #nav {
    width: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* line 37, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav a, #block-responsive-navigation-1 #nav a:hover, #block-responsive-navigation-1 #nav a:active, #block-responsive-navigation-1 #nav a:visited {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 44, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav ul {
  text-align: center;
}
@media only screen and (min-width: 40em) {
  /* line 44, ../sass/components/navigation/_site_links_menu.scss */
  #block-responsive-navigation-1 #nav ul {
    text-align: right;
  }
}
/* line 50, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav li {
  padding: 6px 20px 6px 6px;
}
@media only screen and (min-width: 40em) {
  /* line 50, ../sass/components/navigation/_site_links_menu.scss */
  #block-responsive-navigation-1 #nav li {
    display: inline-block;
    width: auto;
    padding: 6px;
  }
}
/* line 57, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav li ul {
  display: none;
}
/* line 61, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav li:hover {
  background-color: white;
}
/* line 63, ../sass/components/navigation/_site_links_menu.scss */
#block-responsive-navigation-1 #nav li:hover a, #block-responsive-navigation-1 #nav li:hover a:hover, #block-responsive-navigation-1 #nav li:hover a:active, #block-responsive-navigation-1 #nav li:hover a:visited {
  color: #333;
}

/* line 147, ../sass/utilities/_mixins.scss */
#block-menu-block-5 .menu-item-1078 a, .block-menu-social-media .menu-item-1078 a {
  background: url("images/social/twitter-icon.png") no-repeat;
}
/* line 150, ../sass/utilities/_mixins.scss */
#block-menu-block-5 .menu-item-1080 a, .block-menu-social-media .menu-item-1080 a {
  background: url("images/social/youtube-icon.png") no-repeat;
}
/* line 153, ../sass/utilities/_mixins.scss */
#block-menu-block-5 .menu-item-1079 a, .block-menu-social-media .menu-item-1079 a {
  background: url("images/social/facebook-icon.png") no-repeat;
}
/* line 156, ../sass/utilities/_mixins.scss */
#block-menu-block-5 .menu-item-1228 a, .block-menu-social-media .menu-item-1228 a {
  background: url("images/social/linkedin-icon.png") no-repeat;
}
/* line 159, ../sass/utilities/_mixins.scss */
#block-menu-block-5 .menu-item-1229 a, .block-menu-social-media .menu-item-1229 a {
  background: url("images/social/pintrest-icon.png") no-repeat;
}
/* line 162, ../sass/utilities/_mixins.scss */
#block-menu-block-5 .menu-item-1230 a, .block-menu-social-media .menu-item-1230 a {
  background: url("images/social/instagram-icon.png") no-repeat;
}
@media only screen and (min-width: 40em) {
  /* line 4, ../sass/components/navigation/_social_media.scss */
  #block-menu-block-5 ul.menu, .block-menu-social-media ul.menu {
    margin: 0;
    padding: 0;
    text-align: right;
  }
}
/* line 11, ../sass/components/navigation/_social_media.scss */
#block-menu-block-5 ul.menu li, .block-menu-social-media ul.menu li {
  display: inline-block;
  width: auto;
  margin: 0 3px;
  padding: 0px;
}
/* line 18, ../sass/components/navigation/_social_media.scss */
#block-menu-block-5 ul.menu a, .block-menu-social-media ul.menu a {
  display: block;
  overflow: hidden;
  width: 30px;
  height: 30px;
  margin-bottom: -10px;
  text-indent: 9999px;
  font-size: 0px;
}
/* line 27, ../sass/components/navigation/_social_media.scss */
#block-menu-block-5 ul.menu a:hover, #block-menu-block-5 ul.menu a:focus, .block-menu-social-media ul.menu a:hover, .block-menu-social-media ul.menu a:focus {
  background-color: transparent;
}

/* line 35, ../sass/components/navigation/_social_media.scss */
#block-menu-menu-social-media {
  display: none;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 35px;
  float: right;
  margin: 0;
  position: absolute;
  width: 100%;
}
@media only screen and (min-width: 40em) {
  /* line 35, ../sass/components/navigation/_social_media.scss */
  #block-menu-menu-social-media {
    display: block;
    position: relative;
    width: auto;
    bottom: 0;
  }
}
/* line 52, ../sass/components/navigation/_social_media.scss */
#block-menu-menu-social-media ul.menu {
  text-align: center;
  height: 30px;
}
/* line 56, ../sass/components/navigation/_social_media.scss */
#block-menu-menu-social-media ul.menu a {
  background-position: top;
}
/* line 59, ../sass/components/navigation/_social_media.scss */
#block-menu-menu-social-media ul.menu a:hover, #block-menu-menu-social-media ul.menu a:focus {
  background-position: bottom;
}

/* line 67, ../sass/components/navigation/_social_media.scss */
#footer-wrapper #block-menu-block-5 {
  display: block;
  padding: 3px 3px 8px 4px;
}
@media only screen and (min-width: 40em) {
  /* line 67, ../sass/components/navigation/_social_media.scss */
  #footer-wrapper #block-menu-block-5 {
    float: right;
  }
}
/* line 75, ../sass/components/navigation/_social_media.scss */
#footer-wrapper #block-menu-block-5 ul.menu a {
  background-position: bottom;
}
/* line 78, ../sass/components/navigation/_social_media.scss */
#footer-wrapper #block-menu-block-5 ul.menu a:hover, #footer-wrapper #block-menu-block-5 ul.menu a:focus {
  background-position: top;
}
/* line 85, ../sass/components/navigation/_social_media.scss */
#footer-wrapper #block-menu-block-5 li ul {
  display: none;
}
