/* line 9, ../sass/careers.print.scss */
#ui-wrapper,
#ui-global-footer,
#logo,
#toolbar,
#tasks,
.view-featured,
#block-responsive-navigation-1 {
  display: none;
}

/* line 14, ../sass/careers.print.scss */
.not-front #footer {
  display: none;
}

/* line 21, ../sass/careers.print.scss */
.front img, .page-taxonomy-term .panel-display img, .block-1 img {
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 28, ../sass/careers.print.scss */
.front img:after, .page-taxonomy-term .panel-display img:after, .block-1 img:after {
  display: block;
  visibility: visible;
  content: attr(alt);
}

/* line 37, ../sass/careers.print.scss */
#main-content h2, #main-content h3, #main-content h4 {
  page-break-after: avoid;
}
/* line 40, ../sass/careers.print.scss */
#main-content ul, #main-content img {
  page-break-inside: avoid;
}
