@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
/* line 3, ../sass/_classes.scss */
#block-menu-block-4 ul.menu, #block-menu-block-3 ul.menu, #block-menu-block-6 ul.menu {
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li, #block-menu-block-3 ul.menu li, #block-menu-block-6 ul.menu li {
  margin: .5em 0 .5em 1em;
  position: relative;
}
/* line 14, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.menu-depth-2, #block-menu-block-3 ul.menu li.menu-depth-2, #block-menu-block-6 ul.menu li.menu-depth-2 {
  margin: .5em 0em;
}
/* line 19, ../sass/_classes.scss */
#block-menu-block-4 ul.menu a, #block-menu-block-3 ul.menu a, #block-menu-block-6 ul.menu a,
#block-menu-block-4 ul.menu .nolink,
#block-menu-block-3 ul.menu .nolink,
#block-menu-block-6 ul.menu .nolink {
  color: #000;
}
/* line 23, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-depth-2 > .menu-inner, #block-menu-block-3 ul.menu .menu-depth-2 > .menu-inner, #block-menu-block-6 ul.menu .menu-depth-2 > .menu-inner {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  display: block;
}
/* line 31, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-depth-2 > .menu-inner a, #block-menu-block-3 ul.menu .menu-depth-2 > .menu-inner a, #block-menu-block-6 ul.menu .menu-depth-2 > .menu-inner a,
#block-menu-block-4 ul.menu .menu-depth-2 > .menu-inner .nolink,
#block-menu-block-3 ul.menu .menu-depth-2 > .menu-inner .nolink,
#block-menu-block-6 ul.menu .menu-depth-2 > .menu-inner .nolink {
  color: #fff;
}
/* line 38, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.leaf, #block-menu-block-3 ul.menu li.leaf, #block-menu-block-6 ul.menu li.leaf,
#block-menu-block-4 ul.menu li.expanded,
#block-menu-block-3 ul.menu li.expanded,
#block-menu-block-6 ul.menu li.expanded,
#block-menu-block-4 ul.menu li.collapsed,
#block-menu-block-3 ul.menu li.collapsed,
#block-menu-block-6 ul.menu li.collapsed {
  list-style-image: none;
  list-style-type: none;
  font-weight: bold;
}
/* line 46, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.expanded a:before, #block-menu-block-3 ul.menu li.expanded a:before, #block-menu-block-6 ul.menu li.expanded a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0d7";
  margin-right: .5em;
}
/* line 54, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.collapsed a:before, #block-menu-block-3 ul.menu li.collapsed a:before, #block-menu-block-6 ul.menu li.collapsed a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0da";
  margin-right: .5em;
}
/* line 61, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.leaf a:before, #block-menu-block-3 ul.menu li.leaf a:before, #block-menu-block-6 ul.menu li.leaf a:before {
  content: "";
  margin-right: 0;
}
/* line 67, ../sass/_classes.scss */
#block-menu-block-4 ul.menu ul, #block-menu-block-3 ul.menu ul, #block-menu-block-6 ul.menu ul {
  display: none;
}
/* line 71, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.active-trail > ul, #block-menu-block-3 ul.menu li.active-trail > ul, #block-menu-block-6 ul.menu li.active-trail > ul {
  display: block;
}
/* line 76, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle, #block-menu-block-3 ul.menu .menu-toggle, #block-menu-block-6 ul.menu .menu-toggle {
  display: block;
  cursor: pointer;
}
/* line 81, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-expanded:focus, #block-menu-block-3 ul.menu .menu-toggle.is-expanded:focus, #block-menu-block-6 ul.menu .menu-toggle.is-expanded:focus {
  outline: 1px dotted white;
}
/* line 84, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-expanded:before, #block-menu-block-3 ul.menu .menu-toggle.is-expanded:before, #block-menu-block-6 ul.menu .menu-toggle.is-expanded:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f146";
  margin-right: .5em;
}
/* line 90, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-collapsed:focus, #block-menu-block-3 ul.menu .menu-toggle.is-collapsed:focus, #block-menu-block-6 ul.menu .menu-toggle.is-collapsed:focus {
  outline: 1px dotted white;
}
/* line 93, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-collapsed:before, #block-menu-block-3 ul.menu .menu-toggle.is-collapsed:before, #block-menu-block-6 ul.menu .menu-toggle.is-collapsed:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0fe";
  margin-right: .5em;
}

/*
 * @file
 * local.styles
 *
 */
/* line 11, ../sass/local.styles.scss */
body {
  min-width: 320px;
  background-color: white;
  color: #333;
}
/* line 15, ../sass/local.styles.scss */
body a {
  color: #687893;
  font-weight: bold;
}
/* line 18, ../sass/local.styles.scss */
body a:hover {
  color: black;
}

/* line 24, ../sass/local.styles.scss */
#page-title {
  padding-left: 10px;
}

/* line 28, ../sass/local.styles.scss */
.front #page-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 32, ../sass/local.styles.scss */
#header-wrapper {
  background-color: #333;
  background: url("images/bg_tile.gif") repeat;
}

/* line 37, ../sass/local.styles.scss */
#header {
  background-color: #eee;
  background: url("images/header.png") no-repeat;
  position: relative;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 45, ../sass/local.styles.scss */
#header #branding {
  position: absolute;
  bottom: 55px;
}
@media only screen and (min-width: 40em) {
  /* line 45, ../sass/local.styles.scss */
  #header #branding {
    bottom: 45px;
  }
}
@media only screen and (min-width: 40em) {
  /* line 54, ../sass/local.styles.scss */
  #header #branding #logo {
    padding-left: 20px;
  }
}
/* line 59, ../sass/local.styles.scss */
#header #branding .site-logo {
  width: 320px;
}
/* line 62, ../sass/local.styles.scss */
#header #branding #site-name {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
/* line 65, ../sass/local.styles.scss */
#header #branding #site-slogan {
  font-size: 1.8rem;
  color: white;
  font-family: "Neuton", serif;
  text-align: center;
  position: relative;
  bottom: 25px;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 2px 2px 0, rgba(0, 0, 0, 0.2) 3px 3px 0;
}
@media only screen and (min-width: 40em) {
  /* line 65, ../sass/local.styles.scss */
  #header #branding #site-slogan {
    padding-left: 80px;
  }
}
/* line 80, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 {
  padding: 0px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 3;
  font-family: "Neuton", serif;
  font-size: 1.8rem;
}
@media only screen and (min-width: 40em) {
  /* line 80, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 {
    background-color: transparent;
    font-size: 1.4rem;
  }
}
/* line 92, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle {
  margin-left: 5px;
  color: white;
}
/* line 95, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle:hover {
  color: #ffd451;
  text-decoration: none;
}
/* line 98, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle:hover:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  font-size: 1.2em;
  color: #ffd451;
}
/* line 102, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  font-size: 1.2em;
  color: white;
  padding-right: 5px;
  vertical-align: middle;
}
/* line 108, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav {
  float: right;
  width: 100%;
}
@media only screen and (min-width: 40em) {
  /* line 108, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav {
    width: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* line 116, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav a, #header .region-header #block-responsive-navigation-1 #nav a:hover, #header .region-header #block-responsive-navigation-1 #nav a:active, #header .region-header #block-responsive-navigation-1 #nav a:visited {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 123, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav ul {
  text-align: center;
}
@media only screen and (min-width: 40em) {
  /* line 123, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav ul {
    text-align: right;
  }
}
/* line 129, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li {
  padding: 6px 20px 6px 6px;
}
@media only screen and (min-width: 40em) {
  /* line 129, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav li {
    display: inline-block;
    width: auto;
    padding: 6px;
  }
}
/* line 136, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li ul {
  display: none;
}
/* line 140, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li:hover {
  background-color: white;
}
/* line 142, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li:hover a, #header .region-header #block-responsive-navigation-1 #nav li:hover a:hover, #header .region-header #block-responsive-navigation-1 #nav li:hover a:active, #header .region-header #block-responsive-navigation-1 #nav li:hover a:visited {
  color: #333;
}
/* line 150, ../sass/local.styles.scss */
#header .region-header .block-menu-social-media {
  position: absolute;
  width: 100%;
  bottom: 35px;
  float: right;
  margin: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 40em) {
  /* line 150, ../sass/local.styles.scss */
  #header .region-header .block-menu-social-media {
    position: relative;
    width: auto;
    bottom: 0;
  }
}
/* line 163, ../sass/local.styles.scss */
#header .region-header .block-menu-social-media ul {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 30px;
}
@media only screen and (min-width: 40em) {
  /* line 163, ../sass/local.styles.scss */
  #header .region-header .block-menu-social-media ul {
    text-align: right;
  }
}
/* line 172, ../sass/local.styles.scss */
#header .region-header .block-menu-social-media li {
  padding: 6px 20px 6px 6px;
  display: inline-block;
  width: auto;
  padding: 6px;
}
/* line 180, ../sass/local.styles.scss */
#header .region-header .block-menu-social-media .menu-item-1079, #header .region-header .block-menu-social-media .menu-item-1078,
#header .region-header .block-menu-social-media .menu-item-1228, #header .region-header .block-menu-social-media .menu-item-1229,
#header .region-header .block-menu-social-media .menu-item-1080, #header .region-header .block-menu-social-media .menu-item-1230 {
  padding: 0px;
  margin: 0px 3px;
}
/* line 183, ../sass/local.styles.scss */
#header .region-header .block-menu-social-media .menu-item-1079 a, #header .region-header .block-menu-social-media .menu-item-1078 a,
#header .region-header .block-menu-social-media .menu-item-1228 a, #header .region-header .block-menu-social-media .menu-item-1229 a,
#header .region-header .block-menu-social-media .menu-item-1080 a, #header .region-header .block-menu-social-media .menu-item-1230 a {
  display: block;
  overflow: hidden;
  background-position: top;
  width: 30px;
  height: 30px;
  margin-bottom: -10px;
  text-indent: 9999px;
  font-size: 0px;
}
/* line 192, ../sass/local.styles.scss */
#header .region-header .block-menu-social-media .menu-item-1079 a:hover, #header .region-header .block-menu-social-media .menu-item-1078 a:hover,
#header .region-header .block-menu-social-media .menu-item-1228 a:hover, #header .region-header .block-menu-social-media .menu-item-1229 a:hover,
#header .region-header .block-menu-social-media .menu-item-1080 a:hover, #header .region-header .block-menu-social-media .menu-item-1230 a:hover {
  background-color: transparent;
  background-position: bottom;
}
/* line 244, ../sass/_custom.scss */
#header .region-header .block-menu-social-media .menu-item-1078 a {
  background: url("images/social/twitter-icon.png") no-repeat;
}
/* line 247, ../sass/_custom.scss */
#header .region-header .block-menu-social-media .menu-item-1080 a {
  background: url("images/social/youtube-icon.png") no-repeat;
}
/* line 250, ../sass/_custom.scss */
#header .region-header .block-menu-social-media .menu-item-1079 a {
  background: url("images/social/facebook-icon.png") no-repeat;
}
/* line 253, ../sass/_custom.scss */
#header .region-header .block-menu-social-media .menu-item-1228 a {
  background: url("images/social/linkedin-icon.png") no-repeat;
}
/* line 256, ../sass/_custom.scss */
#header .region-header .block-menu-social-media .menu-item-1229 a {
  background: url("images/social/pintrest-icon.png") no-repeat;
}
/* line 259, ../sass/_custom.scss */
#header .region-header .block-menu-social-media .menu-item-1230 a {
  background: url("images/social/instagram-icon.png") no-repeat;
}
/* line 202, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu {
  position: absolute;
  bottom: 0;
  padding: 0px;
  background: black;
  width: 100%;
  min-width: 320px;
  height: 35px;
  font-family: "Neuton", serif;
  font-size: 1.8rem;
}
@media only screen and (min-width: 899px) {
  /* line 202, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu {
    height: 50px;
  }
}
@media only screen and (min-width: 899px) {
  /* line 202, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu {
    width: auto;
    right: 0;
    padding-left: 100px;
  }
  /* line 219, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu:before {
    content: "Start Here";
    position: absolute;
    right: 600px;
    top: 19%;
    color: white;
    font-weight: bold;
  }
}
@media only screen and (max-width: 480px) {
  /* line 202, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu {
    font-size: 1.6rem;
  }
}
/* line 231, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu {
  background-color: #ffd451;
  width: 100%;
  min-width: 320px;
  height: 35px;
  float: right;
  padding-left: 5px;
  margin: 0px;
}
@media only screen and (min-width: 899px) {
  /* line 231, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu {
    height: 50px;
  }
}
@media only screen and (min-width: 899px) {
  /* line 231, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu {
    width: auto;
    padding-left: 25px;
  }
  /* line 245, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu:before {
    content: "";
    left: 100px;
    position: absolute;
    font-size: 0px;
    background-color: #ffd451;
    line-height: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 20px solid black;
    -webkit-transform: rotate(360deg);
  }
}
/* line 260, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  display: inline;
  float: left;
}
/* line 272, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li ul {
  display: none;
}
/* line 275, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 3px;
  display: block;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 899px) {
  /* line 275, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu li a {
    padding: 10px 26px;
  }
}
/* line 286, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li a:hover, #header .region-header .block-menu-audience-menu ul.menu li a .active-trail {
  text-decoration: none;
  color: white;
}
/* line 291, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li:hover, #header .region-header .block-menu-audience-menu ul.menu li .active-trail {
  background-color: black;
  color: white;
}
/* line 294, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li:hover a, #header .region-header .block-menu-audience-menu ul.menu li .active-trail a {
  color: white;
}

/* line 307, ../sass/local.styles.scss */
#content-wrapper, #header-wrapper,
#breadcrumb-wrapper, #content-header-wrapper,
#messages-help-wrapper, #tertiary-content-wrapper, #footer-wrapper {
  background-color: #ddd;
}

/* line 312, ../sass/local.styles.scss */
#main-content, #main-content-header, #breadcrumb, #messages, .region-tertiary-content, #columns {
  background: white;
}

/* line 316, ../sass/local.styles.scss */
#breadcrumb, #messages {
  margin: 0px;
  padding: 10px;
}

/* line 322, ../sass/local.styles.scss */
#content .pane-title, #content .block-title {
  background-color: transparent;
  color: #333;
  padding: 10px;
  border-bottom: 0px;
  margin: 0px;
}
/* line 329, ../sass/local.styles.scss */
#content .block-content {
  padding: 10px;
}

/* line 337, ../sass/local.styles.scss */
#content .pane-node .block-content {
  padding: 5px;
}

/* line 344, ../sass/local.styles.scss */
.field-label {
  font-size: 1.8rem;
}

/* line 349, ../sass/local.styles.scss */
.flexslider {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  -webkit-box-shadow: white 0px 0px 0px;
  -moz-box-shadow: white 0px 0px 0px;
  box-shadow: white 0px 0px 0px;
}
/* line 350, ../sass/local.styles.scss */
.flexslider ul {
  padding: 0px;
}
/* line 358, ../sass/local.styles.scss */
.flexslider a {
  color: white;
}
/* line 360, ../sass/local.styles.scss */
.flexslider a:hover {
  color: #9c8345;
  text-decoration: none;
}
/* line 366, ../sass/local.styles.scss */
.flexslider .views-field-field-featured-text, .flexslider .views-field-field-front-featured-text {
  display: block;
  overflow: hidden;
  margin-bottom: 0px;
  width: 100%;
  padding: 5px 10px 10px 10px;
  color: white;
}
/* line 373, ../sass/local.styles.scss */
.flexslider .views-field-field-featured-text a, .flexslider .views-field-field-front-featured-text a {
  color: white;
}
/* line 375, ../sass/local.styles.scss */
.flexslider .views-field-field-featured-text a:hover, .flexslider .views-field-field-front-featured-text a:hover {
  text-decoration: underline;
}
/* line 379, ../sass/local.styles.scss */
.flexslider .views-field-field-featured-text .featured-logo, .flexslider .views-field-field-front-featured-text .featured-logo {
  float: left;
  width: auto;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px dotted white;
}
/* line 386, ../sass/local.styles.scss */
.flexslider .views-field-field-featured-text h3, .flexslider .views-field-field-front-featured-text h3 {
  margin-bottom: 0px;
}
/* line 390, ../sass/local.styles.scss */
.flexslider .views-field-field-front-featured-text {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 395, ../sass/local.styles.scss */
.flexslider .views-field-field-featured-text {
  background-color: black;
}
@media only screen and (min-width: 899px) {
  /* line 395, ../sass/local.styles.scss */
  .flexslider .views-field-field-featured-text {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* line 406, ../sass/local.styles.scss */
.flexslider .flex-control-nav {
  width: auto;
  position: absolute;
  bottom: -8px;
  right: 10px;
}
/* line 415, ../sass/local.styles.scss */
.flexslider .flex-control-paging li a {
  background-color: whitesmoke;
  border-width: 0px;
  margin-left: 1px;
}
/* line 420, ../sass/local.styles.scss */
.flexslider .flex-control-paging li a.flex-active {
  background-color: #ffd451;
}

/* line 426, ../sass/local.styles.scss */
.media-youtube-video {
  text-align: center;
}

/* line 431, ../sass/local.styles.scss */
.formtext {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* line 446, ../sass/local.styles.scss */
.button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  font-family: "Fjalla One", sans-serif;
  background-color: #687893;
  border-color: #687893;
  color: white;
  padding: 6px 12px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 465, ../sass/local.styles.scss */
.button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

/* line 473, ../sass/local.styles.scss */
.view-display-id-sidebar_button .button {
  width: 100%;
}

@media only screen and (min-width: 40em) {
  /* line 482, ../sass/local.styles.scss */
  #footer-wrapper .block {
    float: left;
  }
}

/* line 487, ../sass/local.styles.scss */
.region-footer {
  position: relative;
  font-size: 14px;
  background-color: #eae3d2;
}
/* line 491, ../sass/local.styles.scss */
.region-footer a {
  color: black;
  font-family: "Neuton", serif;
}
/* line 494, ../sass/local.styles.scss */
.region-footer a:hover {
  color: black;
}
/* line 497, ../sass/local.styles.scss */
.region-footer a:active {
  color: black;
}
/* line 501, ../sass/local.styles.scss */
.region-footer ul {
  margin-top: 0px;
}
/* line 503, ../sass/local.styles.scss */
.region-footer ul li {
  list-style-image: none;
  list-style-type: none;
  padding-right: 5px;
}
/* line 509, ../sass/local.styles.scss */
.region-footer h2 {
  font-size: 1.8rem;
}

/* line 3, ../sass/_classes.scss */
#block-menu-block-4 ul.menu, #block-menu-block-3 ul.menu, #block-menu-block-6 ul.menu {
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li, #block-menu-block-3 ul.menu li, #block-menu-block-6 ul.menu li {
  margin: .5em 0 .5em 1em;
  position: relative;
}
/* line 14, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.menu-depth-2, #block-menu-block-3 ul.menu li.menu-depth-2, #block-menu-block-6 ul.menu li.menu-depth-2 {
  margin: .5em 0em;
}
/* line 19, ../sass/_classes.scss */
#block-menu-block-4 ul.menu a, #block-menu-block-3 ul.menu a, #block-menu-block-6 ul.menu a,
#block-menu-block-4 ul.menu .nolink,
#block-menu-block-3 ul.menu .nolink,
#block-menu-block-6 ul.menu .nolink {
  color: #000;
}
/* line 23, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-depth-2 > .menu-inner, #block-menu-block-3 ul.menu .menu-depth-2 > .menu-inner, #block-menu-block-6 ul.menu .menu-depth-2 > .menu-inner {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  display: block;
}
/* line 31, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-depth-2 > .menu-inner a, #block-menu-block-3 ul.menu .menu-depth-2 > .menu-inner a, #block-menu-block-6 ul.menu .menu-depth-2 > .menu-inner a,
#block-menu-block-4 ul.menu .menu-depth-2 > .menu-inner .nolink,
#block-menu-block-3 ul.menu .menu-depth-2 > .menu-inner .nolink,
#block-menu-block-6 ul.menu .menu-depth-2 > .menu-inner .nolink {
  color: #fff;
}
/* line 38, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.leaf, #block-menu-block-3 ul.menu li.leaf, #block-menu-block-6 ul.menu li.leaf,
#block-menu-block-4 ul.menu li.expanded,
#block-menu-block-3 ul.menu li.expanded,
#block-menu-block-6 ul.menu li.expanded,
#block-menu-block-4 ul.menu li.collapsed,
#block-menu-block-3 ul.menu li.collapsed,
#block-menu-block-6 ul.menu li.collapsed {
  list-style-image: none;
  list-style-type: none;
  font-weight: bold;
}
/* line 46, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.expanded a:before, #block-menu-block-3 ul.menu li.expanded a:before, #block-menu-block-6 ul.menu li.expanded a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0d7";
  margin-right: .5em;
}
/* line 54, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.collapsed a:before, #block-menu-block-3 ul.menu li.collapsed a:before, #block-menu-block-6 ul.menu li.collapsed a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0da";
  margin-right: .5em;
}
/* line 61, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.leaf a:before, #block-menu-block-3 ul.menu li.leaf a:before, #block-menu-block-6 ul.menu li.leaf a:before {
  content: "";
  margin-right: 0;
}
/* line 67, ../sass/_classes.scss */
#block-menu-block-4 ul.menu ul, #block-menu-block-3 ul.menu ul, #block-menu-block-6 ul.menu ul {
  display: none;
}
/* line 71, ../sass/_classes.scss */
#block-menu-block-4 ul.menu li.active-trail > ul, #block-menu-block-3 ul.menu li.active-trail > ul, #block-menu-block-6 ul.menu li.active-trail > ul {
  display: block;
}
/* line 76, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle, #block-menu-block-3 ul.menu .menu-toggle, #block-menu-block-6 ul.menu .menu-toggle {
  display: block;
  cursor: pointer;
}
/* line 81, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-expanded:focus, #block-menu-block-3 ul.menu .menu-toggle.is-expanded:focus, #block-menu-block-6 ul.menu .menu-toggle.is-expanded:focus {
  outline: 1px dotted white;
}
/* line 84, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-expanded:before, #block-menu-block-3 ul.menu .menu-toggle.is-expanded:before, #block-menu-block-6 ul.menu .menu-toggle.is-expanded:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f146";
  margin-right: .5em;
}
/* line 90, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-collapsed:focus, #block-menu-block-3 ul.menu .menu-toggle.is-collapsed:focus, #block-menu-block-6 ul.menu .menu-toggle.is-collapsed:focus {
  outline: 1px dotted white;
}
/* line 93, ../sass/_classes.scss */
#block-menu-block-4 ul.menu .menu-toggle.is-collapsed:before, #block-menu-block-3 ul.menu .menu-toggle.is-collapsed:before, #block-menu-block-6 ul.menu .menu-toggle.is-collapsed:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0fe";
  margin-right: .5em;
}

/*
 * @file
 * local.styles
 *
*/
/* line 12, ../sass/_local.scss */
.pane-block-1 img, #block-block-1 img {
  width: 50%;
}
/* line 15, ../sass/_local.scss */
.pane-block-1 h2, #block-block-1 h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.9rem;
  text-align: center;
}

/* line 21, ../sass/_local.scss */
.pane-block-1 {
  background-color: #ffd451;
}

/* line 34, ../sass/_local.scss */
#content .pane-taxonomy-term-field-audience-links {
  padding: 0px;
}
/* line 36, ../sass/_local.scss */
#content .pane-taxonomy-term-field-audience-links .block-content {
  padding: 0px;
}

/* line 41, ../sass/_local.scss */
.field-name-field-audience-links {
  width: 100%;
  font-size: 1.8rem;
}
/* line 44, ../sass/_local.scss */
.field-name-field-audience-links .field-items {
  width: 100%;
  text-align: center;
  background-color: #687893;
  color: white;
}
/* line 49, ../sass/_local.scss */
.field-name-field-audience-links .field-items .field-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  /* line 49, ../sass/_local.scss */
  .field-name-field-audience-links .field-items .field-item {
    width: 188px\9;
    /* IE8 and below */
    height: 65px;
  }
}
/* line 56, ../sass/_local.scss */
.field-name-field-audience-links .field-items .field-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-family: "Fjalla One", sans-serif;
  color: white;
  font-weight: normal;
}
/* line 64, ../sass/_local.scss */
.field-name-field-audience-links .field-items .field-item a:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
@media only screen and (min-width: 1025px) {
  /* line 75, ../sass/_local.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(1),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(1) ~ .field-item {
    width: 100%;
  }
  /* line 75, ../sass/_local.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(2),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(2) ~ .field-item {
    width: 50%;
  }
  /* line 75, ../sass/_local.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(3),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(3) ~ .field-item {
    width: 33.33333%;
  }
  /* line 75, ../sass/_local.scss */
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(4),
  .field-name-field-audience-links .field-items .field-item:first-of-type:nth-last-child(4) ~ .field-item {
    width: 25%;
  }
}

/* line 83, ../sass/_local.scss */
.stella-footer-inner .block {
  float: left;
}
@media only screen and (min-width: 1025px) {
  /* line 91, ../sass/_local.scss */
  .stella-footer-inner .block:first-of-type:nth-last-child(1),
  .stella-footer-inner .block:first-of-type:nth-last-child(1) ~ .block {
    width: 100%;
  }
  /* line 91, ../sass/_local.scss */
  .stella-footer-inner .block:first-of-type:nth-last-child(2),
  .stella-footer-inner .block:first-of-type:nth-last-child(2) ~ .block {
    width: 50%;
  }
  /* line 91, ../sass/_local.scss */
  .stella-footer-inner .block:first-of-type:nth-last-child(3),
  .stella-footer-inner .block:first-of-type:nth-last-child(3) ~ .block {
    width: 33.33333%;
  }
}

/* line 99, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane {
  margin: 10px;
}
/* line 101, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image {
  float: right;
}
/* line 103, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image img {
  padding: 10px;
}
/* line 107, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-title-1 {
  text-align: right;
}

/* line 114, ../sass/_local.scss */
.view-display-id-spotlight_teaser_pane .views-field-field-spotlight-image {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
@media only screen and (min-width: 899px) {
  /* line 114, ../sass/_local.scss */
  .view-display-id-spotlight_teaser_pane .views-field-field-spotlight-image {
    float: right;
    width: 100px;
  }
}
/* line 122, ../sass/_local.scss */
.view-display-id-spotlight_teaser_pane .views-field-field-spotlight-image img {
  border: 5px solid #687893;
}

/* line 130, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul {
  list-style: none;
}
/* line 132, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul li {
  display: block;
  float: left;
  margin: 0.25em;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* line 141, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo {
  line-height: 200px;
  width: 200px;
  text-align: center;
}
/* line 146, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo img {
  vertical-align: middle;
}

/* line 154, ../sass/_local.scss */
#content .pane-featured-panel-pane-featured {
  padding: 5px 0px;
}
/* line 156, ../sass/_local.scss */
#content .pane-featured-panel-pane-featured .block-content {
  padding: 10px 0px;
}

/* line 164, ../sass/_local.scss */
#content .pane-featured-featured-entity-reference {
  margin-top: 12px;
  padding: 0px;
}
/* line 167, ../sass/_local.scss */
#content .pane-featured-featured-entity-reference .block-content {
  padding: 0px;
}

/* line 175, ../sass/_local.scss */
.pane-employer-showcase-employer-showcase-slider-panel-pane .block-inner {
  border-bottom: 2px solid #687893;
}

/* line 181, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane .flexslider {
  border: 0px;
  margin: 0 0 5px;
}
/* line 185, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane {
  padding: 0px;
}
/* line 187, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content {
  position: relative;
  height: 200px;
}
/* line 190, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 200px;
  height: auto;
  width: auto;
}
/* line 200, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane .flex-control-paging {
  display: none;
}

/* line 208, ../sass/_local.scss */
.field-name-field-video-file iframe {
  width: 100%;
  max-width: 640px;
}
/* line 212, ../sass/_local.scss */
.field-name-field-video-file #player {
  height: auto;
  width: auto;
}

/* line 217, ../sass/_local.scss */
.field-name-field-video-screenshot {
  text-align: center;
}

/* line 223, ../sass/_local.scss */
.view-display-id-video_panel_pane .views-field-field-video-file, .view-display-id-video_panel_pane .views-field-field-video-screenshot {
  display: block;
  float: left;
}
/* line 227, ../sass/_local.scss */
.view-display-id-video_panel_pane .views-field-title, .view-display-id-video_panel_pane .views-field-field-video-description {
  margin-left: 110px;
}

/* line 233, ../sass/_local.scss */
.pane-inthenews-inthenews-month-links {
  background-color: whitesmoke;
}

/* line 238, ../sass/_local.scss */
.view-display-id-inthenews .views-row {
  padding: 5px;
}
/* line 241, ../sass/_local.scss */
.view-display-id-inthenews .views-row-odd {
  background-color: whitesmoke;
}

/* line 249, ../sass/_local.scss */
.view-display-id-events_list .fa,
.view-display-id-events_teaser_list .fa {
  color: black;
}
/* line 252, ../sass/_local.scss */
.view-display-id-events_list .fa-map-marker,
.view-display-id-events_teaser_list .fa-map-marker {
  padding: 0px 2px;
}
/* line 255, ../sass/_local.scss */
.view-display-id-events_list .views-row,
.view-display-id-events_teaser_list .views-row {
  padding: 5px;
}
/* line 258, ../sass/_local.scss */
.view-display-id-events_list .views-row-odd,
.view-display-id-events_teaser_list .views-row-odd {
  background-color: whitesmoke;
}

/* line 264, ../sass/_local.scss */
.pane-events-events-categories,
.pane-views-exp-events-events-list {
  background-color: whitesmoke;
}

/* line 269, ../sass/_local.scss */
.pane-views-exp-events-events-list .views-submit-button, .pane-views-exp-events-events-list .views-reset-button {
  width: auto;
}
/* line 272, ../sass/_local.scss */
.pane-views-exp-events-events-list input[type="text"], .pane-views-exp-events-events-list .views-widget-filter-field_event_category_tid, .pane-views-exp-events-events-list .form-select {
  width: 99%;
}

/* line 280, ../sass/_local.scss */
#content .pane-node-field-people-picture .block-content, #content .pane-node-title .block-content, #content .pane-node-field-people-position .block-content, #content .pane-node-field-people-email .block-content {
  padding: 0px 10px;
}

@media only screen and (min-width: 40em) {
  /* line 288, ../sass/_local.scss */
  .node-type-people #page-title {
    position: absolute;
    top: -99999em;
    width: 1px;
    height: 1px;
    overflow: hidden;
    outline: 0;
  }
}
/* line 292, ../sass/_local.scss */
.node-type-people .pane-node-field-people-picture {
  padding-top: 0px;
}
/* line 294, ../sass/_local.scss */
.node-type-people .pane-node-field-people-picture img {
  border: 5px solid #687893;
}
@media only screen and (min-width: 40em) {
  /* line 292, ../sass/_local.scss */
  .node-type-people .pane-node-field-people-picture {
    float: right;
    width: 50%;
  }
}
/* line 303, ../sass/_local.scss */
.node-type-people .pane-node-title .pane-title {
  display: none;
}
/* line 306, ../sass/_local.scss */
.node-type-people .pane-node-title .block-content {
  display: none;
}
@media only screen and (min-width: 40em) {
  /* line 306, ../sass/_local.scss */
  .node-type-people .pane-node-title .block-content {
    display: block;
  }
}
@media only screen and (min-width: 899px) {
  /* line 314, ../sass/_local.scss */
  .node-type-people .pane-node-title, .node-type-people .pane-node-field-people-position, .node-type-people .pane-node-field-people-email {
    text-align: right;
  }
  /* line 317, ../sass/_local.scss */
  .node-type-people .pane-node-title {
    padding-top: 180px;
  }
  /* line 320, ../sass/_local.scss */
  .node-type-people .pane-node-field-people-email {
    margin-bottom: 14px;
  }
}
/* line 325, ../sass/_local.scss */
.node-type-people .pane-node-title, .node-type-people .pane-node-field-people-position,
.node-type-people .pane-node-field-people-email {
  overflow: hidden;
  width: 50%;
}
/* line 331, ../sass/_local.scss */
.node-type-people .pane-node-field-people-biography,
.node-type-people .pane-node-field-people-responsibilities, .node-type-people .pane-node-field-people-group,
.node-type-people .pane-node-links {
  overflow: inherit;
  min-width: 200px;
}

/* line 340, ../sass/_local.scss */
.view-display-id-people_panel_pane .views-field-field-people-picture {
  display: block;
  float: left;
}
/* line 344, ../sass/_local.scss */
.view-display-id-people_panel_pane .views-field-title, .view-display-id-people_panel_pane .views-field-field-people-position .field-content, .view-display-id-people_panel_pane .views-field-field-people-responsibilities {
  margin-left: 110px;
}

/* line 350, ../sass/_local.scss */
.pane-quicktabs-announcements-events .block-inner {
  border-bottom: 2px solid #687893;
}

/* line 355, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-field-announcement-image {
  display: block;
  float: left;
  position: relative;
  width: 80px;
  height: 80px;
  border: 5px solid #687893;
}
/* line 363, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-field-announcement-image:before {
  position: absolute;
  left: 15px;
  top: -5px;
  z-index: 1;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f05a";
  font-size: 4.2em;
  color: #687893;
}
/* line 370, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-field-announcement-image img {
  position: relative;
  z-index: 2;
}
/* line 378, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-title,
.view-display-id-announcements_front_content_pane .views-field-body,
.view-display-id-announcements_front_content_pane .views-field-field-announcement-attachments,
.view-display-id-announcements_front_content_pane .views-field-field-announcement-link {
  margin-left: 95px;
}

/* line 383, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-field-title {
  margin-left: 0px;
}
/* line 386, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row {
  margin-left: 0px;
  float: left;
  width: auto;
  display: block;
  width: 230px;
  padding-right: 10px;
  margin-left: 0px;
}
/* line 394, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #333333;
  display: block;
  float: left;
  padding-right: 5px;
}
/* line 402, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-1:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #e68b39;
}
/* line 407, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-2:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #57b4a5;
}
/* line 412, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-3:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #8f394f;
}
/* line 417, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-4:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #d1d55a;
}

/* line 423, ../sass/_local.scss */
.pane-quicktabs-announcements-events .pane-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 428, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle {
  font: inherit;
  padding-left: 0px;
}
/* line 432, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li {
  margin: 0px;
  background-color: whitesmoke;
  font-size: 2.4rem;
  padding: 5px 10px;
}
@media only screen and (min-width: 899px) {
  /* line 432, ../sass/_local.scss */
  #quicktabs-announcements_events ul.quicktabs-style-nostyle li {
    font-size: 2.5rem;
  }
}
/* line 440, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li a {
  color: #687893;
}
/* line 442, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li a:hover {
  color: white;
  text-decoration: none;
}
/* line 447, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li:hover {
  background-color: black;
}
/* line 449, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li:hover a {
  color: white;
}
/* line 454, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li.active {
  background-color: #687893;
}
/* line 456, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li.active a {
  color: white;
}

/* line 465, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events {
  margin-top: 3px;
  width: 100%;
}
/* line 468, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events .pane-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
/* line 471, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events h3 {
  font-size: 1.5rem;
}
/* line 474, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle {
  font: inherit;
  padding-left: 0px;
  text-align: center;
}
/* line 478, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li {
  margin: 0px;
  background-color: whitesmoke;
  font-size: 1.8rem;
  padding: 5px 10px;
}
/* line 483, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li a {
  color: #687893;
}
/* line 485, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li a:hover {
  color: white;
  text-decoration: none;
}
/* line 490, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li:hover {
  background-color: black;
}
/* line 492, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li:hover a {
  color: white;
}
/* line 497, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li.active {
  background-color: #687893;
}
/* line 499, ../sass/_local.scss */
.pane-quicktabs-subpage-announcements-events ul.quicktabs-style-nostyle li.active a {
  color: white;
}

/* line 508, ../sass/_local.scss */
.front .pane-menu-menu-quick-links ul.menu {
  margin-top: 0px;
}
/* line 510, ../sass/_local.scss */
.front .pane-menu-menu-quick-links ul.menu li {
  font-size: 1.8rem;
  list-style: none;
}
/* line 268, ../sass/_custom.scss */
.front .pane-menu-menu-quick-links ul.menu li:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f105";
  font-size: 1em;
  color: #9c8345;
  display: inline-block;
  width: 10px;
  padding-right: 2px;
}

/* line 519, ../sass/_local.scss */
.button-yellow {
  display: inline-block;
  position: relative;
  font-family: "Fjalla One", sans-serif;
  background-color: #ffd451;
  color: #333;
  padding: 6px 0px 6px 6px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 538, ../sass/_local.scss */
.button-yellow:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
/* line 542, ../sass/_local.scss */
.button-yellow:hover:after {
  width: 0;
  height: 0;
  content: "";
  right: -16px;
  bottom: 0px;
  position: absolute;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid black;
}
/* line 554, ../sass/_local.scss */
.button-yellow:after {
  width: 0;
  height: 0;
  content: "";
  right: -16px;
  bottom: 0px;
  position: absolute;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #ffd451;
}

/* line 569, ../sass/_local.scss */
.rss-feed a:before {
  margin-right: 0.5em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f143";
  font-size: 1em;
  color: #e68b39;
}
/* line 573, ../sass/_local.scss */
.rss-feed a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 40em) {
  /* line 581, ../sass/_local.scss */
  .region-footer #block-menu-block-1 {
    width: 75%;
  }
  /* line 584, ../sass/_local.scss */
  .region-footer #block-menu-block-1 ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
  }
}
/* line 590, ../sass/_local.scss */
.region-footer #block-block-2 {
  padding: 0 0 0 15px;
  margin-top: 10px;
}
@media only screen and (min-width: 40em) {
  /* line 590, ../sass/_local.scss */
  .region-footer #block-block-2 {
    width: 25%;
    text-align: right;
    padding: 0 15px 0 0;
  }
}
/* line 600, ../sass/_local.scss */
.region-footer #block-menu-block-5 {
  display: block;
  padding: 3px 3px 8px 4px;
}
@media only screen and (min-width: 40em) {
  /* line 600, ../sass/_local.scss */
  .region-footer #block-menu-block-5 {
    float: right;
  }
}
/* line 606, ../sass/_local.scss */
.region-footer #block-menu-block-5 ul {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 40em) {
  /* line 606, ../sass/_local.scss */
  .region-footer #block-menu-block-5 ul {
    text-align: right;
  }
}
/* line 613, ../sass/_local.scss */
.region-footer #block-menu-block-5 li {
  padding: 6px 20px 6px 6px;
  display: inline-block;
  width: auto;
  padding: 6px;
}
/* line 618, ../sass/_local.scss */
.region-footer #block-menu-block-5 li ul {
  display: none;
}
/* line 244, ../sass/_custom.scss */
.region-footer #block-menu-block-5 .menu-item-1078 a {
  background: url("images/social/twitter-icon.png") no-repeat;
}
/* line 247, ../sass/_custom.scss */
.region-footer #block-menu-block-5 .menu-item-1080 a {
  background: url("images/social/youtube-icon.png") no-repeat;
}
/* line 250, ../sass/_custom.scss */
.region-footer #block-menu-block-5 .menu-item-1079 a {
  background: url("images/social/facebook-icon.png") no-repeat;
}
/* line 253, ../sass/_custom.scss */
.region-footer #block-menu-block-5 .menu-item-1228 a {
  background: url("images/social/linkedin-icon.png") no-repeat;
}
/* line 256, ../sass/_custom.scss */
.region-footer #block-menu-block-5 .menu-item-1229 a {
  background: url("images/social/pintrest-icon.png") no-repeat;
}
/* line 259, ../sass/_custom.scss */
.region-footer #block-menu-block-5 .menu-item-1230 a {
  background: url("images/social/instagram-icon.png") no-repeat;
}
/* line 625, ../sass/_local.scss */
.region-footer #block-menu-block-5 .menu-item-1079, .region-footer #block-menu-block-5 .menu-item-1078,
.region-footer #block-menu-block-5 .menu-item-1228, .region-footer #block-menu-block-5 .menu-item-1229,
.region-footer #block-menu-block-5 .menu-item-1080, .region-footer #block-menu-block-5 .menu-item-1230 {
  padding: 0px;
  margin: 0px 3px;
}
/* line 628, ../sass/_local.scss */
.region-footer #block-menu-block-5 .menu-item-1079 a, .region-footer #block-menu-block-5 .menu-item-1078 a,
.region-footer #block-menu-block-5 .menu-item-1228 a, .region-footer #block-menu-block-5 .menu-item-1229 a,
.region-footer #block-menu-block-5 .menu-item-1080 a, .region-footer #block-menu-block-5 .menu-item-1230 a {
  display: block;
  overflow: hidden;
  background-position: bottom;
  width: 30px;
  height: 30px;
  margin-bottom: -10px;
  text-indent: 9999px;
  font-size: 0px;
}
/* line 637, ../sass/_local.scss */
.region-footer #block-menu-block-5 .menu-item-1079 a:hover, .region-footer #block-menu-block-5 .menu-item-1078 a:hover,
.region-footer #block-menu-block-5 .menu-item-1228 a:hover, .region-footer #block-menu-block-5 .menu-item-1229 a:hover,
.region-footer #block-menu-block-5 .menu-item-1080 a:hover, .region-footer #block-menu-block-5 .menu-item-1230 a:hover {
  background-color: transparent;
  background-position: top;
}
