@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
/*
 * @file
 * local.styles
 *
 */
/* line 11, ../sass/local.styles.scss */
body {
  min-width: 320px;
  background-color: white;
  color: #333;
}
/* line 15, ../sass/local.styles.scss */
body a {
  color: #687893;
  font-weight: bold;
}
/* line 18, ../sass/local.styles.scss */
body a:hover {
  color: #9c8345;
}

/* line 25, ../sass/local.styles.scss */
.front #page-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 29, ../sass/local.styles.scss */
#header-wrapper {
  background-color: #333;
  background: url("images/bg_tile.gif") repeat;
}

/* line 34, ../sass/local.styles.scss */
#header {
  background-color: #eee;
  background: url("images/header.png") no-repeat;
  position: relative;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 42, ../sass/local.styles.scss */
#header #branding {
  padding-right: 20px;
  position: absolute;
  bottom: 45px;
}
@media only screen and (min-width: 40em) {
  /* line 48, ../sass/local.styles.scss */
  #header #branding #logo {
    padding-left: 20px;
  }
}
/* line 53, ../sass/local.styles.scss */
#header #branding .site-logo {
  width: 320px;
}
/* line 56, ../sass/local.styles.scss */
#header #branding #site-name {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
/* line 59, ../sass/local.styles.scss */
#header #branding #site-slogan {
  font-size: 1.8rem;
  color: white;
  font-family: "Neuton", serif;
  text-align: center;
  position: relative;
  bottom: 25px;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 2px 2px 0, rgba(0, 0, 0, 0.2) 3px 3px 0;
}
@media only screen and (min-width: 40em) {
  /* line 59, ../sass/local.styles.scss */
  #header #branding #site-slogan {
    padding-left: 80px;
  }
}
/* line 74, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 {
  padding: 0px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 3;
  font-family: "Neuton", serif;
  font-size: 1.8rem;
}
@media only screen and (min-width: 40em) {
  /* line 74, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 {
    background-color: transparent;
    font-size: 1.4rem;
  }
}
/* line 86, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle {
  margin-left: 5px;
  color: white;
}
/* line 89, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle:hover {
  color: #ffd451;
  text-decoration: none;
}
/* line 92, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle:hover:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  font-size: 1.2em;
  color: #ffd451;
}
/* line 96, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  font-size: 1.2em;
  color: white;
  padding-right: 5px;
  vertical-align: middle;
}
/* line 103, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav {
  float: right;
}
@media only screen and (min-width: 40em) {
  /* line 103, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* line 109, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav a, #header .region-header #block-responsive-navigation-1 #nav a:hover, #header .region-header #block-responsive-navigation-1 #nav a:active, #header .region-header #block-responsive-navigation-1 #nav a:visited {
  color: white;
  text-decoration: none;
}
/* line 113, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav ul {
  text-align: right;
}
/* line 116, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li {
  padding: 6px 20px 6px 6px;
}
@media only screen and (min-width: 40em) {
  /* line 116, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav li {
    display: inline-block;
    width: auto;
    padding: 6px;
  }
}
/* line 123, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li ul {
  display: none;
}
/* line 127, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li:hover {
  background-color: white;
}
/* line 129, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li:hover a, #header .region-header #block-responsive-navigation-1 #nav li:hover a:hover, #header .region-header #block-responsive-navigation-1 #nav li:hover a:active, #header .region-header #block-responsive-navigation-1 #nav li:hover a:visited {
  color: #333;
}
@media only screen and (min-width: 40em) {
  /* line 137, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1078, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1079,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1080, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1228,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1229, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1230 {
    padding: 0px;
    margin: 0px 3px;
  }
  /* line 140, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1078 a, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1079 a,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1080 a, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1228 a,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1229 a, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1230 a {
    display: block;
    overflow: hidden;
    background-position: top;
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
    text-indent: 9999px;
  }
  /* line 148, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1078 a:hover, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1079 a:hover,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1080 a:hover, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1228 a:hover,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1229 a:hover, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1230 a:hover {
    background-color: transparent;
    background-position: bottom;
  }
  /* line 154, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1078 a {
    background: url("images/social/twitter-icon.png") no-repeat;
  }
  /* line 157, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1080 a {
    background: url("images/social/youtube-icon.png") no-repeat;
  }
  /* line 160, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1079 a {
    background: url("images/social/facebook-icon.png") no-repeat;
  }
  /* line 163, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1228 a {
    background: url("images/social/linkedin-icon.png") no-repeat;
  }
  /* line 166, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1229 a {
    background: url("images/social/pintrest-icon.png") no-repeat;
  }
  /* line 169, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1230 a {
    background: url("images/social/instagram-icon.png") no-repeat;
  }
}
/* line 177, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu {
  position: absolute;
  bottom: 0;
  padding: 0px;
  background: black;
  width: 100%;
  font-family: "Neuton", serif;
  font-size: 1.8rem;
}
@media only screen and (min-width: 899px) {
  /* line 177, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu {
    width: auto;
    right: 0;
    padding-left: 100px;
  }
  /* line 189, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu:before {
    content: "Start Here";
    position: absolute;
    right: 600px;
    top: 19%;
    color: white;
    font-weight: bold;
  }
}
@media only screen and (max-width: 480px) {
  /* line 177, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu {
    font-size: 1.6rem;
  }
}
/* line 201, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu {
  background-color: #ffd451;
  width: 100%;
  float: right;
  padding-left: 15px;
  margin: 0px;
}
@media only screen and (min-width: 899px) {
  /* line 201, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu {
    width: auto;
    padding-left: 25px;
  }
  /* line 210, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu:before {
    width: 0;
    height: 0;
    content: "";
    right: 570px;
    position: absolute;
    border-top: 25px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 20px solid black;
  }
}
/* line 221, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  display: block;
  float: left;
  padding: 10px 12px;
}
@media only screen and (min-width: 899px) {
  /* line 221, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu li {
    padding: 10px 26px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 221, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu li {
    padding: 6px 3px;
  }
}
/* line 239, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li ul {
  display: none;
}
/* line 242, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li:hover {
  background-color: black;
}
/* line 244, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li:hover a {
  color: white;
}
/* line 248, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* line 252, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li a:hover {
  text-decoration: none;
  color: white;
}

/* line 263, ../sass/local.styles.scss */
#content-wrapper, #header-wrapper, #content-header-wrapper, #messages-help-wrapper {
  background-color: #ddd;
}

/* line 267, ../sass/local.styles.scss */
#main-content, #main-content-header, #breadcrumb, #messages {
  background: white;
}

/* line 271, ../sass/local.styles.scss */
#breadcrumb, #messages {
  margin: 0px;
  padding: 10px;
}

/* line 277, ../sass/local.styles.scss */
#content .pane-title, #content .block-title {
  background-color: transparent;
  color: #333;
  padding: 10px;
  border-bottom: 0px;
  margin: 0px;
}
/* line 287, ../sass/local.styles.scss */
#content .block-content {
  padding: 10px;
}
/* line 293, ../sass/local.styles.scss */
#content .block-main .no-title .block-inner {
  border: 0px;
}

/* line 302, ../sass/local.styles.scss */
#content .pane-node .block-content {
  padding: 5px;
}

/* line 308, ../sass/local.styles.scss */
.flexslider {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  -webkit-box-shadow: white 0px 0px 0px;
  -moz-box-shadow: white 0px 0px 0px;
  box-shadow: white 0px 0px 0px;
  /* Flexslider Pager */
}
/* line 309, ../sass/local.styles.scss */
.flexslider ul {
  padding: 0px;
}
/* line 317, ../sass/local.styles.scss */
.flexslider a {
  color: white;
}
/* line 319, ../sass/local.styles.scss */
.flexslider a:hover {
  color: #9c8345;
  text-decoration: none;
}
/* line 324, ../sass/local.styles.scss */
.flexslider .views-field-field-featured-image h3 {
  display: block;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  background: #333;
  height: 38px;
}
/* line 334, ../sass/local.styles.scss */
.flexslider .flex-control-nav {
  width: auto;
  bottom: -10px;
  right: 10px;
}
/* line 339, ../sass/local.styles.scss */
.flexslider .views-field-field-featured-image .field-content {
  padding-bottom: 5px;
}
/* line 342, ../sass/local.styles.scss */
.flexslider .flex-control-paging li a {
  background-color: whitesmoke;
  border-width: 0px;
  margin-left: 1px;
}
/* line 347, ../sass/local.styles.scss */
.flexslider .flex-control-paging li a.flex-active {
  background-color: #687893;
}

/* line 352, ../sass/local.styles.scss */
.view-footer a {
  width: 100%;
  text-align: right;
  float: right;
}
/* line 356, ../sass/local.styles.scss */
.view-footer a:after {
  margin-left: 5px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f054";
  font-size: 1em;
  color: #9c8345;
}
/* line 360, ../sass/local.styles.scss */
.view-footer a:hover {
  text-decoration: none;
}

/* line 366, ../sass/local.styles.scss */
.formtext {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* line 381, ../sass/local.styles.scss */
.button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  font-family: "Fjalla One", sans-serif;
  background-color: #687893;
  border-color: #687893;
  color: white;
  padding: 6px 12px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 401, ../sass/local.styles.scss */
.button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #9c8345;
  color: white;
  text-decoration: none;
}

/* line 407, ../sass/local.styles.scss */
.front .button {
  float: right;
}

/* line 412, ../sass/local.styles.scss */
#footer-wrapper {
  background-color: #eae3d2;
}
@media only screen and (min-width: 40em) {
  /* line 415, ../sass/local.styles.scss */
  #footer-wrapper .block {
    float: left;
  }
}

/* line 420, ../sass/local.styles.scss */
.region-footer {
  position: relative;
  font-size: 14px;
}
/* line 423, ../sass/local.styles.scss */
.region-footer a {
  color: black;
  font-family: "Neuton", serif;
}
/* line 426, ../sass/local.styles.scss */
.region-footer a:hover {
  color: black;
}
/* line 430, ../sass/local.styles.scss */
.region-footer ul {
  margin-top: 0px;
}
/* line 432, ../sass/local.styles.scss */
.region-footer ul li {
  list-style-image: none;
  list-style-type: none;
  padding-right: 5px;
}
/* line 438, ../sass/local.styles.scss */
.region-footer h2 {
  font-size: 1.8rem;
}

/*
 * @file
 * local.styles
 *
*/
/*
 *	HireAHawk Block Style
 */
/* line 14, ../sass/_local.scss */
.pane-block-1 {
  background-color: whitesmoke;
}
/* line 16, ../sass/_local.scss */
.pane-block-1 .pane-title {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.9rem;
}

/*
 *	Success Stories Teaser Pane
 */
/* line 26, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane {
  margin: 10px;
}
/* line 28, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image {
  float: right;
}
/* line 30, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image img {
  padding: 10px;
}
/* line 34, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-title-1 {
  text-align: right;
}

/*
 *	Employer Showcase Grid Panel Pane
 */
/* line 44, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul {
  list-style: none;
}
/* line 46, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul li {
  display: block;
  float: left;
  margin: 0.25em;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* line 55, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo {
  line-height: 200px;
  width: 200px;
  text-align: center;
}
/* line 60, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo img {
  vertical-align: middle;
}

/*
 *	Homepage Featured Slider
 */
/* line 70, ../sass/_local.scss */
#content .pane-featured-slider-panel-pane-featured-slider {
  padding: 5px 0px;
}
/* line 72, ../sass/_local.scss */
#content .pane-featured-slider-panel-pane-featured-slider .block-content {
  padding: 10px 0px;
}

/*
 *	Employers Showcase Slider Pane
 */
/* line 83, ../sass/_local.scss */
.pane-employer-showcase-employer-showcase-slider-panel-pane .block-inner {
  border-bottom: 2px solid #687893;
}

/* line 89, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane .flexslider {
  border: 0px;
  margin: 0 0 5px;
}
/* line 93, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane {
  padding: 0px;
}
/* line 95, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content {
  position: relative;
  height: 200px;
}
/* line 98, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 200px;
  height: auto;
  width: auto;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}
/* line 110, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 1.0;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
/* line 121, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane .flex-control-paging {
  display: none;
}

/*
 *	Video Fields
 */
/* line 131, ../sass/_local.scss */
.field-name-field-video-file iframe {
  width: 100%;
  max-width: 640px;
}
/* line 136, ../sass/_local.scss */
.field-name-field-video-file #player {
  height: auto;
  width: auto;
}

/*
 *	People View Panes
 */
/* line 147, ../sass/_local.scss */
.pane-people-panel-pane-career-advisors .views-field-field-people-picture, .pane-people-panel-pane-peer-advisors .views-field-field-people-picture, .pane-people-panel-pane-experiential-education-team .views-field-field-people-picture, .pane-people-panel-pane-employer-relations-team .views-field-field-people-picture {
  display: block;
  float: left;
}
/* line 151, ../sass/_local.scss */
.pane-people-panel-pane-career-advisors .views-field-title, .pane-people-panel-pane-career-advisors .views-field-field-people-position .field-content, .pane-people-panel-pane-career-advisors .views-field-field-people-responsibilities, .pane-people-panel-pane-peer-advisors .views-field-title, .pane-people-panel-pane-peer-advisors .views-field-field-people-position .field-content, .pane-people-panel-pane-peer-advisors .views-field-field-people-responsibilities, .pane-people-panel-pane-experiential-education-team .views-field-title, .pane-people-panel-pane-experiential-education-team .views-field-field-people-position .field-content, .pane-people-panel-pane-experiential-education-team .views-field-field-people-responsibilities, .pane-people-panel-pane-employer-relations-team .views-field-title, .pane-people-panel-pane-employer-relations-team .views-field-field-people-position .field-content, .pane-people-panel-pane-employer-relations-team .views-field-field-people-responsibilities {
  margin-left: 110px;
}

/* line 156, ../sass/_local.scss */
.pane-quicktabs-announcements-events .block-inner {
  border-bottom: 2px solid #687893;
}

/* line 161, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-field-featured-image {
  display: block;
  float: left;
  position: relative;
  width: 80px;
  height: 80px;
  border: 5px solid #687893;
}
/* line 169, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-field-featured-image:before {
  position: absolute;
  left: 15px;
  top: -5px;
  z-index: 1;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f05a";
  font-size: 4.2em;
  color: #687893;
}
/* line 176, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-field-featured-image img {
  position: relative;
  z-index: 2;
}
/* line 184, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-title,
.view-display-id-announcements_front_content_pane .views-field-body,
.view-display-id-announcements_front_content_pane .views-field-field-announcement-attachments,
.view-display-id-announcements_front_content_pane .views-field-field-announcement-link {
  margin-left: 95px;
}

/* line 189, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-field-title {
  margin-left: 0px;
}
/* line 192, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row {
  margin-left: 0px;
  float: left;
  width: auto;
  display: block;
  width: 230px;
  padding-right: 10px;
  margin-left: 0px;
}
/* line 200, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #333333;
  display: block;
  float: left;
  padding-right: 5px;
}
/* line 208, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-1:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #e68b39;
}
/* line 213, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-2:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #57b4a5;
}
/* line 218, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-3:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #8f394f;
}
/* line 223, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-4:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #d1d55a;
}

/* line 230, ../sass/_local.scss */
.front .pane-system-main-menu ul.menu {
  margin-top: 0px;
}
/* line 232, ../sass/_local.scss */
.front .pane-system-main-menu ul.menu li {
  font-size: 1.8rem;
  list-style: none;
}
/* line 235, ../sass/_local.scss */
.front .pane-system-main-menu ul.menu li:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f105";
  font-size: 1em;
  color: #9c8345;
  display: block;
  float: left;
  padding-right: 5px;
}

/* line 245, ../sass/_local.scss */
.pane-quicktabs-announcements-events .pane-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 250, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle {
  font: inherit;
  padding-left: 0px;
}
/* line 254, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li {
  margin: 0px;
  background-color: whitesmoke;
  font-size: 2.4rem;
  padding: 5px 10px;
}
@media only screen and (min-width: 899px) {
  /* line 254, ../sass/_local.scss */
  #quicktabs-announcements_events ul.quicktabs-style-nostyle li {
    font-size: 2.5rem;
  }
}
/* line 262, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li a {
  color: #687893;
}
/* line 264, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li a:hover {
  color: white;
  text-decoration: none;
}
/* line 269, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li:hover {
  background-color: #9c8345;
}
/* line 271, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li:hover a {
  color: white;
}
/* line 276, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li.active {
  background-color: #687893;
}
/* line 278, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li.active a {
  color: white;
}

/* line 285, ../sass/_local.scss */
.button-yellow {
  display: inline-block;
  position: relative;
  font-family: "Fjalla One", sans-serif;
  background-color: #ffd451;
  color: #333;
  padding: 6px 0px 6px 6px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 304, ../sass/_local.scss */
.button-yellow:hover {
  background-color: #9c8345;
  color: white;
  text-decoration: none;
}
/* line 308, ../sass/_local.scss */
.button-yellow:hover:after {
  width: 0;
  height: 0;
  content: "";
  right: -16px;
  bottom: 0px;
  position: absolute;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #9c8345;
}
/* line 320, ../sass/_local.scss */
.button-yellow:after {
  width: 0;
  height: 0;
  content: "";
  right: -16px;
  bottom: 0px;
  position: absolute;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #ffd451;
}

/* line 334, ../sass/_local.scss */
.view-id-events .views-row {
  padding: 5px;
}
/* line 337, ../sass/_local.scss */
.view-id-events .views-row-odd {
  background-color: whitesmoke;
}
/* line 341, ../sass/_local.scss */
.view-id-events .events-date:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f017";
  font-size: 1em;
  color: #9c8345;
}
/* line 346, ../sass/_local.scss */
.view-id-events .events-location:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f041";
  font-size: 1em;
  color: #9c8345;
  padding: 0px 2px;
}

@media only screen and (min-width: 40em) {
  /* line 354, ../sass/_local.scss */
  .region-footer #block-menu-block-2 {
    width: 50%;
  }
}
@media only screen and (min-width: 40em) {
  /* line 359, ../sass/_local.scss */
  .region-footer #block-menu-block-3 {
    min-width: 110px;
  }
}
@media only screen and (min-width: 40em) {
  /* line 365, ../sass/_local.scss */
  .region-footer .menu-name-main-menu ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}
/* line 371, ../sass/_local.scss */
.region-footer #block-block-2 {
  padding: 0 0 0 15px;
  margin-top: 10px;
}
@media only screen and (min-width: 40em) {
  /* line 371, ../sass/_local.scss */
  .region-footer #block-block-2 {
    float: right;
    padding: 0 15px 0 0;
  }
}

/* line 383, ../sass/_local.scss */
.rss-feed a:before {
  margin-right: 0.5em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f143";
  font-size: 1em;
  color: #e68b39;
}
/* line 387, ../sass/_local.scss */
.rss-feed a:hover {
  text-decoration: none;
}
