@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
/*
 * @file
 * local.styles
 *
 */
/* line 11, ../sass/local.styles.scss */
body {
  min-width: 320px;
  background-color: white;
  color: #333;
}
/* line 15, ../sass/local.styles.scss */
body a {
  color: #687893;
  font-weight: bold;
}
/* line 18, ../sass/local.styles.scss */
body a:hover {
  color: #9c8345;
}

/* line 24, ../sass/local.styles.scss */
#page-title {
  padding-left: 10px;
}

/* line 29, ../sass/local.styles.scss */
.front #page-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 33, ../sass/local.styles.scss */
#header-wrapper {
  background-color: #333;
  background: url("images/bg_tile.gif") repeat;
}

/* line 38, ../sass/local.styles.scss */
#header {
  background-color: #eee;
  background: url("images/header.png") no-repeat;
  position: relative;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 46, ../sass/local.styles.scss */
#header #branding {
  padding-right: 20px;
  position: absolute;
  bottom: 45px;
}
@media only screen and (min-width: 40em) {
  /* line 52, ../sass/local.styles.scss */
  #header #branding #logo {
    padding-left: 20px;
  }
}
/* line 57, ../sass/local.styles.scss */
#header #branding .site-logo {
  width: 320px;
}
/* line 60, ../sass/local.styles.scss */
#header #branding #site-name {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
/* line 63, ../sass/local.styles.scss */
#header #branding #site-slogan {
  font-size: 1.8rem;
  color: white;
  font-family: "Neuton", serif;
  text-align: center;
  position: relative;
  bottom: 25px;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 2px 2px 0, rgba(0, 0, 0, 0.2) 3px 3px 0;
}
@media only screen and (min-width: 40em) {
  /* line 63, ../sass/local.styles.scss */
  #header #branding #site-slogan {
    padding-left: 80px;
  }
}
/* line 78, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 {
  padding: 0px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 3;
  font-family: "Neuton", serif;
  font-size: 1.8rem;
}
@media only screen and (min-width: 40em) {
  /* line 78, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 {
    background-color: transparent;
    font-size: 1.4rem;
  }
}
/* line 90, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle {
  margin-left: 5px;
  color: white;
}
/* line 93, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle:hover {
  color: #ffd451;
  text-decoration: none;
}
/* line 96, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle:hover:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  font-size: 1.2em;
  color: #ffd451;
}
/* line 100, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav-toggle:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  font-size: 1.2em;
  color: white;
  padding-right: 5px;
  vertical-align: middle;
}
/* line 107, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav {
  float: right;
}
@media only screen and (min-width: 40em) {
  /* line 107, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* line 113, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav a, #header .region-header #block-responsive-navigation-1 #nav a:hover, #header .region-header #block-responsive-navigation-1 #nav a:active, #header .region-header #block-responsive-navigation-1 #nav a:visited {
  color: white;
  text-decoration: none;
}
/* line 117, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav ul {
  text-align: right;
}
/* line 120, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li {
  padding: 6px 20px 6px 6px;
}
@media only screen and (min-width: 40em) {
  /* line 120, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav li {
    display: inline-block;
    width: auto;
    padding: 6px;
  }
}
/* line 127, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li ul {
  display: none;
}
/* line 131, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li:hover {
  background-color: white;
}
/* line 133, ../sass/local.styles.scss */
#header .region-header #block-responsive-navigation-1 #nav li:hover a, #header .region-header #block-responsive-navigation-1 #nav li:hover a:hover, #header .region-header #block-responsive-navigation-1 #nav li:hover a:active, #header .region-header #block-responsive-navigation-1 #nav li:hover a:visited {
  color: #333;
}
@media only screen and (min-width: 40em) {
  /* line 141, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1078, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1079,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1080, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1228,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1229, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1230 {
    padding: 0px;
    margin: 0px 3px;
  }
  /* line 144, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1078 a, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1079 a,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1080 a, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1228 a,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1229 a, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1230 a {
    display: block;
    overflow: hidden;
    background-position: top;
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
    text-indent: 9999px;
  }
  /* line 152, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1078 a:hover, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1079 a:hover,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1080 a:hover, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1228 a:hover,
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1229 a:hover, #header .region-header #block-responsive-navigation-1 #nav .menu-item-1230 a:hover {
    background-color: transparent;
    background-position: bottom;
  }
  /* line 158, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1078 a {
    background: url("images/social/twitter-icon.png") no-repeat;
  }
  /* line 161, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1080 a {
    background: url("images/social/youtube-icon.png") no-repeat;
  }
  /* line 164, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1079 a {
    background: url("images/social/facebook-icon.png") no-repeat;
  }
  /* line 167, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1228 a {
    background: url("images/social/linkedin-icon.png") no-repeat;
  }
  /* line 170, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1229 a {
    background: url("images/social/pintrest-icon.png") no-repeat;
  }
  /* line 173, ../sass/local.styles.scss */
  #header .region-header #block-responsive-navigation-1 #nav .menu-item-1230 a {
    background: url("images/social/instagram-icon.png") no-repeat;
  }
}
/* line 181, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu {
  position: absolute;
  bottom: 0;
  padding: 0px;
  background: black;
  width: 100%;
  font-family: "Neuton", serif;
  font-size: 1.8rem;
}
@media only screen and (min-width: 899px) {
  /* line 181, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu {
    width: auto;
    right: 0;
    padding-left: 100px;
  }
  /* line 193, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu:before {
    content: "Start Here";
    position: absolute;
    right: 600px;
    top: 19%;
    color: white;
    font-weight: bold;
  }
}
@media only screen and (max-width: 480px) {
  /* line 181, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu {
    font-size: 1.6rem;
  }
}
/* line 205, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu {
  background-color: #ffd451;
  width: 100%;
  float: right;
  padding-left: 15px;
  margin: 0px;
}
@media only screen and (min-width: 899px) {
  /* line 205, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu {
    width: auto;
    padding-left: 25px;
  }
  /* line 214, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu:before {
    width: 0;
    height: 0;
    content: "";
    right: 570px;
    position: absolute;
    border-top: 25px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 20px solid black;
  }
}
/* line 225, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  display: block;
  float: left;
  padding: 10px 12px;
}
@media only screen and (min-width: 899px) {
  /* line 225, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu li {
    padding: 10px 26px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 225, ../sass/local.styles.scss */
  #header .region-header .block-menu-audience-menu ul.menu li {
    padding: 6px 3px;
  }
}
/* line 243, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li ul {
  display: none;
}
/* line 246, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li:hover {
  background-color: black;
}
/* line 248, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li:hover a {
  color: white;
}
/* line 252, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* line 256, ../sass/local.styles.scss */
#header .region-header .block-menu-audience-menu ul.menu li a:hover {
  text-decoration: none;
  color: white;
}

/* line 269, ../sass/local.styles.scss */
#content-wrapper, #header-wrapper,
#breadcrumb-wrapper, #content-header-wrapper,
#messages-help-wrapper, #tertiary-content-wrapper {
  background-color: #ddd;
}

/* line 273, ../sass/local.styles.scss */
#main-content, #main-content-header, #breadcrumb, #messages, .region-tertiary-content {
  background: white;
}

/* line 277, ../sass/local.styles.scss */
#breadcrumb, #messages {
  margin: 0px;
  padding: 10px;
}

/* line 283, ../sass/local.styles.scss */
#content .pane-title, #content .block-title {
  background-color: transparent;
  color: #333;
  padding: 10px;
  border-bottom: 0px;
  margin: 0px;
}
/* line 293, ../sass/local.styles.scss */
#content .block-content {
  padding: 10px;
}
/* line 299, ../sass/local.styles.scss */
#content .block-main .no-title .block-inner {
  border: 0px;
}

/* line 308, ../sass/local.styles.scss */
#content .pane-node .block-content {
  padding: 5px;
}

/* line 314, ../sass/local.styles.scss */
.field-label {
  font-size: 1.8rem;
}

/* line 318, ../sass/local.styles.scss */
.flexslider {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  -webkit-box-shadow: white 0px 0px 0px;
  -moz-box-shadow: white 0px 0px 0px;
  box-shadow: white 0px 0px 0px;
  /* Flexslider Pager */
}
/* line 319, ../sass/local.styles.scss */
.flexslider ul {
  padding: 0px;
}
/* line 327, ../sass/local.styles.scss */
.flexslider a {
  color: white;
}
/* line 329, ../sass/local.styles.scss */
.flexslider a:hover {
  color: #9c8345;
  text-decoration: none;
}
/* line 334, ../sass/local.styles.scss */
.flexslider .views-field-field-featured-image h3 {
  display: block;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  background: #333;
  height: 38px;
}
/* line 344, ../sass/local.styles.scss */
.flexslider .flex-control-nav {
  width: auto;
  bottom: -10px;
  right: 10px;
}
/* line 349, ../sass/local.styles.scss */
.flexslider .views-field-field-featured-image .field-content {
  padding-bottom: 5px;
}
/* line 352, ../sass/local.styles.scss */
.flexslider .flex-control-paging li a {
  background-color: whitesmoke;
  border-width: 0px;
  margin-left: 1px;
}
/* line 357, ../sass/local.styles.scss */
.flexslider .flex-control-paging li a.flex-active {
  background-color: #687893;
}

/* line 362, ../sass/local.styles.scss */
.view-footer a {
  width: 100%;
  text-align: right;
  float: right;
}
/* line 366, ../sass/local.styles.scss */
.view-footer a:after {
  margin-left: 5px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f054";
  font-size: 1em;
  color: #9c8345;
}
/* line 370, ../sass/local.styles.scss */
.view-footer a:hover {
  text-decoration: none;
}

/* line 376, ../sass/local.styles.scss */
.formtext {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* line 391, ../sass/local.styles.scss */
.button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  font-family: "Fjalla One", sans-serif;
  background-color: #687893;
  border-color: #687893;
  color: white;
  padding: 6px 12px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 411, ../sass/local.styles.scss */
.button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #9c8345;
  color: white;
  text-decoration: none;
}

/* line 417, ../sass/local.styles.scss */
.front .button {
  float: right;
}

/* line 422, ../sass/local.styles.scss */
#footer-wrapper {
  background-color: #eae3d2;
}
@media only screen and (min-width: 40em) {
  /* line 425, ../sass/local.styles.scss */
  #footer-wrapper .block {
    float: left;
  }
}

/* line 430, ../sass/local.styles.scss */
.region-footer {
  position: relative;
  font-size: 14px;
}
/* line 433, ../sass/local.styles.scss */
.region-footer a {
  color: black;
  font-family: "Neuton", serif;
}
/* line 436, ../sass/local.styles.scss */
.region-footer a:hover {
  color: black;
}
/* line 440, ../sass/local.styles.scss */
.region-footer ul {
  margin-top: 0px;
}
/* line 442, ../sass/local.styles.scss */
.region-footer ul li {
  list-style-image: none;
  list-style-type: none;
  padding-right: 5px;
}
/* line 448, ../sass/local.styles.scss */
.region-footer h2 {
  font-size: 1.8rem;
}

/*
 * @file
 * local.styles
 *
*/
/*
 *	HireAHawk Block Style
 */
/* line 14, ../sass/_local.scss */
.pane-block-1 {
  background-color: whitesmoke;
}
/* line 16, ../sass/_local.scss */
.pane-block-1 .pane-title {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.9rem;
}

/*
 *	Audience Portal Menu Block Styling (UNDER CONSTRUCTION)
 */
 /*.menu-block-4{
 	ul{
 		padding: 0px;
 		margin: 0px;
 	}
 	.menu-depth-2{
 		width: 100%;
 		@media only screen and (min-width : 40em) {
 			max-width: 33%;
 		}
 		min-height: 250px;
 		@include inline-block;
 		vertical-align: top;
 		margin: 10px 10px 10px 0px;
 		*display: inline; // IE HACK
 		_height: 250px; // IE HACK
 		
 		a{
 			padding: 6px 12px;
			background-color: black;
			color: white;
			font-size: 2.0rem;
			display: block;
			width: 100%;
 		}
 		li a{
 			background-color: transparent;
 			color: #333;
 			font-size: 1.6rem;
 		}
 	}
 }*/
/*
 *	Success Stories Teaser Pane
 */
/* line 63, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane {
  margin: 10px;
}
/* line 65, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image {
  float: right;
}
/* line 67, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image img {
  padding: 10px;
}
/* line 71, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-title-1 {
  text-align: right;
}

/*
 *	Employer Showcase Grid Panel Pane
 */
/* line 81, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul {
  list-style: none;
}
/* line 83, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul li {
  display: block;
  float: left;
  margin: 0.25em;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* line 92, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo {
  line-height: 200px;
  width: 200px;
  text-align: center;
}
/* line 97, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo img {
  vertical-align: middle;
}

/*
 *	Homepage Featured Slider
 */
/* line 107, ../sass/_local.scss */
#content .pane-featured-slider-panel-pane-featured-slider {
  padding: 5px 0px;
}
/* line 109, ../sass/_local.scss */
#content .pane-featured-slider-panel-pane-featured-slider .block-content {
  padding: 10px 0px;
}

/*
 *	Employers Showcase Slider Pane
 */
/* line 120, ../sass/_local.scss */
.pane-employer-showcase-employer-showcase-slider-panel-pane .block-inner {
  border-bottom: 2px solid #687893;
}

/* line 126, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane .flexslider {
  border: 0px;
  margin: 0 0 5px;
}
/* line 130, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane {
  padding: 0px;
}
/* line 132, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content {
  position: relative;
  height: 200px;
}
/* line 135, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 200px;
  height: auto;
  width: auto;
}
/* line 145, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane .flex-control-paging {
  display: none;
}

/*
 *	Video Fields
 */
/* line 155, ../sass/_local.scss */
.field-name-field-video-file iframe {
  width: 100%;
  max-width: 640px;
}
/* line 160, ../sass/_local.scss */
.field-name-field-video-file #player {
  height: auto;
  width: auto;
}

/*
 *	People Node
 */
/* line 172, ../sass/_local.scss */
#content .pane-node-title .block-content, #content .pane-node-field-people-position .block-content, #content .pane-node-field-people-email .block-content {
  padding: 0px 10px;
}

/* line 179, ../sass/_local.scss */
.node-type-people #page-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
/* line 183, ../sass/_local.scss */
.node-type-people .pane-node-field-people-picture img {
  border: 5px solid #687893;
}
@media only screen and (min-width: 40em) {
  /* line 182, ../sass/_local.scss */
  .node-type-people .pane-node-field-people-picture {
    float: right;
  }
  /* line 188, ../sass/_local.scss */
  .node-type-people .pane-node-field-people-picture img {
    width: 250px;
  }
}
/* line 194, ../sass/_local.scss */
.node-type-people .pane-node-title .pane-title {
  display: none;
}
@media only screen and (min-width: 899px) {
  /* line 199, ../sass/_local.scss */
  .node-type-people .pane-node-title, .node-type-people .pane-node-field-people-position, .node-type-people .pane-node-field-people-email {
    text-align: right;
  }
  /* line 202, ../sass/_local.scss */
  .node-type-people .pane-node-title {
    padding-top: 165px;
  }
  /* line 205, ../sass/_local.scss */
  .node-type-people .pane-node-field-people-email {
    margin-bottom: 14px;
  }
}
/* line 212, ../sass/_local.scss */
.node-type-people .pane-node-title, .node-type-people .pane-node-field-people-position,
.node-type-people .pane-node-field-people-email, .node-type-people .pane-node-field-people-biography,
.node-type-people .pane-node-field-people-responsibilities, .node-type-people .pane-node-field-people-group,
.node-type-people .pane-node-links {
  overflow: hidden;
  min-width: 200px;
}

/*
 *	People View Panes
 */
/* line 223, ../sass/_local.scss */
.pane-people-panel-pane-career-advisors .views-field-field-people-picture, .pane-people-panel-pane-peer-advisors .views-field-field-people-picture, .pane-people-panel-pane-experiential-education-team .views-field-field-people-picture, .pane-people-panel-pane-employer-relations-team .views-field-field-people-picture {
  display: block;
  float: left;
}
/* line 227, ../sass/_local.scss */
.pane-people-panel-pane-career-advisors .views-field-title, .pane-people-panel-pane-career-advisors .views-field-field-people-position .field-content, .pane-people-panel-pane-career-advisors .views-field-field-people-responsibilities, .pane-people-panel-pane-peer-advisors .views-field-title, .pane-people-panel-pane-peer-advisors .views-field-field-people-position .field-content, .pane-people-panel-pane-peer-advisors .views-field-field-people-responsibilities, .pane-people-panel-pane-experiential-education-team .views-field-title, .pane-people-panel-pane-experiential-education-team .views-field-field-people-position .field-content, .pane-people-panel-pane-experiential-education-team .views-field-field-people-responsibilities, .pane-people-panel-pane-employer-relations-team .views-field-title, .pane-people-panel-pane-employer-relations-team .views-field-field-people-position .field-content, .pane-people-panel-pane-employer-relations-team .views-field-field-people-responsibilities {
  margin-left: 110px;
}

/* line 232, ../sass/_local.scss */
.pane-quicktabs-announcements-events .block-inner {
  border-bottom: 2px solid #687893;
}

/* line 237, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-field-featured-image {
  display: block;
  float: left;
  position: relative;
  width: 80px;
  height: 80px;
  border: 5px solid #687893;
}
/* line 245, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-field-featured-image:before {
  position: absolute;
  left: 15px;
  top: -5px;
  z-index: 1;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f05a";
  font-size: 4.2em;
  color: #687893;
}
/* line 252, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-field-featured-image img {
  position: relative;
  z-index: 2;
}
/* line 260, ../sass/_local.scss */
.view-display-id-announcements_front_content_pane .views-field-title,
.view-display-id-announcements_front_content_pane .views-field-body,
.view-display-id-announcements_front_content_pane .views-field-field-announcement-attachments,
.view-display-id-announcements_front_content_pane .views-field-field-announcement-link {
  margin-left: 95px;
}

/* line 265, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-field-title {
  margin-left: 0px;
}
/* line 268, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row {
  margin-left: 0px;
  float: left;
  width: auto;
  display: block;
  width: 230px;
  padding-right: 10px;
  margin-left: 0px;
}
/* line 276, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #333333;
  display: block;
  float: left;
  padding-right: 5px;
}
/* line 284, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-1:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #e68b39;
}
/* line 289, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-2:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #57b4a5;
}
/* line 294, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-3:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #8f394f;
}
/* line 299, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-4:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #d1d55a;
}

/* line 306, ../sass/_local.scss */
.front .pane-system-main-menu ul.menu {
  margin-top: 0px;
}
/* line 308, ../sass/_local.scss */
.front .pane-system-main-menu ul.menu li {
  font-size: 1.8rem;
  list-style: none;
}
/* line 311, ../sass/_local.scss */
.front .pane-system-main-menu ul.menu li:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f105";
  font-size: 1em;
  color: #9c8345;
  display: block;
  float: left;
  padding-right: 5px;
}

/* line 321, ../sass/_local.scss */
.pane-quicktabs-announcements-events .pane-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 326, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle {
  font: inherit;
  padding-left: 0px;
}
/* line 330, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li {
  margin: 0px;
  background-color: whitesmoke;
  font-size: 2.4rem;
  padding: 5px 10px;
}
@media only screen and (min-width: 899px) {
  /* line 330, ../sass/_local.scss */
  #quicktabs-announcements_events ul.quicktabs-style-nostyle li {
    font-size: 2.5rem;
  }
}
/* line 338, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li a {
  color: #687893;
}
/* line 340, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li a:hover {
  color: white;
  text-decoration: none;
}
/* line 345, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li:hover {
  background-color: #9c8345;
}
/* line 347, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li:hover a {
  color: white;
}
/* line 352, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li.active {
  background-color: #687893;
}
/* line 354, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-style-nostyle li.active a {
  color: white;
}

/* line 361, ../sass/_local.scss */
.button-yellow {
  display: inline-block;
  position: relative;
  font-family: "Fjalla One", sans-serif;
  background-color: #ffd451;
  color: #333;
  padding: 6px 0px 6px 6px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 380, ../sass/_local.scss */
.button-yellow:hover {
  background-color: #9c8345;
  color: white;
  text-decoration: none;
}
/* line 384, ../sass/_local.scss */
.button-yellow:hover:after {
  width: 0;
  height: 0;
  content: "";
  right: -16px;
  bottom: 0px;
  position: absolute;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #9c8345;
}
/* line 396, ../sass/_local.scss */
.button-yellow:after {
  width: 0;
  height: 0;
  content: "";
  right: -16px;
  bottom: 0px;
  position: absolute;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #ffd451;
}

/* line 410, ../sass/_local.scss */
.view-id-events .views-row {
  padding: 5px;
}
/* line 413, ../sass/_local.scss */
.view-id-events .views-row-odd {
  background-color: whitesmoke;
}
/* line 417, ../sass/_local.scss */
.view-id-events .events-date:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f017";
  font-size: 1em;
  color: #9c8345;
}
/* line 422, ../sass/_local.scss */
.view-id-events .events-location:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f041";
  font-size: 1em;
  color: #9c8345;
  padding: 0px 2px;
}

@media only screen and (min-width: 40em) {
  /* line 430, ../sass/_local.scss */
  .region-footer #block-menu-block-2 {
    width: 50%;
  }
}
@media only screen and (min-width: 40em) {
  /* line 435, ../sass/_local.scss */
  .region-footer #block-menu-block-3 {
    min-width: 110px;
  }
}
@media only screen and (min-width: 40em) {
  /* line 441, ../sass/_local.scss */
  .region-footer .menu-name-main-menu ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}
/* line 447, ../sass/_local.scss */
.region-footer #block-block-2 {
  padding: 0 0 0 15px;
  margin-top: 10px;
}
@media only screen and (min-width: 40em) {
  /* line 447, ../sass/_local.scss */
  .region-footer #block-block-2 {
    float: right;
    padding: 0 15px 0 0;
  }
}

/* line 459, ../sass/_local.scss */
.rss-feed a:before {
  margin-right: 0.5em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f143";
  font-size: 1em;
  color: #e68b39;
}
/* line 463, ../sass/_local.scss */
.rss-feed a:hover {
  text-decoration: none;
}
