@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/*
 * 1100 px Max Width Container and Up
 */
/* line 37, ../sass/responsive.custom.scss */
body {
  min-width: 320px;
  background-color: #eee;
  color: #333;
}
/* line 41, ../sass/responsive.custom.scss */
body a {
  color: #547496;
  font-weight: bold;
}
/* line 44, ../sass/responsive.custom.scss */
body a:hover {
  color: #9c8345;
}

/* line 51, ../sass/responsive.custom.scss */
.front #page-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 55, ../sass/responsive.custom.scss */
#leaderboard-wrapper {
  background-color: #eee;
}

/*
 * Main Menu - Responsive
 */
/* line 63, ../sass/responsive.custom.scss */
#block-menu-menu-site-links {
  background-color: #eee;
  padding: 0px;
  float: right;
  margin-right: 10px;
}
/* line 68, ../sass/responsive.custom.scss */
#block-menu-menu-site-links ul {
  margin: 0px;
}
/* line 71, ../sass/responsive.custom.scss */
#block-menu-menu-site-links a, #block-menu-menu-site-links a:hover, #block-menu-menu-site-links a:active, #block-menu-menu-site-links a:visited {
  color: #333;
  text-decoration: none;
}
/* line 75, ../sass/responsive.custom.scss */
#block-menu-menu-site-links li {
  padding: 15px 5px 10px 5px;
  display: inline-block;
}
/* line 79, ../sass/responsive.custom.scss */
#block-menu-menu-site-links li:hover {
  background-color: #333;
}
/* line 81, ../sass/responsive.custom.scss */
#block-menu-menu-site-links li:hover a, #block-menu-menu-site-links li:hover a:hover, #block-menu-menu-site-links li:hover a:active, #block-menu-menu-site-links li:hover a:visited {
  color: white;
}
/* line 85, ../sass/responsive.custom.scss */
#block-menu-menu-site-links li ul {
  display: none;
}
/* line 88, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1078 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0px 19px 30px 0px;
  margin-left: 5px;
}
/* line 94, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1078:hover {
  background: transparent;
}
/* line 96, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1078:hover:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f081";
  font-size: 1.6em;
  color: #0084b4;
}
/* line 101, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1078:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f081";
  font-size: 1.6em;
  color: #333333;
}
/* line 105, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1080 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0px 19px 30px 0px;
  margin-left: 5px;
}
/* line 111, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1080:hover {
  background: transparent;
}
/* line 113, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1080:hover:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f166";
  font-size: 1.6em;
  color: #cc181e;
}
/* line 118, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1080:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f166";
  font-size: 1.6em;
  color: #333333;
}
/* line 122, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1079 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0px 19px 30px 0px;
  margin-left: 5px;
}
/* line 128, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1079:hover {
  background: transparent;
}
/* line 130, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1079:hover:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f082";
  font-size: 1.6em;
  color: #3b5998;
}
/* line 135, ../sass/responsive.custom.scss */
#block-menu-menu-site-links .menu-item-1079:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f082";
  font-size: 1.6em;
  color: #333333;
}
/* line 139, ../sass/responsive.custom.scss */
#block-menu-menu-site-links #nav-toggle {
  margin-left: 5px;
}
/* line 141, ../sass/responsive.custom.scss */
#block-menu-menu-site-links #nav-toggle:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f0c9";
  font-size: 1.2em;
  color: #333333;
  padding-right: 5px;
  vertical-align: middle;
}
@media only screen and (min-width: 40em) {
  /* line 63, ../sass/responsive.custom.scss */
  #block-menu-menu-site-links {
    padding: 0px;
  }
}

@media only screen and (min-width: 40em) {
  /* line 153, ../sass/responsive.custom.scss */
  #nav li {
    width: auto;
    float: left;
    padding: 8px;
  }
}
/* line 160, ../sass/responsive.custom.scss */
#header-wrapper {
  background-color: #333;
  background: url("images/bg_tile.gif") repeat;
}

/* line 166, ../sass/responsive.custom.scss */
#header {
  background-color: #eee;
  background: url("images/header.png") no-repeat;
  position: relative;
  height: 230px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*
   * Audience Menu - Header Region
   */
}
@media only screen and (max-width: 480px) {
  /* line 166, ../sass/responsive.custom.scss */
  #header {
    background: none;
  }
}
/* line 184, ../sass/responsive.custom.scss */
#header #branding {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 0px 20px;
}
/* line 189, ../sass/responsive.custom.scss */
#header #branding #logo {
  padding: 0px;
}
/* line 192, ../sass/responsive.custom.scss */
#header #branding #site-name {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
/* line 202, ../sass/responsive.custom.scss */
#header #branding #site-slogan {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: right;
  padding: 5px 20px 5px 5px;
  background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 480px) {
  /* line 202, ../sass/responsive.custom.scss */
  #header #branding #site-slogan {
    text-align: center;
    padding: 5px;
  }
}
@media only screen and (min-width: 899px) {
  /* line 202, ../sass/responsive.custom.scss */
  #header #branding #site-slogan {
    font-size: 1.8rem;
    bottom: 10px;
    background-color: transparent;
  }
}
@media only screen and (min-width: 899px) {
  /* line 184, ../sass/responsive.custom.scss */
  #header #branding {
    bottom: 15px;
  }
}
/* line 230, ../sass/responsive.custom.scss */
#header .region-header {
  position: absolute;
  bottom: 5px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}
@media only screen and (max-width: 480px) {
  /* line 230, ../sass/responsive.custom.scss */
  #header .region-header {
    width: auto;
    background-color: transparent;
  }
}
@media only screen and (min-width: 899px) {
  /* line 230, ../sass/responsive.custom.scss */
  #header .region-header {
    width: auto;
    background-color: transparent;
  }
}
/* line 244, ../sass/responsive.custom.scss */
#header .region-header .block-menu-audience-menu {
  padding: 0px;
}
/* line 246, ../sass/responsive.custom.scss */
#header .region-header .block-menu-audience-menu ul.menu {
  padding: 0px 15px;
  float: right;
  margin: 0px;
}
@media only screen and (max-width: 480px) {
  /* line 246, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 899px) {
  /* line 246, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu {
    margin: 10px;
    margin-bottom: 55px;
  }
}
/* line 259, ../sass/responsive.custom.scss */
#header .region-header .block-menu-audience-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  display: block;
  float: left;
  padding: 6px 10px;
  margin: 1px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
}
/* line 274, ../sass/responsive.custom.scss */
#header .region-header .block-menu-audience-menu ul.menu li ul {
  display: none;
}
/* line 278, ../sass/responsive.custom.scss */
#header .region-header .block-menu-audience-menu ul.menu li:hover {
  background-color: #ffca0e;
}
/* line 280, ../sass/responsive.custom.scss */
#header .region-header .block-menu-audience-menu ul.menu li:hover a {
  color: #333;
}
/* line 285, ../sass/responsive.custom.scss */
#header .region-header .block-menu-audience-menu ul.menu li a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
/* line 289, ../sass/responsive.custom.scss */
#header .region-header .block-menu-audience-menu ul.menu li a:hover {
  text-decoration: none;
  color: #333;
}
@media only screen and (max-width: 480px) {
  /* line 259, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu li {
    width: 99%;
  }
}
@media only screen and (min-width: 40em) {
  /* line 259, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu li {
    position: relative;
  }
  /* line 306, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu li a {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  /* line 327, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu li:hover {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #ffca0e));
    background: -webkit-linear-gradient(top, #ffcc00, #ffca0e);
    background: -moz-linear-gradient(top, #ffcc00, #ffca0e);
    background: -o-linear-gradient(top, #ffcc00, #ffca0e);
    background: linear-gradient(top, #ffcc00, #ffca0e);
    -webkit-box-shadow: #cccccc 0px 0px 0px;
    -moz-box-shadow: #cccccc 0px 0px 0px;
    box-shadow: #cccccc 0px 0px 0px;
  }
  /* line 331, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu li:hover a:before {
    color: #333;
  }
}
@media only screen and (min-width: 40em) {
  /* line 341, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu .menu-item-1004 a:before {
    content: "\F040";
  }
  /* line 346, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu .menu-item-1008 a:before {
    content: "\F0F7";
  }
  /* line 351, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu .menu-item-1007 a:before {
    content: "\F02D";
  }
  /* line 356, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu .menu-item-1005 a:before {
    content: "\F0C0";
  }
  /* line 361, ../sass/responsive.custom.scss */
  #header .region-header .block-menu-audience-menu ul.menu .menu-item-1006 a:before {
    content: "\F015";
  }
}

/* line 371, ../sass/responsive.custom.scss */
#main-content, #main-content-header, #breadcrumb, #messages {
  background: white;
}

/* line 375, ../sass/responsive.custom.scss */
#breadcrumb, #messages {
  margin: 0px;
  padding: 10px;
}

/* line 381, ../sass/responsive.custom.scss */
#content .pane-title, #content .block-title {
  background-color: transparent;
  color: #333;
  padding: 10px;
  border-bottom: 0px;
  margin: 0px;
}
/* line 391, ../sass/responsive.custom.scss */
#content .block-content {
  padding: 10px;
}
/* line 397, ../sass/responsive.custom.scss */
#content .block-main .no-title .block-inner {
  border: 0px;
}

/* line 404, ../sass/responsive.custom.scss */
.flexslider {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  -webkit-box-shadow: white 0px 0px 0px;
  -moz-box-shadow: white 0px 0px 0px;
  box-shadow: white 0px 0px 0px;
  /* Flexslider Pager */
}
/* line 405, ../sass/responsive.custom.scss */
.flexslider ul {
  padding: 0px;
}
/* line 413, ../sass/responsive.custom.scss */
.flexslider a {
  color: white;
}
/* line 415, ../sass/responsive.custom.scss */
.flexslider a:hover {
  color: #9c8345;
  text-decoration: none;
}
/* line 420, ../sass/responsive.custom.scss */
.flexslider .views-field-field-featured-image h3 {
  display: block;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  background: #333;
  height: 38px;
}
/* line 430, ../sass/responsive.custom.scss */
.flexslider .flex-control-nav {
  width: auto;
  bottom: -10px;
  right: 10px;
}
/* line 435, ../sass/responsive.custom.scss */
.flexslider .views-field-field-featured-image .field-content {
  padding-bottom: 5px;
}
/* line 438, ../sass/responsive.custom.scss */
.flexslider .flex-control-paging li a {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cbbe6b), color-stop(100%, #9c8345));
  background: -webkit-linear-gradient(top, #cbbe6b, #9c8345);
  background: -moz-linear-gradient(top, #cbbe6b, #9c8345);
  background: -o-linear-gradient(top, #cbbe6b, #9c8345);
  background: linear-gradient(top, #cbbe6b, #9c8345);
  border-width: 0px;
  margin-left: 1px;
}
/* line 443, ../sass/responsive.custom.scss */
.flexslider .flex-control-paging li a.flex-active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #333333, #000000);
  background: -moz-linear-gradient(top, #333333, #000000);
  background: -o-linear-gradient(top, #333333, #000000);
  background: linear-gradient(top, #333333, #000000);
}

@media only screen and (min-width: 1100px) {
  /* line 450, ../sass/responsive.custom.scss */
  #footer-wrapper .block {
    float: left;
    width: 33.33333%;
  }
}
/* line 457, ../sass/responsive.custom.scss */
.view-footer a {
  width: 100%;
  text-align: right;
  float: right;
}
/* line 461, ../sass/responsive.custom.scss */
.view-footer a:after {
  margin-left: 5px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f054";
  font-size: 1em;
  color: #9c8345;
}
/* line 465, ../sass/responsive.custom.scss */
.view-footer a:hover {
  text-decoration: none;
}

/* line 471, ../sass/responsive.custom.scss */
.whelan-flipped-column-content {
  background-color: #f5f5f5;
}

/* line 475, ../sass/responsive.custom.scss */
.formtext {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* line 490, ../sass/responsive.custom.scss */
.button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  background-color: #333;
  border-color: #333;
  color: white;
  padding: 6px 12px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* line 510, ../sass/responsive.custom.scss */
.button a, input[type="button"] a, input[type="reset"] a, input[type="submit"] a {
  color: white;
}
/* line 513, ../sass/responsive.custom.scss */
.button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #555;
}
/* line 515, ../sass/responsive.custom.scss */
.button:hover a, input[type="button"]:hover a, input[type="reset"]:hover a, input[type="submit"]:hover a {
  color: white;
  text-decoration: none;
}

/*
 * @file
 * local.styles
 *
*/
/*
 *	Success Stories Teaser Pane
 */
/* line 14, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane {
  margin: 10px;
}
/* line 16, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image {
  float: right;
}
/* line 18, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image img {
  padding: 10px;
}
/* line 22, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-title-1 {
  text-align: right;
}

/*
 *	Employer Showcase Grid Panel Pane
 */
/* line 32, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul {
  list-style: none;
}
/* line 34, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul li {
  display: block;
  float: left;
  margin: 0.25em;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* line 43, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo {
  line-height: 200px;
  width: 200px;
  text-align: center;
}
/* line 48, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo img {
  vertical-align: middle;
}

/*
 *	Employers Showcase Slider Pane
 */
/* line 58, ../sass/_local.scss */
.pane-employer-showcase-employer-showcase-slider-panel-pane .block-inner {
  border-bottom: 2px solid #547496;
}

/* line 64, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane .flexslider {
  border: 0px;
  margin: 0 0 5px;
}
/* line 68, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane {
  padding: 0px;
}
/* line 70, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content {
  position: relative;
  height: 200px;
}
/* line 73, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  max-height: 200px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}
/* line 84, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .field-content img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 1.0;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
/* line 95, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane .flex-control-paging {
  display: none;
}

/*
 *	Video Fields
 */
/* line 105, ../sass/_local.scss */
.field-name-field-video-file iframe {
  width: 100%;
  max-width: 640px;
}
/* line 110, ../sass/_local.scss */
.field-name-field-video-file #player {
  height: auto;
  width: auto;
}

/*
 *	People View Panes
 */
/* line 121, ../sass/_local.scss */
.pane-people-panel-pane-career-advisors .views-field-field-people-picture, .pane-people-panel-pane-peer-advisors .views-field-field-people-picture, .pane-people-panel-pane-experiential-education-team .views-field-field-people-picture, .pane-people-panel-pane-employer-relations-team .views-field-field-people-picture {
  display: block;
  float: left;
}
/* line 125, ../sass/_local.scss */
.pane-people-panel-pane-career-advisors .views-field-title, .pane-people-panel-pane-career-advisors .views-field-field-people-position .field-content, .pane-people-panel-pane-career-advisors .views-field-field-people-responsibilities, .pane-people-panel-pane-peer-advisors .views-field-title, .pane-people-panel-pane-peer-advisors .views-field-field-people-position .field-content, .pane-people-panel-pane-peer-advisors .views-field-field-people-responsibilities, .pane-people-panel-pane-experiential-education-team .views-field-title, .pane-people-panel-pane-experiential-education-team .views-field-field-people-position .field-content, .pane-people-panel-pane-experiential-education-team .views-field-field-people-responsibilities, .pane-people-panel-pane-employer-relations-team .views-field-title, .pane-people-panel-pane-employer-relations-team .views-field-field-people-position .field-content, .pane-people-panel-pane-employer-relations-team .views-field-field-people-responsibilities {
  margin-left: 110px;
}

/* line 130, ../sass/_local.scss */
.pane-quicktabs-announcements-events .block-inner {
  border-bottom: 2px solid #547496;
}

/* line 135, ../sass/_local.scss */
.view-display-id-announcements_news_content_pane .views-field-field-featured-image {
  display: block;
  float: left;
}
/* line 138, ../sass/_local.scss */
.view-display-id-announcements_news_content_pane .views-field-field-featured-image img {
  border: 5px solid #547496;
  border-radius: 4px;
}
/* line 143, ../sass/_local.scss */
.view-display-id-announcements_news_content_pane .views-field-title, .view-display-id-announcements_news_content_pane .views-field-created, .view-display-id-announcements_news_content_pane .views-field-body {
  margin-left: 95px;
}

/* line 148, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-field-title {
  margin-left: 0px;
}
/* line 151, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row {
  margin-left: 0px;
  float: left;
  width: auto;
  display: block;
  width: 230px;
  padding-right: 10px;
  margin-left: 0px;
}
/* line 159, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #9c8345;
  display: block;
  float: left;
  padding-right: 5px;
}
/* line 167, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-1:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #e68b39;
}
/* line 172, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-2:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #57b4a5;
}
/* line 177, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-3:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #8f394f;
}
/* line 182, ../sass/_local.scss */
.view-display-id-attachment_announcements_bottom .views-row-4:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f138";
  font-size: 1.2em;
  color: #d1d55a;
}

/* line 189, ../sass/_local.scss */
.front .pane-system-main-menu ul.menu {
  margin-top: 0px;
}
/* line 191, ../sass/_local.scss */
.front .pane-system-main-menu ul.menu li {
  font-size: 1.8rem;
  list-style: none;
}
/* line 194, ../sass/_local.scss */
.front .pane-system-main-menu ul.menu li:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f105";
  font-size: 1em;
  color: #9c8345;
  display: block;
  float: left;
  padding-right: 5px;
}

/* line 204, ../sass/_local.scss */
#quicktabs-announcements_events ul.quicktabs-tabs.quicktabs-style-arrows {
  font: inherit;
}
