/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/*
 * 1100 px Max Width Container and Up
 */
/* line 41, ../sass/responsive.custom.scss */
.not-logged-in #ui-wrapper {
  position: fixed;
  width: 100%;
  z-index: 600;
}
/* line 47, ../sass/responsive.custom.scss */
.not-logged-in #header-wrapper {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 600;
}
/* line 54, ../sass/responsive.custom.scss */
.not-logged-in #content-header-wrapper {
  padding-top: 120px;
}

/* line 60, ../sass/responsive.custom.scss */
.front #page-title {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 66, ../sass/responsive.custom.scss */
.flexslider ul {
  padding: 0px;
}

@media only screen and (min-width: 1100px) {
  /* line 73, ../sass/responsive.custom.scss */
  #footer-wrapper .block {
    float: left;
    width: 33.33333%;
  }
}
/*
 * @file
 * local.styles
 *
*/
/* line 9, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane {
  margin: 10px;
}
/* line 11, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image {
  float: right;
}
/* line 13, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-field-profile-image img {
  padding: 10px;
}
/* line 17, ../sass/_local.scss */
.view-display-id-success_stories_teaser_content_pane .views-field-title-1 {
  text-align: right;
}

/* line 23, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul {
  list-style: none;
}
/* line 25, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .item-list ul li {
  display: inline;
  float: left;
  margin: 0.25em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
/* line 33, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo {
  line-height: 200px;
  width: 200px;
  text-align: center;
}
/* line 38, ../sass/_local.scss */
.view-display-id-employer_showcase_grid_panel_pane .views-field-field-logo img {
  vertical-align: middle;
}

/* line 45, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane .flexslider {
  border: 0px;
}
/* line 48, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane {
  padding: 0px;
}
/* line 51, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .views-field-title {
  padding: 5px;
  background: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
/* line 56, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane .views-field-title a {
  color: white;
}
/* line 61, ../sass/_local.scss */
.view-display-id-employer_showcase_slider_panel_pane .flex-control-paging {
  display: none;
}
