%toggle-menu-tree {

  ul.menu {
    margin: 0;
    padding: 0;

    li {
      margin: .5em 0 .5em 1em;
      position: relative;

      &:before {
        position: absolute;
        left: -1em;
      }
    }

    .menu-depth-2 > a,
    .menu-depth-2 > .nolink {
      background-color: #000;
    }

    li.leaf,
    li.expanded,
    li.collapsed {
      list-style-image: none;
      list-style-type: none;
    }

    li.expanded {

      &:before {
        @include icon($fa-var-caret-down);
      }
    }

    li.collapsed {

      &:before {
        @include icon($fa-var-caret-right);
      }
    }

    ul {
      margin-left: 1em;
    }
  }
}
