%toggle-menu-tree {

  ul.menu {
    margin: 0;
    padding: 0;

    li {
      margin: .5em 0 .5em 1em;
      position: relative;

      &:before {
      }
    }

    .menu-depth-2 >.menu-inner {
      background-color: #000;
      color: #fff;
      font-weight: bold;
      padding: 5px;
      display: block;

      a {
        color: #fff;
      }
    }

    li.leaf,
    li.expanded,
    li.collapsed {
      list-style-image: none;
      list-style-type: none;
      font-weight: bold;
    }

    li.expanded .menu-inner > a {

      &:before {
        @include icon($fa-var-caret-down);
        margin-right: .5em;
      }
    }

    li.collapsed .menu-inner > a {

      &:before {
        @include icon($fa-var-caret-right);
        margin-right: .5em;
      }
    }

    //jquery toggle
    .menu-toggle {
      display: block;
      cursor: pointer;
    }
    .menu-toggle.is-expanded {

      &:before {
        @include icon($fa-var-minus-square);
        margin-right: .5em;
      }
    }
    .menu-toggle.is-collapsed {

      &:before {
        @include icon($fa-var-plus-square);
        margin-right: .5em;
      }
    }

///    ul {
///      margin: -1em 1em;


//      &:before {
//        @include icon($fa-var-caret-right, $color: #fff, $size: 1.1em);
//        }


//    }
  }
}
