// _base.scss imports _custom.scss and other partials.

@import "base";
/*
 * @file
 * local.styles
 *
*/
.view-display-id-success_stories_teaser_content_pane{
	margin: 10px;
	.views-field-field-profile-image{
		float:right;
		img{
			padding:10px;
		}
	}
	.views-field-title-1{
		text-align: right;
	}
}

.view-display-id-employer_showcase_grid_panel_pane {
	.item-list ul {
		list-style:none;
		li {
			display: inline;
			float: left;
			margin: 0.25em;
			//@include border;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			border-radius: 4px;
		}
	}
	// Vertical Center Image
	.views-field-field-logo{
	    line-height: 200px;
	    width: 200px;
	    text-align: center;

		img {
		    vertical-align: middle;
		}
	}
}

.view-display-id-employer_showcase_slider_panel_pane {
	.flexslider{
			border: 0px;
			margin: 0 0 5px;
	}
	#flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane {
		padding: 0px;

		.views-field-title{
		    padding: 5px;
		    background: #333;
		    @include border;
		    @include border-top-radius(0px);
		    a {
		    	color: white;
		    }
		}
		.field-content{
		  	position: relative;
		  	height: 120px;
		  	width: 120px;
		  	img{
		  	  position: absolute;
			  top: 0; left: 0; right: 0; bottom: 0;
		      margin: auto;
		      max-height: 100px;
		      max-width: 100px;
		      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		      filter: gray; /* IE6-9 */
		      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
		      opacity:0.4;
		      filter:alpha(opacity=40); /* For IE8 and earlier */
		      &:hover {
		        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
		        -webkit-filter: grayscale(0%);
		        opacity:1.0;
		        filter:alpha(opacity=100); /* For IE8 and earlier */
		        @include transition-property(opacity);
		        @include transition-duration(0.8s);
		      }
	  	    }
		}
	}
	.flex-control-paging{
		display: none;
	}
}

//
// Video fields 
//
.field-name-field-video-file {
  iframe {
    width: 100%;
    max-width: 640px;
  }

  #player {
    height: auto;
    width: auto;
  }
}
