// _base.scss imports _custom.scss and other partials.

@import "base";
/*
 * @file
 * local.styles
 *
*/

.view-display-id-employer_showcase_grid_panel_pane {
	.item-list ul {
		list-style:none;
		li {
			display: inline;
			float: left;
			margin: 0.25em;
			@include border;
		}
	}
	// Vertical Center Image
	.views-field-field-logo{
	    line-height: 200px;

		img {
		    vertical-align: middle;
		}
	}
}

.view-display-id-employer_showcase_slider_panel_pane {
	.flexslider{
			border: 0px;
	}
	#flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane {
		padding: 0px;

		.views-field-title{
		    padding: 5px;
		    background: #333;
		    @include border;
		    @include border-top-radius(0px);
		    a {
		    	color: white;
		    }
		}
	}
	.flex-control-paging{
		display: none;
	}

}
