// hide uiowa_bar, logo, audience menu, breadcrumbs, right sidebar, footer
#ui-wrapper,
#ui-global-footer,
#logo,
#toolbar,
#tasks,
.view-featured,
#block-responsive-navigation-1
{
	display:none;
}

.not-front {
	#footer {
		display: none;
	}
}

// Hide images on front page, audiences, programs, and the hireahawk block
.front, .page-taxonomy-term .panel-display, .block-1 {
	img {
		visibility:hidden;
		width:0;
		height:0;
	}

	// display alt text instead? works in Opera?
	img:after {
		display:block;
		visibility:visible;
		content:attr(alt);
	}
}

// Try to keep content together.
#main-content {
	h2, h3, h4 {
   page-break-after: avoid;
	}
	ul, img {
   page-break-inside: avoid;
	}
}