// hide uiowa_bar, logo, audience menu, breadcrumbs, right sidebar, footer
#ui-wrapper,
#ui-global-footer,
#logo,
{
	display:none;
}

// Hide audience menu, breadcrumbs, right sidebar, footer on basic pages.
.node-type-page {
	#block-responsive-navigation-1,
	.breadcrumb-wrapper,
	.region-sidebar-first,
	#footer {
		display:none;
	}
}

// hide images and flexslider images
img, .flexslider.slides img {
	visibility:hidden;
	width:0;
	height:0;
}

// display alt text instead?
img:after {
	display:block;
	visibility:visible;
	content:attr(alt);
}