
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * @file
 * local.styles
 *
 */

body{
  min-width: 320px;
  background-color: $page;
  color: #333;
  a{
    color: $blue;
    font-weight: bold;
    &:hover {
      color: $gold;
    }
  }
}

#page-title{
  padding-left: 10px;
}

.front #page-title{
  @include offscreen;
}

#header-wrapper{
  background-color: #333;
  background: url('images/bg_tile.gif') repeat;
}

#header {
  background-color: #eee;
  background: url('images/header.png') no-repeat;
  position: relative;
  height: 230px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  #branding {
    // Branding Background If Needed
    // background-color: rgb(0,0,0); // Old browser fallback
    // background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 55px;
    @media #{$responsive-nav} {
      bottom: 45px;
    }
    #logo{
      @media #{$responsive-nav} {
        padding-left: 20px;
      }
    }
    .site-logo{
      width: 320px;
    }
    #site-name{
      @include offscreen;
    }
    #site-slogan{
      font-size: 1.8rem;
      color: white;
      font-family: $serif;
      text-align: center;
      position: relative;
      bottom: 25px;
      @include text-shadow(rgba(black, 0.2) 1px 1px 0, rgba(black, 0.2) 2px 2px 0, rgba(black, 0.2) 3px 3px 0);
      @media #{$responsive-nav} {
        padding-left: 80px;
      }
    }
  }
  .region-header {
    // Main Menu - Responsive Navigation
    #block-responsive-navigation-1 {
      padding: 0px;
      background-color:rgb(0,0,0); // Old Browser Fall Back
      background-color:rgba(0,0,0,0.7);
      position: relative;
      z-index: 3;
      font-family: $serif;
      font-size: 1.8rem;
      @media #{$responsive-nav} {
        background-color: transparent;
        font-size: 1.4rem;
      }
      #nav-toggle{
        margin-left: 5px;
        color: white;
        &:hover {
          color: $yellow;
          text-decoration: none;
          &:before {
            @include icon($fa-var-reorder, $color: $yellow, $size: 1.2em);
          }
        }
        &:before {
          @include icon($fa-var-reorder, $color: white, $size: 1.2em);
          padding-right: 5px;
          vertical-align: middle;
        }
      }

      #nav{
        float: right;
        width: 100%;
        @media #{$responsive-nav} {
          width: auto;
          background-color:rgb(0,0,0); // Old Browser Fall Back
          background-color:rgba(0,0,0,0.7);
        }
        a, a:hover, a:active, a:visited{
          color: white;
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;
        }
        ul{
          text-align: center;
          @media #{$responsive-nav} {
            text-align: right;
          }
        }
        li{
          padding: 6px 20px 6px 6px;
          @media #{$responsive-nav} {
            display: inline-block;
            width: auto;
            padding: 6px;
          }
          ul {
            display:none;
          }
        }
        li:hover {
          background-color: white;
          a, a:hover, a:active, a:visited{
            color: #333;
          }
        }
      }
    } // END Main Menu - Responsive Navigation

    // Social Media Menu - Header Region
    .block-menu-social-media{
      position: absolute;
      width: 100%;
      bottom: 35px;
      @media #{$responsive-nav} {
      position: relative;
      width: auto;
      bottom: 0;
      }
      float: right;
      margin: 0;
      background-color:rgb(0,0,0); // Old Browser Fall Back
      background-color:rgba(0,0,0,0.7);
      ul{
        text-align: center;
        @media #{$responsive-nav} {
          text-align: right;
        }
        margin: 0;
        padding: 0;
        height: 30px;
      }
      li{
        padding: 6px 20px 6px 6px;
        display: inline-block;
        width: auto;
        padding: 6px;
      }
      .menu-item-1079, .menu-item-1078,
      .menu-item-1228, .menu-item-1229,
      .menu-item-1080, .menu-item-1230 {
        padding: 0px;
        margin: 0px 3px;
        a{
          display: block;
          overflow: hidden;
          background-position:top;
          width: 30px;
          height: 30px;
          margin-bottom: -10px;
          text-indent: 9999px;
          font-size: 0px;
          &:hover {
            background-color: transparent;
            background-position:bottom;
          }
        }
      }
      @include social-icons;
    } // END Social Media Menu - Header Region

    // Audience Menu - Header Region
    .block-menu-audience-menu{
      position: absolute;
      bottom: 0;
      padding: 0px;
      background: black;
      width: 100%;
      min-width: 320px;
      height: 35px;
      @media #{$nine-hundred} {
        height: 50px;
      }
      font-family: $serif;
      font-size: 1.8rem;
      @media #{$nine-hundred} {
        width: auto;
        right: 0;
        padding-left: 100px;
        &:before{
          content:"Start Here";
          position: absolute;
          right: 600px;
          top: 19%;
          color: white;
          font-weight: bold;
        }
      }
      @media #{$mobile-only} {
        font-size: 1.6rem;
      }
      ul.menu {
        background-color: $yellow;
        width: 100%;
        min-width: 320px;
        height: 35px;
        @media #{$nine-hundred} {
          height: 50px;
        }
        float: right;
        padding-left: 5px;
        margin: 0px;
        @media #{$nine-hundred} {
          width: auto;
          padding-left: 25px;
          &:before{
            content: "";
            left: 100px;
            position: absolute;
            font-size: 0px;
            background-color: $yellow;
            line-height: 0px;
            width: 0px;
            height: 0px;
            //border-style: inset;
            border-bottom: 25px solid transparent; 
            border-top: 25px solid transparent; 
            border-left: 20px solid black; //
            //border-width: 25px 0 25px 20px;
            -webkit-transform:rotate(360deg);
            //border-color: transparent transparent transparent #000000;
          }
        }
        li{
          list-style: none;
          list-style-image: none;
          list-style-type: none;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          height: 100%;
          cursor: pointer;
          background-color: transparent;
          display: inline;
          float: left;
          ul{
            display:none;
          }
          &:hover{
            background-color: black;
            a{
              color: white;
            }
          }
          a{
            color: black;
            font-weight: bold;
            text-decoration: none;
            padding: 6px 3px;
            @media #{$nine-hundred} {
              padding: 10px 26px;
            }
            display: block;
            width: 100%;
            height: 100%;
            &:hover {
              text-decoration: none;
              color: white;
            }
          }
        } 
      } 
    } // END Audience Menu - Header Region
  } // END region-header
} // END header

#content-wrapper, #header-wrapper, 
#breadcrumb-wrapper, #content-header-wrapper, 
#messages-help-wrapper, #tertiary-content-wrapper, #footer-wrapper {
  background-color: #ddd;
}

#main-content, #main-content-header, #breadcrumb, #messages, .region-tertiary-content, #columns{
  background: $page;
}

#breadcrumb, #messages {
  margin: 0px;
  padding: 10px;
}

#content{
  .pane-title, .block-title{
    background-color: transparent;
    color: #333;
    padding: 10px;
    border-bottom: 0px;
    margin: 0px;
  }
  .block-inner{
    //@include border;
  }
  .block-content{
    padding: 10px;
  }

  // No border on panes/blocks without title.
  .block-main .no-title {
    .block-inner{
      border:0px;
    }
  }
}

// Specific padding for block nodes
#content{
  .pane-node{
    .block-content{
      padding: 5px;
    }
  }
}

.field-label {
  font-size: 1.8rem;
}
// Override Default Flexslider Styles
.flexslider{
  ul{
    padding:0px;
  }
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  @include box-shadow($page 0px 0px 0px);
  a{
    color: white;
    &:hover {
      color: $gold;
      text-decoration: none;
    }
  }
  .views-field-field-featured-image h3{
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background-color:rgb(0,0,0); // Old Browser Fall Back
    background-color:rgba(0,0,0,0.7);
    color: white;
    a{
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  /* Flexslider Pager */
  .flex-control-nav {
    width:auto;
    bottom: -10px;
    right: 10px;
  }
  .views-field-field-featured-image .field-content{
    padding-bottom: 5px;
  }
  .flex-control-paging li a {
    background-color: $ultralight;
    border-width: 0px;
    margin-left: 1px;
  }
  .flex-control-paging li a.flex-active {
    background-color: $blue;
  }
}

.view-footer a{
  width: 100%;
  text-align: right;
  float:right;
  &:after{
    margin-left: 5px;
    @include icon($fa-var-chevron-right, $color: $gold, $size: 1.0em);
  }
  &:hover{
    text-decoration: none;

  }
}

.formtext {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: $page;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}
.button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  font-family: $hireahawk;
  background-color: $blue;
  border-color: $blue;
  color: white;
  padding: 6px 12px;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  &:hover{
    background-color: $gold;
    color: white;
    text-decoration: none;
  }
}
.front .button{
  float: right;
}

// FOOTER
#footer-wrapper {
  @media #{$responsive-nav} {
    .block {
      float: left;
    }
  }
}
.region-footer{
  position: relative;
  font-size: 14px;
  background-color: $tan;
  a{
    color: black;
    font-family: $serif;
    &:hover {
      color: black;
    }
  }
  ul{
    margin-top: 0px;
    li {
      list-style-image: none;
      list-style-type: none;
      padding-right: 5px;
    }
  }
  h2{
    font-size: 1.8rem;
  }
} // END FOOTER

// Imports local style, which can override the styles declared in this file
@import "local";