
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */


/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */


/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */


/*
 * 1100 px Max Width Container and Up
 */

#header-wrapper{
  background-color: #333;
  @include box-shadow(black 0px 0px 10px);
  color: white;
  a{
    color: white;
  }
}

//
// Fixed header
//
.not-logged-in {
  #ui-wrapper {
    position: fixed;
    width: 100%;
    z-index: 600;
  }

  #header-wrapper {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 600;
  }

  #content-header-wrapper {
    padding-top: 120px; //height of branding bar + height of header + breathing room.
  }
}

// Move Front Page Title Off-Screen to hide but maintain accessibility
.front #page-title{
	@include offscreen;
}

// Override Default Flexslider Styles
.flexslider{
	ul{
		padding:0px;
	}
}

@media only screen and (min-width: 1100px) {
  #footer-wrapper {
    .block {
      float: left;
      width: 33.33333%;
    }
  }
}

// Imports local style, which can override the styles declared in this file
@import "local";


