
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */


/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */


/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */


/*
 * 1100 px Max Width Container and Up
 */

body{
  min-width: 320px;
  background-color: #eee;
  color: #333;
  a{
    color: $blue;
    font-weight: bold;
    &:hover {
      color: $gold;
    }
  }
}

// Move Front Page Title off-screen to hide but maintain accessibility
.front #page-title{
  @include offscreen;
}

#header-wrapper{
  background-color: #333;
  background: url('images/bg_tile.gif') repeat;
}

#header {
  background-color: #eee;
  background: url('images/header.png') no-repeat;
  position: relative;
  height: 230px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  #branding {
    position: absolute;
    bottom: 60px;
    @media #{$responsive-nav} {
      bottom: 10px;
    }
    #logo{
      @media #{$responsive-nav} {
        padding-left: 20px;
      }
    }
    .site-logo{
      width: 320px;
    }
    #site-name{
      @include offscreen;
    }
    #site-slogan{
      font-size: 1.8rem;
      color: white;
      font-family: $serif;
      text-align: center;
      position: relative;
      bottom: 25px;
      @include text-shadow(rgba(black, 0.2) 1px 1px 0, rgba(black, 0.2) 2px 2px 0, rgba(black, 0.2) 3px 3px 0);
      @media #{$responsive-nav} {
        padding-left: 80px;
      }
    }
  }
  .region-header{
    // Main Menu - Responsive Navigation
    #block-responsive-navigation-1{
      padding: 0px;
      background-color:rgba(0,0,0,0.7);
      position: relative;
      z-index: 1;
      @media #{$responsive-nav} {
        background-color: transparent;
      }
      #nav-toggle{
        margin-left: 5px;
        color: white;
        &:hover {
          color: $light_yellow;
          text-decoration: none;
          &:before {
            @include icon($reorder, $color: $light_yellow, $size: 1.2em);
          }
        }
        &:before {
          @include icon($reorder, $color: white, $size: 1.2em);
          padding-right: 5px;
          vertical-align: middle;
        }
      }

      #nav{
        float: right;
        @media #{$responsive-nav} {
          background-color:rgba(0,0,0,0.7);
        }
        a, a:hover, a:active, a:visited{
          color: white;
          text-decoration: none;
        }
        ul{
          text-align: right;
        }
        li{
          padding: 6px 20px 6px 6px;
          @media #{$responsive-nav} {
            display: inline-block;
            width: auto;
            padding: 6px;
          }
        }
        li:hover {
          background-color: white;
          a, a:hover, a:active, a:visited{
            color: #333;
          }
        }
        li ul {
          display:none;
        }
        @media #{$responsive-nav} {
          .menu-item-1078, .menu-item-1079, 
          .menu-item-1080, .menu-item-1228,
          .menu-item-1229, .menu-item-1230 {
            padding: 0px;
            margin: 0px 3px;
            a{
              display: block;
              overflow: hidden;
              background-position:top;
              width: 30px;
              height: 30px;
              margin-bottom: -10px;
              text-indent: 9999px;
              &:hover {
                background-color: transparent;
                background-position:bottom;
              }
            }
          }
          .menu-item-1078 a { // Twitter
            background: url('images/social/twitter-icon.png') no-repeat;
          }
          .menu-item-1080 a{ // YouTube
            background: url('images/social/youtube-icon.png') no-repeat;
          }
          .menu-item-1079 a{ // Facebook
            background: url('images/social/facebook-icon.png') no-repeat;
          }
          .menu-item-1228 a{ // LinkedIn
            background: url('images/social/linkedin-icon.png') no-repeat;
          }
          .menu-item-1229 a{ // Pinterest
            background: url('images/social/pintrest-icon.png') no-repeat;
          }
          .menu-item-1230 a{ // Instagram
            background: url('images/social/instagram-icon.png') no-repeat;
          }
        }
      }
    } // END Main Menu - Responsive Navigation

    //Audience Menu - Header Region
    .block-menu-audience-menu{
      position: absolute;
      bottom: 0;
      padding: 0 5px;
      background: $light_yellow;
      width: 100%;
      @media #{$responsive-nav} {
        width: auto;
        float: right;
        padding: 0 0 0 25px;
        bottom: -50px;
        right: 0px;
        background-color: transparent;
        &:before{
          width: 0;
          height: 0;
          content: "";
          left: 5px;
          position: absolute;
          border-top: 25px solid transparent;
          border-bottom: 25px solid transparent;
          border-right: 20px solid $light_yellow;
        }
      }
      @media #{$mobile-only} {
        font-size: 13px;
      }
      ul {
        padding: 0px;
        margin: 0px;
        float: right;
        li {
          margin: 0px;
          display: block;
          float: left;
          padding: 15px 10px;
          @media #{$nine-hundred} {
            padding: 15px 26px;
          }
          @media #{$mobile-only} {
            padding: 6px 3px;
          }
          a{
            color: black;
          }
        }
      }
      ul.menu {
        @media #{$responsive-nav} {
          background-color: $light_yellow;
          @include box-shadow(#999 -1px 2px 10px);
          margin: 0px;
          padding-left: 100px;
          padding-right: 10px;
          height: 50px;
          &:before{
            content:"Start Here:";
            position: absolute;
            left: 40px;
            top: 15px;
            color: black;
            font-weight: bold;
          }
        }

        li{
          // Override Default Menu Style
          list-style: none;
          list-style-image: none;
          list-style-type: none;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          //border-radius: 4px;
          background-color: transparent;
          ul{
            display:none;
          }

          &:hover{
            background-color: #333;
            a{
              color: white;
            }
          }

          a{

            color: black;
            font-weight: bold;
            text-decoration: none;
            &:hover {
              text-decoration: none;
              color: white;
              background-color: #333;
            }
          }
        }
      }
    } // END Audience Menu - Header Region
  }
}
#secondary-content-wrapper{
  background-color: #333;
  @include background-image(linear-gradient(#333, black));
  height: 25px;
  .feed-icon{
    @include offscreen;
  }
}
#content-wrapper{
padding-top: 30px;
}

#content-wrapper, #main-content, #main-content-header, #breadcrumb, #messages{
  background: $page;
}

#breadcrumb, #messages {
  margin: 0px;
  padding: 10px;
}

#content{
  .pane-title, .block-title{
    background-color: transparent;
    color: #333;
    padding: 10px;
    border-bottom: 0px;
    margin: 0px;
  }
  .block-inner{
    //@include border;
  }
  .block-content{
    padding: 10px;
  }

  // No border on panes/blocks without title.
  .block-main .no-title {
    .block-inner{
      border:0px;
    }
  }
}

// Override Default Flexslider Styles
.flexslider{
  ul{
    padding:0px;
  }
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  @include box-shadow($page 0px 0px 0px);
  a{
    color: white;
    &:hover {
      color: $gold;
      text-decoration: none;
    }
  }
  .views-field-field-featured-image h3{
    display: block;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background: #333;
    height: 38px;
  }
  /* Flexslider Pager */
  .flex-control-nav {
    width:auto;
    bottom: -10px;
    right: 10px;
  }
  .views-field-field-featured-image .field-content{
    padding-bottom: 5px;
  }
  .flex-control-paging li a {
    @include background(linear-gradient(top, $light_gold, $gold));
    border-width: 0px;
    margin-left: 1px;
  }
  .flex-control-paging li a.flex-active {
    @include background(linear-gradient(top, #333, #000));
  }
}

.view-footer a{
  width: 100%;
  text-align: right;
  float:right;
  &:after{
    margin-left: 5px;
    @include icon($chevron-right, $color: $gold, $size: 1.0em);
  }
  &:hover{
    text-decoration: none;

  }
}

.whelan-flipped-column-content{
  background-color: #f5f5f5;
}

.formtext {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}
.button, input[type="button"], input[type="reset"], input[type="submit"] {
display: inline-block;
background-color: #333;
border-color: #333;
color: white;
padding: 6px 12px;
margin: 5px 5px 5px 0px;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
a{
  color: white;
}
&:hover{
  background-color: #555;
  a{
    color: white;
    text-decoration: none;
  }
}
}


#footer-wrapper {
  background-color: #f5f5f5;
  @media #{$responsive-nav} {
    .block {
      float: left;
      width: 25%;
    }
  }
}
.region-footer{
  position: relative;
  a{
    color: black;
    &:hover {
      color: black;
    }
  }
  ul{
    margin-top: 0px;
  }
  ul li {
    list-style-image: none;
    list-style-type: none;
    padding-right: 5px;
  }
  #block-menu-block-2{
    @media #{$responsive-nav} {
      width: 50%;
    }
  }
  .menu-name-main-menu {
    ul{
      @media #{$responsive-nav} {
        @include column-count(2);
      }
    }
  }
  #block-block-2{
    padding: 0 0 0 15px;
    @media #{$responsive-nav} {
      position: absolute;
      margin-top: 10px;
      right: 0px;
      text-align: right;
      padding: 0 15px 0 0;
    }
  }
}

// Imports local style, which can override the styles declared in this file
@import "local";