
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */


/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */


/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */


/*
 * 1100 px Max Width Container and Up
 */

body{
  min-width: 320px;
  background-color: #eee;
  color: #333;
  a{
    color: #418bca;
  }
}

// Move Front Page Title off-screen to hide but maintain accessibility
.front #page-title{
  @include offscreen;
}

#leaderboard-wrapper{
  background-color: #eee;
}

/*
 * Main Menu - Responsive
 */

#block-responsive-navigation-1{
  background-color: #eee;
  padding: 0px;
  a, a:hover, a:active, a:visited{
    color: #333;
    text-decoration: none;
  }
  li{
    padding: 0px 5px;
  }
  li:hover {
    background-color: #333;
    a, a:hover, a:active, a:visited{
      color: white;
    }
  }
  li ul {
    display:none;
  }
  #nav-toggle{
    margin-left: 5px;
    &:before {
      @include icon($reorder, $color: #333, $size: 1.2em);
      padding-right: 5px;
      vertical-align: middle;
    }
  }
  @media #{$responsive-nav}{
    padding: 0px;
  }
}

@media #{$responsive-nav}{
  #nav li {
    width: auto;
    float: left;
    padding: 8px;
  }
}

#header-wrapper{
  background-color: #333;
  //@include background(linear-gradient(top, #333, #000));
}

#header {
  background-color: #eee;
  background: url('images/header.png') no-repeat;

  // Disable background image on mobile devices
  @media #{$mobile-only}{
    background: none;
  }
  position: relative;
  height: 230px;
  @media #{$responsive-nav} {
    height: 300px;
  }
  overflow: hidden;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;

  #branding {
    position: absolute;
    background-color:rgba(0,0,0,0.7);
    width: 100%;
    padding: 10px 20px;
    #site-name{
      font-size: 2.3rem;
      a{
        color: white;
      }
      @media #{$responsive-nav} {
        font-size: 2.8rem;
      }
    }
    #site-slogan{
      font-size: 1.5rem;
      color: white;
      @media #{$responsive-nav} {
        font-size: 1.8rem;
      }
    }
    // Keeps navigation from overlapping branding.
    @media #{$nine-hundred}{
      bottom: 15px;
    }
  }

  /*
   * Audience Menu - Header Region
   */
  .region-header{
    position: absolute;
    bottom: 5px;
    right: 0;
    .block-menu-audience-menu{
      padding: 0px;
      ul.menu {
        padding: 0px 15px;
        float:right;
        // properly spaced columns for navigation.
        @media #{$mobile-only}{
          @include column-count(2);
        }

        li{
          // Override Default Menu Style
          list-style: none;
          list-style-image: none;
          list-style-type: none;
          display: block;
          float: left;
          padding: 6px 12px;
          margin: 1px;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 4px;
          background-color: #333;
          ul{
            display:none;
          }

          &:hover{
            background-color: #e8c90c;
            a{
              color: #333;
            }
          }

          a{
            color: white;
            font-weight: bold;
            &:hover {
              text-decoration: none;
              color: #333;
            }
          }
          // Prevents right-column nav buttons from getting clipped.
          @media #{$mobile-only} {
          width: 99%;
          }
          // Desktop Circle buttons
          @media #{$responsive-nav} {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50px;
            @include box-shadow(#333 2px 2px 10px);
            @include background(linear-gradient(top, #333, #000));
            a{
              display: block;
              text-align: center;
              margin-top: 50%;
              color: white;
              font-weight: bold;
              text-decoration: none;
              &:before{
                color: #e8c90c;
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                font-size: 30px;
                display: inline-block;
                content: "\F02E";
                float: left;
                position: absolute;
                top: 10%;
                left: 40%;
              }
            }
            &:hover{
              @include background(linear-gradient(top, #ffcc00, #e8c90c));
              @include box-shadow(#ccc 0px 0px 0px);
              a{
                &:before{
                  color: #333;
                }
              }
            }
          }
        }
        // Custom Icons for Menu Items
        @media #{$responsive-nav} {
          .menu-item-1004 { // Students Menu Item
            a:before{
              content: "\F040";
            }
          }
          .menu-item-1008 { // Employers Menu Item
            a:before{
              content: "\F0F7";
            }
          }
          .menu-item-1007 { // Faculty Menu Item
            a:before{
              content: "\F02D";
            }
          }
          .menu-item-1005 { // Alumni Menu Item
            a:before{
              content: "\F0C0";
            }
          }
          .menu-item-1006 { // Parents Menu Item
            a:before{
              content: "\F015";
            }
          }
        }
      }
    }
  }
}

#main-content, #main-content-header, #breadcrumb, #messages{
  background: $page;
}

#breadcrumb, #messages {
  margin: 0px;
  padding: 10px;
}

#content{
  .pane-title, .block-title{
    background-color: #eee;
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin: 0px;
  }
  .block-inner{
    @include border;
  }
  .block-content{
    padding: 10px;
  }

  // No border on panes/blocks without title.
  .block-main .no-title {
    .block-inner{
      border:0px;
    }
  }
}

// Override Default Flexslider Styles
.flexslider{
  ul{
    padding:0px;
  }
  border: 0px;
  border-radius: 0px;
  @include box-shadow($page 0px 0px 0px);
}

@media only screen and (min-width: 1100px) {
  #footer-wrapper {
    .block {
      float: left;
      width: 33.33333%;
    }
  }
}

// Imports local style, which can override the styles declared in this file
@import "local";