.pane-announcements-announcements-archive {
	.views-row {
		@include hr;
	}

	.views-row-last {
		border-bottom: 0px;
	}
}

// Announcements on the front page
.view-display-id-announcements_front_content_pane {
  .views-field {
    margin-left: 80px;
  }

  .views-field-field-announcement-image {
    display: block;
    float: left;
    margin-left: 0;

    img {
      margin-bottom: 10px;
      *max-width: 70px;
      width: 70px;
      @include blue-border;
    }
  }

  .views-row {
    clear: left;
    margin-bottom: 10px;
  }
}