// CONTENT PANE Audience Featured
#content {
 .pane-featured-featured-entity-reference {
  padding-bottom: 0;

  .featured-logo {
  	img {
  		max-width: 80px;
  		max-height: 80px;
  	}
  }

  .block-content {
    padding: 0px;
  }
 }
}
