html.js .ctools-collapsible-container {
  .ctools-toggle {
    background-image: none;
    float: none;

    &:before {
      @include icon($fa-var-minus-square, $margin-right: 0.3em, $color: $links);
    }

    &:hover, &:focus {
      .ctools-collapsible-handle {
        border-bottom-color: $links;
      }
    }

    &.ctools-toggle-collapsed {
      background-image: none;

      &:before {
        @include icon($fa-var-plus-square, $margin-right: 0.3em, $color: $links);
      }
    }
  }

  .ctools-collapsible-handle {
    border-bottom: 1px solid transparent;
    color: $links;
    margin-bottom: 0;
    @include inline-block;

    &:hover, &:focus {
      border-bottom-color: $links;
    }
  }

  .ctools-collapsible-content {
    margin-top: 10px;
  }
}

// Collapsible Field Groups H2s
.collapsible.field-group-div {
  .field-group-format-toggler {
    background-image: none;
    float: none;

    &:before {
      @include icon($fa-var-minus-square, $size: 0.7em, $margin-right: 0.3em, $color: $links);
    }
  }

  &.collapsed {
    .field-group-format-toggler {
      background-image: none;
      &:before {
        @include icon($fa-var-plus-square, $size: 0.7em, $margin-right: 0.3em, $color: $links);
      }
    }
  }

  .field-group-format-title {
    border-bottom: 1px solid transparent;
    color: $links;
    margin-bottom: 0;
    @include inline-block;

    &:hover, &:focus {
      border-bottom-color: $links;
    }
  }
  .field{
    margin-bottom: 1px; // if last line of content is a text link, hover underline border will show
  }
}
