// Employer Showcase Grid
.view-display-id-employer_showcase_grid_panel_pane {
  .item-list ul {
    list-style:none;
    text-align: center;

    li {
      @include inline-block;
      margin: 0.25em;
      background-color: $page;
      @include border;
      *border: 0px; // ie7 hack since buffer area around images is lost
    }
  }

  // Vertical Center Image
  .views-field-field-logo {
      line-height: 200px;
      width: 200px;
      text-align: center;

    img {
        vertical-align: middle;
    }
  }
}

// Employers Showcase Slider

.view-display-id-employer_showcase_slider_panel_pane {
  overflow: hidden;
  width: 100%;
  position: relative;

  .flexslider {
    border: 0px;
    max-width: auto;
    width: 150px;
    margin: 0 auto;
    position: static;

    .flex-direction-nav, .flex-pauseplay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      a {
        color: #333;
      }
    }

    .slides li {
      margin: 0 10px;
    }

    .field-content {
      position: relative;
      height: 150px;

      img {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        max-width: 150px;
        max-height: 150px;
        height: auto;
        width: auto;
      }
    }
  }

  .flex-viewport {
    overflow: visible !important;
  }
  
  .flex-control-paging {
    display: none;
  }
}
