// Employer Showcase Grid
.view-display-id-employer_showcase_grid_panel_pane {
  .item-list ul {
    list-style:none;
    li {
      display: block;
      float: left;
      margin: 0.25em;
      background-color: $page;
      @include border;
    }
  }
  // Vertical Center Image
  .views-field-field-logo{
      line-height: 200px;
      width: 200px;
      text-align: center;

    img {
        vertical-align: middle;
    }
  }
}

// Employers Showcase Slider

.view-display-id-employer_showcase_slider_panel_pane {
  overflow: hidden;
  width: 100%;
  position: relative;
  .flexslider{
    border: 0px;
    max-width: auto;
    width: 150px;
    margin: 0 auto;
    position: static;
    .flex-direction-nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
    }
  }
  .flex-viewport {
    overflow: visible !important;
  }
  #flexslider_views_slideshow_employer_showcase-employer_showcase_slider_panel_pane {
    .field-content{
      position: relative;
      height: 150px;
      img{
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        max-width: 150px;
        max-height: 150px;
        height: auto;
        width: auto;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        opacity:0.4;
        filter:alpha(opacity=40); /* For IE8 and earlier */
        &:hover {
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
          -webkit-filter: grayscale(0%);
          opacity:1.0;
          filter:alpha(opacity=100); /* For IE8 and earlier */
          @include transition-property(opacity);
          @include transition-duration(0.8s);
        }
      }
    }
  }
  
  .flex-control-paging{
    display: none;
  }
}
