// Events
.view-display-id-events_list,
.view-display-id-events_teaser_list {
  .views-field-field-mcf-date {
    margin-bottom: 5px;

    .field-content {
      &:before {
        @include icon($fa-var-clock-o, $color: #333, $size: 1.2em);
        margin-right: 0.5em;
      }
    }
  }

  .views-field-field-mcf-location {
    margin-bottom: 5px;
    
    .field-content {
      &:before {
        @include icon($fa-var-map-marker, $color: #333, $size: 1.2em);
        margin-right: 0.5em;
        padding: 0 3px;
      }
    }
  }

  .views-row {
    border-bottom: 4px solid $ultralight;
    margin-bottom: 20px;
    padding: 0 5px 20px;
  }
}

.pane-events-events-categories,
.pane-views-exp-events-events-list {
  background-color: $ultralight;
}

.pane-views-exp-events-events-list {
  .views-submit-button, .views-reset-button {
    width: auto;
  }
  input[type="text"], .views-widget-filter-field_event_category_tid, .form-select {
    width: 99%;
  }
}

.field-name-field-mcf-date {
    margin-bottom: 5px;

    .field-items {
      &:before {
        @include icon($fa-var-clock-o, $color: #333, $size: 1.2em);
        margin-right: 0.5em;
        float: left;
      }
    }
  }

  .field-name-field-mcf-location {
    margin-bottom: 5px;
    
    .field-items {
      &:before {
        @include icon($fa-var-map-marker, $color: #333, $size: 1.2em);
        margin-right: 0.5em;
        padding: 0 3px;
        float: left;
      }
    }
  }
