.no-sidebars .node-full {
  margin: 0 auto;
  max-width: 640px;

  .block {
    padding: $gutters;

    @media #{$people-name-decorated} {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &.node-page {
    max-width: 100%;

    .block {
      padding: $gutters;
    }
  }
}
