// In The News
.pane-inthenews-inthenews-month-links {
  background-color: $ultralight;
}

.view-display-id-inthenews {
  .views-row{
    padding: 5px;
  }
  .views-row-odd {
    background-color: $ultralight;
  }
}
