// In The News

.view-display-id-inthenews {
  .views-row {
		@include hr;
	}

	.views-row-last {
		border-bottom: 0px;
	}
}

.node-news-content-type {
  .field-name-field-source {
    border-top: 1px solid $yellow;
    margin-top: 10px;
    padding-top: 10px;

    .field-label {
      &:before {
        @include icon($fa-var-share-square-o, $margin-right: 0.3em);
      }
    }
  }

  .field-name-field-published-date {
    .field-label {
      &:before {
        @include icon($fa-var-calendar, $margin-right: 0.3em);
      }
    }
  }
}
