body {
  background-color: #ddd;
  margin: 0;
}

#header-wrapper{
  background-color: #333;
  background: url('images/bg_tile.gif') repeat;
}

#header {
  background-color: #eee;
  background: url('images/header.png') no-repeat;
  background-repeat:no-repeat;
  background-position: top center;
  position: relative;

  @media #{$responsive-nav} {
    min-height: 230px;
  }
}

#branding {
  margin-bottom: 20px;
}

#logo {
  padding: 10px 0;
  @media #{$responsive-nav} {
    padding: 50px 10px 0 20px;
  }

  img {
    vertical-align: bottom;
  }
}

#site-name{
  @include offscreen;
}

#site-slogan {
  @include font-size(1.8);
  color: white;
  margin: -15px 0 0;
  padding: 0 10px;
  @include text-shadow(rgba(black, 0.2) 1px 1px 0, rgba(black, 0.2) 2px 2px 0, rgba(black, 0.2) 3px 3px 0);
  @media #{$responsive-nav} {
    padding-left: 80px;
  }
}

.site-logo {
  width: 320px;
}

#page-title {
  margin: 0;
  padding-left: 10px;
}

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}

// Page Content Areas
#main-content, 
#messages, 
.region-tertiary-content, 
#columns {
  background: $page;
}

#main-content-header {
  background-color: $main-content-header-bkgrd;
  border-bottom: 4px solid $yellow;
  color: #fff;
}

#messages {
  background-color: $main-content-header-bkgrd;
}

#footer-upper-wrapper {
  background-color: #333;
  background: url('images/bg_tile.gif') repeat;
  color: $text_footer;

  a {
    color: $text_footer;
  }
}

#footer-wrapper {
  background-color: $yellow;
  color: #000;
}