// People Nodes
#content {
  .pane-node-field-people-picture, .pane-node-title, .pane-node-field-people-position, .pane-node-field-people-email{
    .block-content{
      padding: 0px 10px;
    }
  }
}

.node-type-people {
  @media #{$responsive-nav} {
    #page-title{
      @include offscreen;
    }
  }
  .pane-node-field-people-picture{
    padding-top: 0px;
    img{
      @include blue-border;
    }
    @media #{$responsive-nav} {
      float: right;
      width: 50%;
    }
  }
  .pane-node-title{
    .pane-title {
      display: none;
    }
    .block-content{
      display: none;
      @media #{$responsive-nav} {
        display: block;
      }
    }
  }
  @media #{$nine-hundred} {
    .pane-node-title, .pane-node-field-people-position, .pane-node-field-people-email{
      text-align: right;
    }
    .pane-node-title {
      padding-top: 180px;
    }
    .pane-node-field-people-email {
      margin-bottom: 14px;
    }
  }
  .pane-node-title, .pane-node-field-people-position,
  .pane-node-field-people-email {
    overflow: hidden;
    width: 50%;
  }
  .pane-node-field-people-biography,
  .pane-node-field-people-responsibilities, .pane-node-field-people-group,
  .pane-node-links {
    overflow: inherit;
    min-width: 200px;
  }
}
// END People Nodes

// CONTENT PANE People View
.view-display-id-people_panel_pane, .view-display-id-people_panel_pane_professional {
  .views-row{
    min-height: 150px;
    @include hr;
  }
  .views-field-field-people-picture{
    display: block;
    float: left;
  }
  .views-field-title, .views-field-field-people-position .field-content, .views-field-field-people-type .field-content, .views-field-field-people-responsibilities{
    margin-left: 110px;
  }
}
