// People Nodes
.node-full.node-people {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  .block {
    padding: 5px $gutters;

    @media #{$people-name-decorated} {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  .field-label {
    //color: $people-field-label-color;
    @include font-size($base-font-size);
  }

  .pane-node-title {
    @include font-size(2.5);
    text-align: center;
    border-bottom: 1px solid $yellow;
    margin-bottom: 10px;

    @media #{$people-name-decorated} {
      @include font-size(3);
    }

    .block-content {
      &:before, &:after {
        @media #{$people-name-decorated} {
          color: #707070;
          content: "-";
          margin: 0 0.5em;
        }
      }
    }
  }

  .field-name-field-people-picture {
    text-align: center;

    img {
      @extend %rounded-image;
    }
  }

  .field-name-field-people-member-since {
    .field-label:before {
      @include icon($fa-var-group, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-people-major {
    .field-label:before {
      @include icon($fa-var-pencil, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-people-hometown {
    .field-label:before {
      @include icon($fa-var-home, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-people-student-status {
    .field-label:before {
      @include icon($fa-var-calendar, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-people-position {
    .field-label:before {
      @include icon($fa-var-user, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-people-phone {
    .field-label:before {
      @include icon($fa-var-phone, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-people-email {
    .field-label:before {
      @include icon($fa-var-envelope-o, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-people-office {
    .field-label:before {
      @include icon($fa-var-map-marker, $margin-right: $field-label-icon-margin);
    }
  }
  
  .field-name-field-people-responsibilities {
    margin-top: 10px;

    .field-label {
      @include font-size(1.8);
      display: block;
      border-bottom: 1px solid $yellow;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }
  }

  .field-name-field-people-biography {
    margin-top: 10px;

    .field-label {
      @include font-size(1.8);
      display: block;
      border-bottom: 1px solid $yellow;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }
  }
}

// CONTENT PANE People View
.view-display-id-people_panel_pane, .view-display-id-people_panel_pane_professional, .view-display-id-people_panel_pane_student {
  .views-row{
    min-height: 150px;
    @include hr;
  }
  .views-field-field-people-picture{
    display: block;
    float: left;
  }
  .views-field-title, .views-field-field-people-position .field-content, .views-field-field-people-type .field-content, .views-field-field-people-responsibilities{
    margin-left: 110px;
  }
}
