// Global quicktabs styles
ul.quicktabs-tabs {
  border-bottom: 1px solid #D0D0D0;
  border-collapse: collapse;
  font: inherit;
  padding: 0 10px;

  li {
    margin: 0px;
    padding: 0 5px;

    a {
      background-color: #fff;
      border: 1px solid #D0D0D0;
      color: $blue;
      padding: 5px 10px 0px;

      &:hover, &:focus {
        color: #363636;
        text-decoration: none;
      }
    }

    &.active {
      a {
        border-color: #D0D0D0 #D0D0D0 #FFFFFF;
        border-style: solid;
        border-width: 1px;
        color: #333;
      }
    }
  }
}

// Announcments and Events tabs on the front page
.front .pane-quicktabs-announcements-events {
  ul.quicktabs-tabs li a {
    @include font-size(2);
  }

  .block-inner {
    border-bottom: 2px solid $blue;
  }

  .pane-title {
    @include offscreen;
  }
  .views-field-title {
    @include font-size(1.6);
  }
}

// Announcments and Events tabs on subpages
.pane-quicktabs-subpage-announcements-events {
  .pane-title {
    @include offscreen;
  }

  ul.quicktabs-tabs {
    padding: 0 5px;

    li {
      padding: 0 3px;

      a {
        padding: 2px 5px 0;
        @include font-size(1.8);
      }
    }
  }

  h3 {
    @include font-size(1.5);
  }
}
