// Related Links
.field-name-field-audience-links, .field-name-field-program-links {
  .field-items {
    .field-item {
      @include inline-block;
      margin-bottom: 10px;
      padding: 0 0.5*$gutters;
      width: 100%;

      &:first-of-type {
        @media #{$drupal-sidebar-inline} {
          padding-left: 0;
        }
      }

      &:last-of-type {
        @media #{$drupal-sidebar-inline} {
          padding-right: 0;
        }
      }

      a {
        background-color: $blue;
        color: white;
        display: block;
        font-family: $hireahawk;
        font-weight: normal;
        padding: 10px 5px;
        text-align: center;

        &:hover {
          background-color: black;
          color: white;
          text-decoration: none;
        }
       }
    }
    // Adjust item width based on number of links 1-4 column.
    @media #{$drupal-sidebar-inline} {
      @for $i from 1 through 4 {
        .field-item:first-of-type:nth-last-child(#{$i}),
        .field-item:first-of-type:nth-last-child(#{$i}) ~ .field-item {
          width: #{100%/$i};
        }
      }
    }
  }
}
