// Spotlight Entity Teaser
.view-display-id-spotlight_teaser_pane {
  .view-content{
    margin-bottom: 10px;
  }
  .views-field-field-spotlight-image{
    display: block;
    text-align: center;
    margin: 3px;
    float: right;
    img{
      @include blue-border;
    }
  }
}

// CONTENT PANE Spotlight List
.view-display-id-spotlights_panel_pane {
  .views-row {
    min-height: 105px;
    @include hr;
  }
  .views-field {
    margin: 0px;
  }
  .field-content {
    margin-left: 110px;
  }
  .views-field-field-spotlight-image {
    float: left;
    margin-right: 10px;
    img {
      @include blue-border;
    }
    .field-content {
      margin-left: 0px;
    }
  }
}

// Spotlight Nodes
.node-full.node-spotlight {
  .pane-node-field-spotlight-name {
    @include font-size(2.5);
    text-align: center;
    border-bottom: 1px solid $yellow;
    margin-bottom: 10px;

    @media #{$people-name-decorated} {
      @include font-size(3);
    }

    .field-name-field-spotlight-name .field-item {
      &:before, &:after {
        @media #{$people-name-decorated} {
          color: #707070;
          content: "-";
          margin: 0 0.5em;
        }
      }
    }
  }

  .field-name-field-spotlight-image {
    text-align: center;

    img {
      @include blue-border;
    }
  }

  .field-name-field-spotlight-organization {
    .field-label:before {
      @include icon($fa-var-group, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-spotlight-major {
    .field-label:before {
      @include icon($fa-var-pencil, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-spotlight-graduation {
    .field-label:before {
      @include icon($fa-var-calendar, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-spotlight-position {
    .field-label:before {
      @include icon($fa-var-user, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-field-spotlight-location {
    .field-label:before {
      @include icon($fa-var-map-marker, $margin-right: $field-label-icon-margin);
    }
  }

  .field-name-body {
    margin-top: 10px;

    .field-label {
      @extend %underlined-field-label;
    }
  }
}