// Spotlight Entity Teaser
.view-display-id-spotlight_teaser_pane {
  .views-field-field-spotlight-image{
    display: block;
    text-align: center;
    margin: 3px;
    float: right;
    img{
      @include blue-border;
    }
  }
}

// CONTENT PANE Spotlight List
.view-display-id-spotlights_panel_pane {
  .views-row {
    @include hr;
  }
  .views-field {
    margin: 0px;
  }
  .views-field-field-spotlight-image {
    img {
      @include blue-border;
    }
  }
}

// Spotlight Node
.node-type-spotlight {
  #content {
    .block-content{
      padding: 0px 10px;
    }
  }
}
