// Success Stories Teaser
.view-display-id-success_stories_teaser_content_pane {
  margin: 10px;
  .views-field-field-profile-image {
    float:right;
    img{
      padding:10px;
    }
  }
  .views-field-title-1 {
    text-align: right;
  }
}
