// YouTube Embeds
.media-youtube-video {
  text-align: center;

  .media-youtube-player{
    width: 100%;
    max-width: 640px;
  }
  #player {
    height: auto;
    width: auto;
  }
}

.field-name-field-video-screenshot{
  text-align: center;
}

// CONTENT PANE Video View
.view-display-id-video_panel_pane {
  .views-row{
    min-height: 105px;
    @include hr;
  }
  .views-field-field-video-file, .views-field-field-video-screenshot{
    display: block;
    float: left;
  }
  .views-field-title, .views-field-field-video-description{
    margin-left: 110px;
  }
}
