// YouTube Embeds
.media-youtube-video {
  text-align: center;
  position: relative;
  max-width: 95%;
  margin: 0 auto;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.field-name-field-video-screenshot{
  text-align: center;
}

// CONTENT PANE Video View
.view-display-id-video_panel_pane {
  .views-row{
    min-height: 105px;
    @include hr;
  }
  .views-field-field-video-file, .views-field-field-video-screenshot{
    display: block;
    float: left;
  }
  .views-field-title, .views-field-field-video-description{
    margin-left: 110px;
  }
}
