// YouTube Embeds

// Fluid width youtube videos
@include breakpoint(max-width 680px) {
  .file-default, .file-full {
    &.media-youtube-video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }

    iframe.media-youtube-player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

@include breakpoint(max-width 600px) {
  .file-teaser {
    &.media-youtube-video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }

    iframe.media-youtube-player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

// Fit vidoes in footer of audience/program pages
.stella-footer {
  .media-youtube-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  iframe.media-youtube-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}




.field-name-field-video-screenshot, .field-name-field-video-link{
  text-align: center;
}

// CONTENT PANE Video View
.view-display-id-video_panel_pane {
  .views-row {
    min-height: 105px;
    @include hr;
  }
  .views-field-field-video-file, .views-field-field-video-screenshot{
    display: block;
    float: left;
  }
  .views-field-title, .views-field-field-video-description{
    margin-left: 110px;
  }
}

// Styles for Video nodes
.node-full.node-video {
  .field-name-field-video-file {
    //text-align: center;
  }

  .field-label-above .field-label {
    @extend %underlined-field-label;
  }
}
