#breadcrumb {
  margin: 0;
  padding: 10px;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    @include font-size(1);
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }
}
