// Site Links Menu - Responsive Navigation
#block-responsive-navigation-1 {
  padding: 0px;
  position: relative;
  @include font-size(1.8);
  
  @media #{$responsive-nav} {
    background-color: transparent;
    @include font-size(1.4);
  }

  a#nav-toggle {
    background-color: #000;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    display: block;
    padding-left: 5px;

    &:before {
      @include icon($fa-var-reorder, $size: 1.2em);
      padding-right: 5px;
      vertical-align: middle;
    }

    &:hover {
      color: $yellow;
      text-decoration: none;
    }

    @media #{$responsive-nav} {
      display: none;
    }
  }

  #nav {
    ul {
      text-align: center;

      @media #{$responsive-nav} {
        text-align: right;
      }
    }

    li {
      @media #{$responsive-nav} {
        @include inline-block;
        width: auto;
      }
    }

    a {
      background-color: #000;
      background-color: rgba(0,0,0,0.7);
      color: #fff;
      display: block;
      padding: 6px;

      &:hover, &:focus {
        background-color: #fff;
        color: #333;
        text-decoration: none;
      }
    }
  }
}
