a.social-media {
  line-height: 2em;

  &:before {
    margin-right: 0.3em;
    @include font-size(2.5);
  }

  &:hover {
    text-decoration: none;
  }
}

a[href*="facebook.com"]:before {
  @include icon($fa-var-facebook);
}

a[href*="twitter.com"]:before {
  @include icon($fa-var-twitter);
}

a[href*="linkedin.com"]:before {
  @include icon($fa-var-linkedin);
}

a[href*="pinterest.com"]:before {
  @include icon($fa-var-pinterest);
}

a[href*="youtube.com"]:before {
  @include icon($fa-var-youtube);
}

a[href*="instagram.com"]:before {
  @include icon($fa-var-instagram);
}
