.field-label {
  @include font-size($base-font-size);
}

.field-label-inline {
  .field-label, .field-items {
    @include inline-block;
    float: none;
    margin-right: 1px; // IE Fix
    vertical-align: baseline;
  }
}
