// 1-3 Column Footer
.stella-footer-inner {
  .block {
    float: left;
    width: 100%;
  }
  
  @media #{$desktop} {
    // Adjust block width based on number of blocks 1-3 column. required removal of panel-separator. see template.php
    @for $i from 1 through 3 {
      .block:first-of-type:nth-last-child(#{$i}),
      .block:first-of-type:nth-last-child(#{$i}) ~ .block {
        width: #{100%/$i};
      }
    }
  }
}

#footer-upper-wrapper .region {
  @media #{"only screen and (min-width: 481px)"} {
    float: left;
    width: 50%;

    &.region-footer-third {
      clear: left;
    }
  }

  @media #{"only screen and (min-width: 769px)"} {
    width: 25%;

    &.region-footer-third {
      clear: none;
    }
  }
}
