html {
  background: $page;
  font-size: 62.5%;
}

body {
  color: $text_default;;
  background-color: $page;
  font-family: $base-font; // Set from _custom.scss font variables
  @include font-size(1.4);
}

p {
  margin: 0 0 $font-block-spacing 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $font-block-spacing 0;
  @include font-size(1.8);
  line-height: normal;
}

h1 {
  @include font-size(3.0);
}


h2 {
  @include font-size(2);
}


h3 {
  @include font-size(1.8);
}


h4 {
  @include font-size(1.6);
}


a {
  color: $links;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $links_focus;
  }
}


img {
  height: auto;
  max-width: 100%;

  .lt-ie9 & {
    max-width: auto;
  }
}
